backups/Backup.json
{"createdAt":"2025-04-25T18:07:33.076Z","updatedAt":"2025-04-25T18:28:58.254Z","id":"dbQ571a78EdrQ74f","name":"Backup","active":false,"nodes":[{"parameters":{},"id":"5d341915-741c-4517-b3e4-ad66bf693a8a","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[480,80],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":731.7039821513649,"width":1910.7813046051347,"color":6},"id":"b0d2cc72-06d9-4e0b-9e3b-12a165fc8cbe","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,460],"typeVersion":1},{"parameters":{},"id":"db792d78-8756-4e7f-9ebf-2ef0fd9facb8","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-320,560],"typeVersion":1,"disabled":true},{"parameters":{"filters":{},"requestOptions":{}},"id":"10032183-5168-4009-8547-d26f89750a44","name":"n8n","type":"n8n-nodes-base.n8n","position":[1100,180],"typeVersion":1,"credentials":{"n8nApi":{"id":"JsBsfMZPIjSfWRaD","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"38830c2e-ac03-4dd2-83a6-f81d14a15430","name":"Return","type":"n8n-nodes-base.set","position":[1720,660],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"9c6cf0ec-21df-41c4-8c93-ac3e9a074dcb","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[680,540],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"12f337f4-350f-41d5-8d67-e19a0a432576","name":"If file too large","type":"n8n-nodes-base.if","position":[440,560],"typeVersion":2},{"parameters":{},"id":"3f5926ef-8084-43f1-b96b-679416c1ad84","name":"Merge Items","type":"n8n-nodes-base.merge","position":[440,820],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"},"id":"715672fa-3d1d-43f7-a54a-0d22374bc326","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[640,820],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"77421703-563e-4281-8a3d-946302561799","name":"Check Status","type":"n8n-nodes-base.switch","position":[1040,820],"typeVersion":1},{"parameters":{},"id":"f1e66678-b1f8-4776-9670-3f9eda2f0ab5","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1260,660],"typeVersion":1},{"parameters":{},"id":"4de98f3d-1129-4065-89dc-91559f2050a5","name":"File is different","type":"n8n-nodes-base.noOp","position":[1260,820],"typeVersion":1},{"parameters":{},"id":"43073489-df05-46fa-90c4-6a6bcf8f09af","name":"File is new","type":"n8n-nodes-base.noOp","position":[1260,1020],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"ryancbutler","mode":"name"},"repository":{"__rl":true,"value":"https://github.com/ryancbutler/n8nbackup","mode":"url"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"ee881f84-c057-48eb-b2b0-4f2fa587496c","name":"Create new file","type":"n8n-nodes-base.github","position":[1480,1020],"typeVersion":1,"webhookId":"6082c001-a877-495e-b2cf-c7de9c0b6246","credentials":{"githubApi":{"id":"687zdwT2NbUZuXGT","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"ryanccbutler","mode":"name"},"repository":{"__rl":true,"value":"https://github.com/ryancbutler/n8nbackup","mode":"url"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"dacf631e-0331-4546-86bf-e90f5d94cf9a","name":"Edit existing file","type":"n8n-nodes-base.github","position":[1480,820],"typeVersion":1,"webhookId":"66985025-a7c2-42ac-9f5a-3926ab7dfa05","credentials":{"githubApi":{"id":"687zdwT2NbUZuXGT","name":"GitHub account"}}},{"parameters":{"options":{}},"id":"f47b806f-0dfd-43c3-b118-7526ffe1f215","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1300,180],"typeVersion":3},{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":33}]}},"id":"845cf360-4593-4cf3-8a5c-9bb48d310cbe","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[480,280],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"dae43d3b-56e5-4098-b602-862ebf5cd073","name":"subPath","type":"string","value":"={{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/"}]},"includeOtherFields":true,"options":{}},"id":"7b8a995f-21dc-4273-82b8-97da54489b2a","name":"Create sub path","type":"n8n-nodes-base.set","position":[840,820],"typeVersion":3.3},{"parameters":{"content":"## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.","height":417,"width":385,"color":4},"id":"30ec759c-1044-4633-b97e-3177e7b719f6","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## Main workflow loop","height":416.1856906618075,"width":1272.6408145680155,"color":7},"id":"48cced61-83bf-494f-8768-273631e1d0d5","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[440,0],"typeVersion":1},{"parameters":{"workflowId":"={{ $workflow.id }}","mode":"each","options":{}},"id":"7a3900dc-179d-412d-8511-989c35cefdbb","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[2260,160],"typeVersion":1,"disabled":true,"onError":"continueErrorOutput"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"ryancbutler","mode":"name"},"repository":{"__rl":true,"value":"https://github.com/ryancbutler/n8nbackup","mode":"url"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"9f58c172-aeb3-490c-a620-1ae3883ab373","name":"Get file data","type":"n8n-nodes-base.github","position":[260,540],"typeVersion":1,"alwaysOutputData":true,"webhookId":"839d99d7-e980-4f4f-a7ac-a0cc3c1c654c","credentials":{"githubApi":{"id":"687zdwT2NbUZuXGT","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"8f6d1741-772f-462a-811f-4c334185e4f0","name":"repo_owner","type":"string","value":"=ryancbutler"},{"id":"8cac215c-4fd7-422f-9fd2-6b2d1e5e0383","name":"repo_name","type":"string","value":"=n8nbackup"},{"id":"eee305e9-4164-462a-86bd-80f0d58a31ae","name":"repo_path","type":"string","value":"=backups"}]},"includeOtherFields":true,"options":{}},"id":"a5f97852-7710-4eed-b60d-099c2593c7bf","name":"Config","type":"n8n-nodes-base.set","position":[240,840],"typeVersion":3.4},{"parameters":{"chatId":"1886832379","text":"=:information_source:  Starting Workflow Backup [{{ $execution.id }}]","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[800,180],"id":"1a41568f-3631-444e-8619-d17fe60e292b","name":"Telegram","webhookId":"cd347f37-11c7-418d-89a5-90235cc91ee2","credentials":{"telegramApi":{"id":"zCg94anbG4RLthQ5","name":"Telegram account"}}},{"parameters":{"chatId":"1886832379","text":"=✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1520,20],"id":"9654501a-c1f8-4d80-85d1-1e19fdd41d81","name":"Telegram1","webhookId":"cd347f37-11c7-418d-89a5-90235cc91ee2","credentials":{"telegramApi":{"id":"zCg94anbG4RLthQ5","name":"Telegram account"}}},{"parameters":{"chatId":"1886832379","text":"=:x: Failed to backup {{ $('Loop Over Items').item.json.id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1780,220],"id":"59b72c55-2d86-48e8-bf07-2829a1407331","name":"Telegram2","webhookId":"cd347f37-11c7-418d-89a5-90235cc91ee2","credentials":{"telegramApi":{"id":"zCg94anbG4RLthQ5","name":"Telegram account"}}}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Config":{"main":[[{"node":"Get file data","type":"main","index":0},{"node":"Merge Items","type":"main","index":1}]]},"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Create sub path","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Create sub path":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Telegram1","type":"main","index":0}],[{"node":"Config","type":"main","index":0}]]},"Execute Workflow":{"main":[[],[]]},"Schedule Trigger":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[]]},"Telegram":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Telegram2":{"main":[[]]},"Return":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"10e929ad-041f-4939-85e3-2498c62447bc","triggerCount":0,"tags":[]}