backups/HR Bot Supabase.json
{"createdAt":"2025-04-28T02:02:04.451Z","updatedAt":"2025-04-28T02:53:36.605Z","id":"KdjeYWPAqYVjPW6i","name":"HR Bot Supabase","active":true,"nodes":[{"parameters":{"content":"## 1. Download & Extract Internal Policy Documents\n[Read more about the HTTP Request Tool](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest)\n\nBegin by importing the PDF documents that contain your internal policies and FAQs—these will become the knowledge base for your Internal Helpdesk Assistant. For example, you can store a company handbook or IT/HR policy PDFs on a shared drive or cloud storage and reference a direct download link here.\n\nIn this demonstration, we'll use the **HTTP Request node** to fetch the PDF file from a given URL and then parse its text contents using the **Extract from File node**. Once extracted, these text chunks will be used to build the vector store that underpins your helpdesk chatbot’s responses.\n\n[Example Employee Handbook with Policies](https://s3.amazonaws.com/scschoolfiles/656/employee_handbook_print_1.pdf)","height":460,"width":780,"color":7},"id":"d0f8dd2c-cd07-4c33-961f-7564ae2bb83f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{},"id":"808d9814-b82f-493d-830a-42c3344f1c0d","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[20,280],"typeVersion":1},{"parameters":{"operation":"pdf","options":{}},"id":"41d9485d-27eb-43e7-a38d-63f7240bc655","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","position":[580,300],"typeVersion":1},{"parameters":{"content":"## 2. Create Internal Policy Vector Store\n[Read more about the In-Memory Vector Store](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.vectorstoreinmemory/)\n\nVector stores power the retrieval process by matching a user's natural language questions to relevant chunks of text. We'll transform your extracted internal policy text into vector embeddings and store them in a database-like structure.\n\nWe will be using PostgreSQL which has production ready vector support.\n\n**How it works**  \n1. The text extracted in Step 1 is split into manageable segments (chunks).  \n2. An embedding model transforms these segments into numerical vectors.  \n3. These vectors, along with metadata, are stored in PostgreSQL.  \n4. When users ask a question, their query is embedded and matched to the most relevant vectors, improving the accuracy of the chatbot's response.","height":1020,"width":780,"color":7},"id":"4d39e887-56dc-46d1-88a9-71a35277ef8e","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[840,0],"typeVersion":1},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"77220915-4c80-4a16-8bd4-a8fa1629a486","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","position":[1720,520],"webhookId":"0068cadc-13d0-4533-963f-76ecbc65e7ad","typeVersion":1.1,"credentials":{"telegramApi":{"id":"zCg94anbG4RLthQ5","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"array","operation":"contains","rightType":"any"},"leftValue":"={{ $json.message.keys()}}","rightValue":"text"}]},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"d16eb899-cccb-41b6-921e-172c525ff92c","operator":{"type":"array","operation":"contains","rightType":"any"},"leftValue":"={{ $json.message.keys()}}","rightValue":"voice"}]},"renameOutput":true,"outputKey":"Audio"}]},"options":{"fallbackOutput":"extra"}},"id":"acc1a1ee-5b4b-489c-b704-b85d255c890c","name":"Verify Message Type","type":"n8n-nodes-base.switch","position":[1920,520],"typeVersion":3.2,"alwaysOutputData":false},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{}},"id":"fd8c750b-95e1-4aa6-99a1-e0448f86898c","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","position":[2640,660],"typeVersion":1.8,"credentials":{"openAiApi":{"id":"IAPdFCUrAWR1K4iM","name":"OpenAi account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"id":"435161ab-01c7-405a-a76d-bac9b774d22b","name":"Telegram1","type":"n8n-nodes-base.telegram","position":[2420,660],"typeVersion":1.2,"webhookId":"5691d755-4528-45e4-a655-9cd3fb06579a","credentials":{"telegramApi":{"id":"zCg94anbG4RLthQ5","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"I'm not able to process this message type.","additionalFields":{}},"id":"caf93013-e298-4622-85d1-87dc174ae873","name":"Unsupported Message Type","type":"n8n-nodes-base.telegram","position":[2500,840],"typeVersion":1.2,"webhookId":"1e322cfa-67b0-4203-8a1b-bb1a3bf3785e","credentials":{"telegramApi":{"id":"zCg94anbG4RLthQ5","name":"Telegram account"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"You are a helpful assistant for HR and employee policies. You are very friendly and you sound very British."}},"id":"272b25aa-b7a6-43c2-b84e-8b3f88e22f64","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[3160,680],"typeVersion":1.7},{"parameters":{"options":{}},"id":"8b50a285-7b30-452f-8636-84062221cd4a","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[3100,1120],"typeVersion":1.1,"credentials":{"openAiApi":{"id":"IAPdFCUrAWR1K4iM","name":"OpenAi account"}}},{"parameters":{"name":"hr_employee_policies","description":"data for HR and employee policies"},"id":"4a76fcab-353a-44d1-956d-3f3e8103390a","name":"Answer questions with a vector store","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[3660,860],"typeVersion":1},{"parameters":{"options":{}},"id":"4ef26633-00d4-4750-a102-421cc6d11990","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[3940,1060],"typeVersion":1.1,"credentials":{"openAiApi":{"id":"IAPdFCUrAWR1K4iM","name":"OpenAi account"}}},{"parameters":{"options":{}},"id":"faf79bec-9cbc-4bdf-8391-3686b6e6c0ee","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[3520,1200],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"IAPdFCUrAWR1K4iM","name":"OpenAi account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"69778e83-0531-48f6-abf7-ba18111dc2c9","name":"Telegram","type":"n8n-nodes-base.telegram","position":[4500,700],"typeVersion":1.2,"webhookId":"6a629dfe-0d50-4ef9-9bd1-7ca6c4aaef5e","credentials":{"telegramApi":{"id":"zCg94anbG4RLthQ5","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"403b336f-87ce-4bef-a5f2-1640425f8198","name":"text","type":"string","value":"={{ $json.message.text }}"}]},"includeOtherFields":true,"options":{}},"id":"00c08160-c698-4206-9b55-27cccb6a0942","name":"Edit Fields","type":"n8n-nodes-base.set","position":[2420,480],"typeVersion":3.4},{"parameters":{"content":"## 3. Handling Messages with Fallback Support\n\nThis workflow processes Telegram messages to handle **text** and **voice** inputs, with a fallback for unsupported message types. Here’s how it works:\n\n1. **Trigger Node**:\n   - The workflow starts with a Telegram trigger that listens for incoming messages.\n\n2. **Message Type Check**:\n   - The workflow verifies the type of message received:\n     - **Text Message**: If the message contains `$json.message.text`, it is sent directly to the agent.\n     - **Voice Message**: If the message contains `$json.message.voice`, the audio is transcribed into text using a transcription service, and the result is sent to the agent.\n\n3. **Fallback Path**:\n   - If the message is neither text nor voice, a fallback response is returned:\n     `\"Sorry, I couldn’t process your message. Please try again.\"`\n\n4. **Unified Output**:\n   - Both text messages and transcribed voice messages are converted into the same format before sending to the agent, ensuring consistency in handling.\n","height":1020,"width":1300,"color":4},"id":"7f5ee1f5-afa5-4225-bd14-b84852b51347","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1640,0],"typeVersion":1},{"parameters":{"content":"The setup needs to be run at the start or when data is changed","height":80,"width":260},"id":"81745de5-2f8a-4755-9e02-7f41575a0964","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[520,500],"typeVersion":1},{"parameters":{"content":"## 4. HR & IT AI Agent Provides Helpdesk Support  \nn8n's AI agents allow you to create intelligent and interactive workflows that can access and retrieve data from internal knowledgebases. In this workflow, the AI agent is configured to provide answers for HR and IT queries by performing Retrieval-Augmented Generation (RAG) on internal documents.\n\n### How It Works:\n- **Internal Knowledgebase Access**: A **Vector store tool** is used to connect the agent to the HR & IT knowledgebase built earlier in the workflow. This enables the agent to fetch accurate and specific answers for employee queries.\n- **Chat Memory**: A **Chat memory subnode** tracks the conversation, allowing the agent to maintain context across multiple queries from the same user, creating a personalized and cohesive experience.\n- **Dynamic Query Responses**: Whether employees ask about policies, leave balances, or technical troubleshooting, the agent retrieves relevant data from the vector store and crafts a natural language response.\n\nBy integrating the AI agent with a vector store and chat memory, this workflow empowers your HR & IT helpdesk chatbot to provide quick, accurate, and conversational support to employees. \n\nPostgrSQL is used for all steps to simplify development in production.","height":1420,"width":1180,"color":4},"id":"6b5b6eb5-6fe5-4892-ab3d-5eff023f275d","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2980,0],"typeVersion":1},{"parameters":{"content":"## 5. Send Message\n\nThe simplest and most important part :)","height":280,"width":540,"color":4},"id":"441f2d7c-a75c-404c-a583-931fa0943b78","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[4200,580],"typeVersion":1},{"parameters":{"resource":"fileFolder","queryString":"*.pdf","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1OVcECzaFrTMFJNV1Lq6LTrx8dJPj4eE8","mode":"list","cachedResultName":"Testing","cachedResultUrl":"https://drive.google.com/drive/folders/1OVcECzaFrTMFJNV1Lq6LTrx8dJPj4eE8"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[200,280],"id":"b2e074db-6be2-418c-9b05-bac9a8bb1d3f","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"YCadLSS3rKSwrsw4","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[380,280],"id":"1f0a95bc-b8e9-44e0-bb8d-a0ce3a255694","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"YCadLSS3rKSwrsw4","name":"Google Drive account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[3320,900],"id":"218a9cc2-fa65-4964-9a49-88a72aa5b68a","name":"Calculator"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[1000,380],"id":"e2f976f0-385c-4376-ac2f-915a7b1114de","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"hUwYeWNtY85G0WXK","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[860,680],"id":"7280638c-41f0-4554-bc1e-1577d600b0dc","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"IAPdFCUrAWR1K4iM","name":"OpenAi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Extract from File').item.json.text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1040,680],"id":"615b60be-0b92-4206-bf0a-47718cb0db92","name":"Default Data Loader1"},{"parameters":{"chunkSize":2000,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1140,900],"id":"284f8b43-ec12-4b52-bd90-b4e88d384ab7","name":"Recursive Character Text Splitter1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"id":"c928180c-32bd-4e76-bffc-1dc6fe2625b9","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","position":[3260,1100],"typeVersion":1.3,"credentials":{"postgres":{"id":"uFwg5OQbb3tpwBJ0","name":"Postgres account"}}},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[3520,1040],"id":"e0580e4f-24ae-477d-9931-b399b1abbdd9","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"hUwYeWNtY85G0WXK","name":"Supabase account"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive').item.json.id }}","mode":"id"},"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1wuwcsmTWkrVMLrvJRepHEEZYlcSwVAuv","mode":"list","cachedResultName":"processed","cachedResultUrl":"https://drive.google.com/drive/folders/1wuwcsmTWkrVMLrvJRepHEEZYlcSwVAuv"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[520,660],"id":"58ed48f7-2ed2-4cc8-895c-26c2cbe1c8d9","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"YCadLSS3rKSwrsw4","name":"Google Drive account"}}}],"connections":{"OpenAI":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Verify Message Type","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0},{"node":"Google Drive2","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Answer questions with a vector store","type":"ai_languageModel","index":0}]]},"Verify Message Type":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}],[{"node":"Unsupported Message Type","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Answer questions with a vector store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Drive":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Supabase Vector Store1":{"ai_vectorStore":[[{"node":"Answer questions with a vector store","type":"ai_vectorStore","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aa7706fe-e45e-4ec0-b74b-0406af8cb6b9","triggerCount":1,"tags":[]}