backups/HR Bot Supabase Chat PROXY.json
{"updatedAt":"2025-11-07T22:07:41.096Z","createdAt":"2025-11-07T15:39:39.910Z","id":"ofvqBWiAGQAzdk6w","name":"HR Bot Supabase Chat PROXY","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"You are a helpful assistant for HR and employee policies. You are very friendly and you sound very British."}},"id":"d6f8dc7a-6883-4fe7-b822-07ec59f9ec81","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[3168,688],"typeVersion":1.7},{"parameters":{"model":"gpt-4.1-mini","options":{}},"id":"8ea68ff6-6cdd-4d4c-9212-68bfa888a117","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[3104,1120],"typeVersion":1.1,"credentials":{"openAiApi":{"id":"IAPdFCUrAWR1K4iM","name":"OpenAi account"}}},{"parameters":{"name":"hr_employee_policies","description":"data for HR and employee policies"},"id":"8926436a-4405-4b3f-b046-523b9f376828","name":"Answer questions with a vector store","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[3664,864],"typeVersion":1},{"parameters":{"model":"openai/gpt-4.1-mini","options":{}},"id":"bf0d101d-9ea3-4d4f-b3d5-f1d23895ef6f","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[3952,1072],"typeVersion":1.1,"credentials":{"openAiApi":{"id":"IeCzKpZaa2FGYrCU","name":"OpenAi LLM Proxy"}}},{"parameters":{"model":"openai/text-embedding-3-small","options":{}},"id":"768cb070-adf7-4b49-afeb-71d9d67eb9fe","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[3520,1200],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"IeCzKpZaa2FGYrCU","name":"OpenAi LLM Proxy"}}},{"parameters":{"assignments":{"assignments":[{"id":"403b336f-87ce-4bef-a5f2-1640425f8198","name":"text","type":"string","value":"={{ $json.chatInput }}"}]},"includeOtherFields":true,"options":{}},"id":"38262b15-06a6-437a-8848-a80e0de7ee1a","name":"Edit Fields","type":"n8n-nodes-base.set","position":[2432,480],"typeVersion":3.4},{"parameters":{"content":"## 4. HR & IT AI Agent Provides Helpdesk Support  \nn8n's AI agents allow you to create intelligent and interactive workflows that can access and retrieve data from internal knowledgebases. In this workflow, the AI agent is configured to provide answers for HR and IT queries by performing Retrieval-Augmented Generation (RAG) on internal documents.\n\n### How It Works:\n- **Internal Knowledgebase Access**: A **Vector store tool** is used to connect the agent to the HR & IT knowledgebase built earlier in the workflow. This enables the agent to fetch accurate and specific answers for employee queries.\n- **Chat Memory**: A **Chat memory subnode** tracks the conversation, allowing the agent to maintain context across multiple queries from the same user, creating a personalized and cohesive experience.\n- **Dynamic Query Responses**: Whether employees ask about policies, leave balances, or technical troubleshooting, the agent retrieves relevant data from the vector store and crafts a natural language response.\n\nBy integrating the AI agent with a vector store and chat memory, this workflow empowers your HR & IT helpdesk chatbot to provide quick, accurate, and conversational support to employees. \n\nPostgrSQL is used for all steps to simplify development in production.","height":1420,"width":1180,"color":4},"id":"532640e7-ca82-4f62-b775-2f25504000e5","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2992,0],"typeVersion":1},{"parameters":{"content":"## 5. Send Message\n\nThe simplest and most important part :)","height":280,"width":540,"color":4},"id":"a4de161c-c470-4cb4-8733-12215d2f65e7","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[4208,592],"typeVersion":1},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[3488,848],"id":"e98251c6-727f-432c-9814-bc909ba08758","name":"Calculator"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}"},"id":"f416bef7-e087-4661-aaee-3d021e379931","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","position":[3264,1104],"typeVersion":1.3,"credentials":{"postgres":{"id":"uFwg5OQbb3tpwBJ0","name":"Postgres account"}}},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[3520,1040],"id":"a3c5a3ea-c723-4746-a9af-5bf89214e79f","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"hUwYeWNtY85G0WXK","name":"Supabase account"}}},{"parameters":{"public":true,"initialMessages":"Hi there! 👋\nHow can I assist you today?","options":{"responseMode":"responseNodes"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[2080,496],"id":"c4dc2a52-4059-4990-8e46-c445bc65aa1a","name":"When chat message received","webhookId":"80700341-7875-4299-b098-d0cf84de07ca"},{"parameters":{"message":"={{ $json.output }}","waitUserReply":false,"options":{"memoryConnection":true}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[4400,720],"id":"0df74a64-7dea-46c7-a208-f40a1a298140","name":"Respond to Chat"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4416,928],"id":"93a1fcd4-a576-4f9d-aafe-a319ed16195f","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"uFwg5OQbb3tpwBJ0","name":"Postgres account"}}}],"connections":{"AI Agent":{"main":[[{"node":"Respond to Chat","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Answer questions with a vector store","type":"ai_languageModel","index":0}]]},"Answer questions with a vector store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Supabase Vector Store1":{"ai_vectorStore":[[{"node":"Answer questions with a vector store","type":"ai_vectorStore","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Respond to Chat":{"main":[[]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Respond to Chat","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b7f62317-1029-4b0a-bcdb-80003650e7f9","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-11-07T15:39:39.910Z","createdAt":"2025-11-07T15:39:39.910Z","role":"workflow:owner","workflowId":"ofvqBWiAGQAzdk6w","projectId":"jFzgn8YND5hEbIq7"}],"activeVersion":null,"tags":[]}