backups/Hybrid Search with Qdrant & n8n, Legal AI: Indexing.json
{"updatedAt":"2026-04-22T17:06:10.615Z","createdAt":"2026-04-22T17:06:10.615Z","id":"pRQb1dxCWvqmTDSV","name":"Hybrid Search with Qdrant & n8n, Legal AI: Indexing","active":false,"isArchived":false,"nodes":[{"parameters":{"vectors":"{\n  \"mxbai_large\": \n  {\n    \"size\": 1024,\n    \"distance\": \"Cosine\"\n  }\n}","operation":"createCollection","shardNumber":{},"sparseVectors":"{\n  \"bm25\": \n  {\n    \"modifier\": \"idf\"\n  }\n}","collectionName":"legalQA_test","requestOptions":{},"replicationFactor":{},"writeConsistencyFactor":{}},"id":"05ed43de-2d4f-413c-ba39-72587e976988","name":"Create Collection","type":"n8n-nodes-qdrant.qdrant","position":[544,496],"typeVersion":1,"credentials":{}},{"parameters":{"operation":"collectionExists","collectionName":"legalQA_test","requestOptions":{}},"id":"93369ff0-225b-4502-b5d5-21d7fcb53f8d","name":"Check Collection Exists","type":"n8n-nodes-qdrant.qdrant","position":[192,416],"typeVersion":1,"credentials":{}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"combinator":"and","conditions":[{"id":"d67b3ed7-aea5-4307-86f0-76c06a9da5fa","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.result.exists }}","rightValue":"true"}]},"looseTypeValidation":true,"options":{}},"id":"05acbc72-ecb9-4166-ba53-dbeb4d0dde9b","name":"If","type":"n8n-nodes-base.if","position":[384,416],"typeVersion":2.2},{"parameters":{"content":"## Index Legal Dataset to Qdrant for Hybrid Retrieval\n*This pipeline is the first part of **\"Hybrid Search with Qdrant & n8n, Legal AI\"**.  \nThe second part, **\"Hybrid Search with Qdrant & n8n, Legal AI: Retrieval\"**, covers retrieval and simple evaluation.* \n\n### Overview\nThis pipeline transforms a [Q&A legal corpus from Hugging Face (isaacus)](https://huggingface.co/datasets/isaacus/LegalQAEval) into vector representations and indexes them to Qdrant, providing the foundation for running [**Hybrid Search**](https://qdrant.tech/articles/hybrid-search/), combining:\n\n- [**Dense vectors**](https://qdrant.tech/documentation/concepts/vectors/#dense-vectors) (embeddings) for semantic similarity search;  \n- [**Sparse vectors**](https://qdrant.tech/documentation/concepts/vectors/#sparse-vectors) for keyword-based exact search.\n\n\nAfter running this pipeline, you will have a Qdrant collection with your legal dataset ready for hybrid retrieval on [BM25](https://en.wikipedia.org/wiki/Okapi_BM25) and dense embeddings: either [mxbai-embed-large-v1](https://huggingface.co/mixedbread-ai/mxbai-embed-large-v1) or [`text-embedding-3-small`](https://platform.openai.com/docs/models/text-embedding-3-small).\n\n#### Options for Embedding Inference\nThis pipeline equips you with two approaches for generating dense vectors:\n\n1. Using [**Qdrant Cloud Inference**](https://qdrant.tech/documentation/cloud/inference/), conversion to vectors handled directly in Qdrant;\n2. Using external provider, e.g. OpenAI for generating embeddings.\n\n#### Prerequisites\n- A cluster on [Qdrant Cloud](https://cloud.qdrant.io/)  \n  - Paid cluster in the US region if you want to use **Qdrant Cloud Inference**  \n  - Free Tier Cluster if using an external provider (here OpenAI)  \n- Qdrant Cluster credentials: \n  - You'll be guided on how to obtain both the **URL** and **API_KEY** from the Qdrant Cloud UI when setting up your cluster;  \n- An **OpenAI API key** (if you’re not using Qdrant’s Cloud Inference);  \n\n#### P.S.\n- To ask retrieval in Qdrant-related questions, join the [Qdrant Discord](https://discord.gg/ArVgNHV6).  \n- Star [Qdrant n8n community node repo](https://github.com/qdrant/n8n-nodes-qdrant) <3","height":864,"width":592},"id":"15b216ec-ec7f-492f-8218-3bacfca3e3aa","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1072,320],"typeVersion":1},{"parameters":{},"id":"d0b5ab66-e9a5-4c96-acfb-1f74f6269dd4","name":"Index Dataset from HuggingFace","type":"n8n-nodes-base.manualTrigger","position":[-384,896],"typeVersion":1},{"parameters":{"fieldToSplitOut":"splits","options":{}},"id":"a707cd1d-3de9-4a8b-b688-68a31abd5262","name":"Split Them All Out","type":"n8n-nodes-base.splitOut","position":[240,1072],"typeVersion":1},{"parameters":{"url":"https://datasets-server.huggingface.co/splits","sendQuery":true,"queryParameters":{"parameters":[{"name":"dataset","value":"={{ $json.dataset }}"}]},"options":{}},"id":"21c1bc39-6d0c-4cad-956d-023676bbac48","name":"Get Dataset Splits","type":"n8n-nodes-base.httpRequest","position":[48,1072],"typeVersion":4.2},{"parameters":{"fieldToSplitOut":"rows","options":{}},"id":"81e9f69a-d6f7-433e-b7b4-144e8631f884","name":"Divide Per Row","type":"n8n-nodes-base.splitOut","position":[624,1072],"typeVersion":1},{"parameters":{"batchSize":8,"options":{"reset":false}},"id":"e5a20b6b-0153-4820-8476-33a70913d4cf","name":"Loop Over Batches","type":"n8n-nodes-base.splitInBatches","position":[2624,624],"executeOnce":false,"typeVersion":3},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"batch","options":{}},"id":"456941b0-e7da-4c5d-a264-3619bfde517c","name":"Aggregate a Batch","type":"n8n-nodes-base.aggregate","position":[2960,640],"typeVersion":1},{"parameters":{"points":"=[\n  {{\n    $json.batch.map(i => \n      ({      \n        \"id\": i.idx,\n        \"payload\": { \n          \"text\": i.text, \n          \"ids_qa\": i.ids_qa\n        },\n        \"vector\": {\n          \"mxbai_large\": {\n            \"text\": i.text,\n            \"model\": \"mixedbread-ai/mxbai-embed-large-v1\"\n          },\n          \"bm25\": {\n            \"text\": i.text,\n            \"model\": \"qdrant/bm25\",\n            \"options\": {\n              \"avg_len\": i.avg_len\n            }\n          }\n        }\n      }).toJsonString()\n    )\n  }}\n]","resource":"point","operation":"upsertPoints","collectionName":{"__rl":true,"mode":"list","value":"legalQA_test","cachedResultName":"legalQA_test"},"requestOptions":{}},"id":"c5c60139-a8cb-456f-8014-5eded2e02a7b","name":"Upsert Points","type":"n8n-nodes-qdrant.qdrant","position":[3216,640],"typeVersion":1,"credentials":{}},{"parameters":{"maxItems":500},"id":"7cb569c9-75b2-4aeb-bb30-3aac8879049c","name":"Limit","type":"n8n-nodes-base.limit","position":[1424,1392],"typeVersion":1},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"7c86c529-c3f2-43c4-8031-0d021747422f","name":"Merge","type":"n8n-nodes-base.merge","position":[2208,912],"typeVersion":3.2},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"sum","field":"words_in_text"}]},"options":{}},"id":"cadaf46d-c8c1-4fc9-81d6-f9fb2e96c270","name":"Sum them Up","type":"n8n-nodes-base.summarize","position":[1840,1392],"typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"0f436085-17d6-4131-8e6d-7ffee50b60be","name":"avg_len","type":"number","value":"={{ $json.sum_words_in_text / 500 }}"}]},"options":{}},"id":"f9fc2614-be17-4142-8f2c-ac3f5dcc4875","name":"Get the Average Text Length","type":"n8n-nodes-base.set","position":[2048,1392],"typeVersion":3.4},{"parameters":{"batchSize":8,"options":{"reset":false}},"id":"62e0e3ce-b24f-4ec5-b9bc-0636daa82f35","name":"Loop Over Batches1","type":"n8n-nodes-base.splitInBatches","position":[2624,1440],"executeOnce":false,"typeVersion":3},{"parameters":{"points":"=[\n  {{\n    $json.batch.map(i => \n      ({      \n        \"id\": i.idx,\n        \"payload\": { \n          \"text\": i.text, \n          \"ids_qa\": i.ids_qa\n        },\n        \"vector\": {\n          \"open_ai_small\": i.embedding,\n          \"bm25\": {\n            \"text\": i.text,\n            \"model\": \"qdrant/bm25\",\n            \"options\": {\n              \"avg_len\": i.avg_len\n            }\n          }\n        }\n      }).toJsonString()\n    )\n  }}\n]","resource":"point","operation":"upsertPoints","collectionName":{"__rl":true,"mode":"list","value":"legalQA_openAI_test","cachedResultName":"legalQA_openAI_test"},"requestOptions":{}},"id":"a36a679e-aa34-49fe-9361-58eaa4704baa","name":"Upsert Points1","type":"n8n-nodes-qdrant.qdrant","position":[4176,1440],"typeVersion":1,"credentials":{}},{"parameters":{"vectors":"{\n  \"open_ai_small\": \n  {\n    \"size\": 1536,\n    \"distance\": \"Cosine\"\n  }\n}","operation":"createCollection","shardNumber":{},"sparseVectors":"{\n  \"bm25\": \n  {\n    \"modifier\": \"idf\"\n  }\n}","collectionName":"legalQA_openAI_test","requestOptions":{},"replicationFactor":{},"writeConsistencyFactor":{}},"id":"021b7b1d-8ad9-4103-bcc1-36327311a8e5","name":"Create Collection1","type":"n8n-nodes-qdrant.qdrant","position":[2992,1968],"typeVersion":1,"credentials":{}},{"parameters":{"operation":"collectionExists","collectionName":"legalQA_openAI_test","requestOptions":{}},"id":"7720ae05-a749-4b67-a45d-02ceea536edc","name":"Check Collection Exists1","type":"n8n-nodes-qdrant.qdrant","position":[2592,1872],"typeVersion":1,"credentials":{}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"combinator":"and","conditions":[{"id":"d67b3ed7-aea5-4307-86f0-76c06a9da5fa","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.result.exists }}","rightValue":"true"}]},"looseTypeValidation":true,"options":{}},"id":"483bd688-8048-49ee-99d8-82bd9c070bc9","name":"If1","type":"n8n-nodes-base.if","position":[2800,1872],"typeVersion":2.2},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"9f750f0d-70eb-4432-a881-b1e7ac26baf8","name":"Merge1","type":"n8n-nodes-base.merge","position":[3664,1440],"typeVersion":3.2},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"2c3c3186-02d4-44cb-b92f-1d87995a0b08","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[3504,1232],"typeVersion":1},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"input","value":"={{ $json.batch.map(item => item.text) }}"},{"name":"model","value":"text-embedding-3-small"}]},"options":{}},"id":"ae290fab-b33d-49c5-b7f6-0855ca5501b6","name":"Get OpenAI embeddings","type":"n8n-nodes-base.httpRequest","position":[3328,1232],"typeVersion":4.2},{"parameters":{"content":"## Get Dataset from Hugging Face\n\nFetching a sample dataset from Hugging Face using the [Dataset Viewer API](https://huggingface.co/docs/dataset-viewer/quick_start).\n**Dataset:** [LegalQAEval from isaacus](https://huggingface.co/datasets/isaacus/LegalQAEval).\n\n1. **Retrieve dataset splits**.  \n2. **Fetch all items with pagination**  \n   - Apply [pagination in HTTP node](https://docs.n8n.io/code/cookbook/http-node/pagination/#enable-pagination) to retrieve the full dataset.  \n3. **Deduplicate text chunks**  \n   - The dataset contains duplicate `text` chunks, since multiple questions may belong to each passage.  \n   - Deduplicate before indexing into Qdrant to avoid storing duplicates.  \n   - Aggregate the corresponding **question–answer IDs** so they can be reused later during retrieval evaluation.  \n4. **Format data for batching** (embeddings inference & indexing to Qdrant)  \n","height":528,"width":1344,"color":5},"id":"38a83b0d-f97f-473b-ad81-87f03b73411e","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-16,720],"typeVersion":1},{"parameters":{"url":"=https://datasets-server.huggingface.co/rows","sendQuery":true,"queryParameters":{"parameters":[{"name":"dataset","value":"={{ $json.dataset }}"},{"name":"config","value":"={{ $json.config }}"},{"name":"split","value":"={{ $json.split }}"},{"name":"length","value":"=100"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"offset","value":"={{ $pageCount * 100 }}"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $pageCount * 100 > $response.body.num_rows_total}}\n","requestInterval":1000}}}},"id":"eaf99bd4-d28f-4470-9851-ad16f1955a74","name":"Get Dataset Rows (Pagination)","type":"n8n-nodes-base.httpRequest","position":[432,1072],"typeVersion":4.2},{"parameters":{"content":"## Estimate Average Length of Text Chunks\n\nAverage length of texts in the dataset is a part of the [BM25](https://en.wikipedia.org/wiki/Okapi_BM25) formula used for keyword-based retrieval.\n\n1. **Select a subsample**  \n2. **Count words per text chunk**  \n3. **Compute average length**  \n   - Calculate the mean across all chunks in the subsample.  \n   - This value will be used as the **average document length (avg_len)** parameter in BM25.","height":416,"width":800,"color":5},"id":"bd23b84e-421b-4c4b-9028-aa1a4538f2ea","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1408,1152],"typeVersion":1},{"parameters":{"content":"## Create [Qdrant Collection](https://qdrant.tech/documentation/concepts/collections/) for Hybrid Search\nThe collection used for **Hybrid Search** is configured here with two types of vectors:\n\n**1. [Dense Vectors](https://qdrant.tech/documentation/concepts/vectors/#dense-vectors)**\nIn this pipeline, we're using the [**mxbai-embed-large-v1**](https://huggingface.co/mixedbread-ai/mxbai-embed-large-v1) embedding model through Qdrant's Cloud Inference. Hence, we need to specify during the collection configuration its:\n- **Dimensions**: 1024  \n- **Similarity metric**: `cosine`\n\n\n**2. [Sparse Vectors](https://qdrant.tech/documentation/concepts/vectors/#sparse-vectors)**\nQdrant’s main mechanism for setting up **keyword-based retrieval**. \nFor example, you can set up retrieval with:\n  - [**BM25**](https://en.wikipedia.org/wiki/Okapi_BM25) (used in this pipeline);\n    - Qdrant provides an [**`IDF` modifier**](https://qdrant.tech/documentation/concepts/indexing/#idf-modifier) for sparse vectors. This enables Qdrant to calculate **inverse document frequency (IDF)** statistics on the server side. These statistics evaluate the importance of keywords, for example, in BM25.  \n  - SPLADE, miniCOIL and other sparse neural retrievers.  \n\n","height":640,"width":1088,"color":5},"id":"7c3eed18-dcbd-4812-ac2e-7bacbb6aedf1","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## (Option №1) Index Text Chunks to Qdrant Using [Cloud Inference](https://qdrant.tech/documentation/cloud/inference/)\n\n- **Embed & upsert text chunks in batches**  \n  - **Dense embeddings inference + upsert handled by Qdrant node**, it takes care of generating embeddings and inserting them into the collection.  \n  - **Sparse representations for BM25** are created automatically under the hood by Qdrant.  \n","height":480,"width":960,"color":5},"id":"2eb8e92f-00ea-4ba7-99f4-f9092ca10ad7","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2528,416],"typeVersion":1},{"parameters":{"content":"## (Option №2) 1. Configure a Collection for OpenAI Embeddings & BM25 Retrieval\nSince [`text-embedding-3-small`] OpenAI embeddings have a different dimensionality (1536) than mxbai embeddings (1024), you need to account for this when configuring the collection. \n \nFor simplicity, create a **separate collection** dedicated to OpenAI embeddings. This collection will be used to index texts in this block.  ","height":448,"width":688,"color":7},"id":"9b77eee7-901b-4f83-bce4-de0ca2792055","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[2512,1680],"typeVersion":1},{"parameters":{"content":"## (Option №2) Index Text Chunks to Qdrant Using External Embedding Provider (OpenAI)\n*Don't forget to create and configure a separate collection for OpenAI’s [`text-embedding-3-small`](https://platform.openai.com/docs/models/text-embedding-3-small) embeddings.*\n\n1. **Embed texts in batches** with OpenAI's [`text-embedding-3-small`](https://platform.openai.com/docs/models/text-embedding-3-small), generating dense vectors.  \n\n2. **Upsert batches to Qdrant:**\n- Pass pre-embedded by OpenAi dense vectors to Qdrant;\n- Sparse representations for BM25 are created automatically under the hood by Qdrant.  ","height":1152,"width":1872,"color":5},"id":"f9a1276b-4a50-4dc4-9b94-90b2e403ca6a","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[2496,992],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"961c95d9-c803-404b-b4b6-cb66a8a33928","name":"id_qa","type":"string","value":"={{ $json.row.id }}"},{"id":"00f4a104-8515-49fe-a094-89d22a2ead05","name":"text","type":"string","value":"={{ $json.row.text }}"}]},"options":{}},"id":"208fd0c0-05be-4e9d-9292-b17b4f9edece","name":"Restructure for Deduplicating","type":"n8n-nodes-base.set","position":[800,1072],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"23528728-83f3-4f11-9d66-feddc3bf27d1","name":"idx","type":"number","value":"={{ $itemIndex }}"},{"id":"f663bae7-ff0c-440f-9a57-cb363322fc9c","name":"text","type":"string","value":"={{ $json.text }}"},{"id":"bfb956b4-d5e2-46b2-b41a-850a4e00765f","name":"ids_qa","type":"array","value":"={{ $json.appended_id_qa }}"}]},"options":{}},"id":"0007f3b8-3cbf-4ef7-8f88-fe7d7d9e751b","name":"Restructure for Batching","type":"n8n-nodes-base.set","position":[1184,1072],"typeVersion":3.4},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"append","field":"id_qa"}]},"fieldsToSplitBy":"text","options":{}},"id":"9c4a6356-5e84-4478-b3a6-4b7397511692","name":"Deduplicate Texts","type":"n8n-nodes-base.summarize","position":[992,1072],"typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"29dc2299-fb1e-4b0a-bff1-0a3e88f7eb03","name":"words_in_text","type":"number","value":"={{ $json.text.trim().split(/\\s+/).length }}"}]},"options":{}},"id":"0eb481ab-a047-4332-a17d-2de5b81d4823","name":"Calculate #words in Each Text","type":"n8n-nodes-base.set","position":[1632,1392],"typeVersion":3.4},{"parameters":{"options":{}},"id":"8f4ae3c6-5dc8-4630-bffd-5846242b042d","name":"Edit Fields","type":"n8n-nodes-base.set","position":[2896,1232],"typeVersion":3.4},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"batch","options":{}},"id":"56eaaa62-e9be-4e42-96c6-8012174bb84e","name":"Aggregate a Batch to Embed","type":"n8n-nodes-base.aggregate","position":[3072,1344],"typeVersion":1},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"batch","options":{}},"id":"b1caef51-f83b-4286-8310-57c01fafb7c9","name":"Aggregate a Batch to Upsert","type":"n8n-nodes-base.aggregate","position":[3936,1440],"typeVersion":1}],"connections":{"If":{"main":[[],[{"node":"Create Collection","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"Create Collection1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Calculate #words in Each Text","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Batches","type":"main","index":0},{"node":"Loop Over Batches1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Aggregate a Batch to Upsert","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Sum them Up":{"main":[[{"node":"Get the Average Text Length","type":"main","index":0}]]},"Upsert Points":{"main":[[{"node":"Loop Over Batches","type":"main","index":0}]]},"Divide Per Row":{"main":[[{"node":"Restructure for Deduplicating","type":"main","index":0}]]},"Upsert Points1":{"main":[[{"node":"Loop Over Batches1","type":"main","index":0}]]},"Aggregate a Batch":{"main":[[{"node":"Upsert Points","type":"main","index":0}]]},"Deduplicate Texts":{"main":[[{"node":"Restructure for Batching","type":"main","index":0}]]},"Loop Over Batches":{"main":[[],[{"node":"Aggregate a Batch","type":"main","index":0}]]},"Get Dataset Splits":{"main":[[{"node":"Split Them All Out","type":"main","index":0}]]},"Loop Over Batches1":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Merge1","type":"main","index":1},{"node":"Aggregate a Batch to Embed","type":"main","index":0}]]},"Split Them All Out":{"main":[[{"node":"Get Dataset Rows (Pagination)","type":"main","index":0}]]},"Get OpenAI embeddings":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Check Collection Exists":{"main":[[{"node":"If","type":"main","index":0}]]},"Check Collection Exists1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Restructure for Batching":{"main":[[{"node":"Limit","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Aggregate a Batch to Embed":{"main":[[{"node":"Get OpenAI embeddings","type":"main","index":0}]]},"Aggregate a Batch to Upsert":{"main":[[{"node":"Upsert Points1","type":"main","index":0}]]},"Get the Average Text Length":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Calculate #words in Each Text":{"main":[[{"node":"Sum them Up","type":"main","index":0}]]},"Get Dataset Rows (Pagination)":{"main":[[{"node":"Divide Per Row","type":"main","index":0}]]},"Restructure for Deduplicating":{"main":[[{"node":"Deduplicate Texts","type":"main","index":0}]]},"Index Dataset from HuggingFace":{"main":[[{"node":"Get Dataset Splits","type":"main","index":0},{"node":"Check Collection Exists","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{"Index Dataset from HuggingFace":[{"json":{"dataset":"isaacus/LegalQAEval"}}]},"versionId":"e8eedf16-554b-49cc-bdac-4beddda8e2ce","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-22T17:06:10.615Z","createdAt":"2026-04-22T17:06:10.615Z","role":"workflow:owner","workflowId":"pRQb1dxCWvqmTDSV","projectId":"jFzgn8YND5hEbIq7"}],"activeVersion":null,"tags":[]}