backups/Invoice Workflow.json
{"updatedAt":"2025-11-10T16:11:14.955Z","createdAt":"2025-11-10T16:01:58.413Z","id":"VDHZW4d8OdQXB76P","name":"Invoice Workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"pdf","options":{}},"id":"24629bac-49b5-47ba-8ebd-e7a8e4775885","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","position":[1392,256],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1RFNM3_sfCfTb3IpmOyyVpNWrufcsbslm","mode":"list","cachedResultName":"n8n Invoices Folder","cachedResultUrl":"https://drive.google.com/drive/folders/1RFNM3_sfCfTb3IpmOyyVpNWrufcsbslm"},"event":"fileCreated","options":{}},"id":"b90b7514-e8f1-437d-afd0-e95db17ffbde","name":"Google Drive Trigger","type":"n8n-nodes-base.googleDriveTrigger","position":[912,256],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"YCadLSS3rKSwrsw4","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{}},"id":"520c484d-ee93-403c-8c41-047f5b66fdc5","name":"Google Drive","type":"n8n-nodes-base.googleDrive","position":[1168,256],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"YCadLSS3rKSwrsw4","name":"Google Drive account"}}},{"parameters":{"text":"={{ $json.text }}","attributes":{"attributes":[{"name":"Invoice Number","description":"The Number of the Invoice","required":true},{"name":"Client Name","description":"Name of the client","required":true},{"name":"Client Email","description":"Email address of the client","required":true},{"name":"Total Amount","description":"Total Amount Due in the Invoice","required":true},{"name":"Invoice Date","description":"Date of the Invoice","required":true},{"name":"Due Date","description":"Date with the invoice is due"}]},"options":{"systemPromptTemplate":"You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."}},"id":"593ed184-f03c-4238-823f-3361b8186b1a","name":"Information Extractor","type":"@n8n/n8n-nodes-langchain.informationExtractor","position":[1648,256],"typeVersion":1},{"parameters":{"options":{}},"id":"5f7dfda4-50da-4a5e-87f6-73643fd86d96","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1760,480],"typeVersion":1.1,"credentials":{"openAiApi":{"id":"IAPdFCUrAWR1K4iM","name":"OpenAi account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"15VMK1Na2uc3qptPDQzkD0Q-xIsS7GWh1pSOjXGRYWyM","mode":"list","cachedResultName":"Invoice DB","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15VMK1Na2uc3qptPDQzkD0Q-xIsS7GWh1pSOjXGRYWyM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"Redacted","cachedResultName":"Sheet1"},"columns":{"value":{"Due Date":"={{ $json.output['Due Date'] }}","Client Name":"={{ $json.output['Client Name'] }}","Client Email":"={{ $json.output['Client Email'] }}","Invoice Date":"={{ $json.output['Invoice Date'] }}","Total Amount":"={{ $json.output['Total Amount'] }}","Invoice Number":"={{ $json.output['Invoice Number'] }}"},"schema":[{"id":"Invoice Number","type":"string","display":true,"required":false,"displayName":"Invoice Number","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Client Name","type":"string","display":true,"required":false,"displayName":"Client Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Client Email","type":"string","display":true,"required":false,"displayName":"Client Email","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Client Address","type":"string","display":true,"required":false,"displayName":"Client Address","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Client Phone","type":"string","display":true,"required":false,"displayName":"Client Phone","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Total Amount","type":"string","display":true,"required":false,"displayName":"Total Amount","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Invoice Date","type":"string","display":true,"required":false,"displayName":"Invoice Date","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Due Date","type":"string","display":true,"required":false,"displayName":"Due Date","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"83a23f1b-7a5f-417b-b8eb-db2c5edb4d45","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","position":[2016,256],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"lPrpFODeCLU4cMT4","name":"Google Sheets"}}},{"parameters":{},"id":"7b61b92e-e386-4bcb-b443-0cb0e7f98978","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[2336,256],"typeVersion":1},{"parameters":{"content":"Upload Invoice Doc Trigger","height":680,"width":320},"id":"0b6100fc-2a20-4e1d-8e0a-2749ca0d272b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[768,48],"typeVersion":1},{"parameters":{"content":"Extract Invoice Doc","height":680,"width":480,"color":6},"id":"9624d4c8-985a-4bc3-a10f-17f3ac04d2cd","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1120,48],"typeVersion":1},{"parameters":{"content":"Extract Information & Log","height":680,"width":540,"color":5},"id":"7bf28bd1-3b18-4aec-a934-85864876b796","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1616,48],"typeVersion":1},{"parameters":{"content":"Notification & End","height":680,"width":440,"color":4},"id":"0c3bbb95-cd1f-4be7-870a-84cef6fece8e","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2192,48],"typeVersion":1},{"parameters":{"content":"📥 Invoice Intake & Notification Workflow\nThis automated n8n workflow monitors a Google Drive folder for newly uploaded invoice PDFs, extracts essential information (like client name, invoice number, amount, due date), logs the data into a Google Sheet for recordkeeping, and sends a formatted Telegram message to notify the billing team.\n\nFor step-by-step video build of workflows like this:\nhttps://www.youtube.com/@automatewithmarc\n\n✅ What This Workflow Does\n🕵️ Watches a Google Drive folder for new invoice files\n📄 Extracts data from PDF invoices using AI (LangChain Information Extractor)\n📊 Appends extracted data into a structured Google Sheet\n💬 Notifies the billing team via Telegram with invoice details\n🤖 Optionally uses Claude Sonnet AI model to format human-friendly summaries\n\n⚙️ How It Works – Step-by-Step\nTrigger: Workflow starts when a new PDF invoice is added to a specific Google Drive folder.\n\nDownload & Parse: The file is downloaded and its content extracted.\n\nData Extraction: AI-powered extractor pulls invoice details (invoice number, client, date, amount, etc.).\n\nLog to Google Sheets: All extracted data is appended to a predefined Google Sheet.\n\nAI Notification Formatting: An Anthropic Claude model formats a clear invoice notification message.\n\nTelegram Alert: The formatted summary is sent to a Telegram channel or group to alert the billing team.\n\n🧠 AI & Tools Used\nGoogle Drive Trigger & File Download\n\nPDF Text Extraction Node\n\nLangChain Information Extractor\n\nGoogle Sheets Node (Append Data)\n\nAnthropic Claude (Telegram Message Formatter)\n\nTelegram Node (Send Notification)\n\n🛠️ Setup Instructions\nGoogle Drive: Set up OAuth2 credentials and specify the folder ID to watch.\n\nGoogle Sheets: Link the workflow to your invoice tracking sheet.\n\nTelegram: Set up your Telegram bot and obtain the chat ID.\n\nAnthropic & OpenAI: Add your Claude/OpenAI credentials if formatting is enabled.\n\n💡 Use Cases\nAutomated bookkeeping and invoice tracking\n\nReal-time billing alerts for accounting teams\n\nAI-powered invoice ingestion and summary\n\n","height":1180,"width":660,"color":7},"id":"44c402c2-7416-4628-9c90-504bae4d4336","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[48,48],"typeVersion":1}],"connections":{"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Google Drive Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f131e3c3-9997-4a8c-8387-4c135b31b48c","triggerCount":0,"shared":[{"updatedAt":"2025-11-10T16:01:58.413Z","createdAt":"2025-11-10T16:01:58.413Z","role":"workflow:owner","workflowId":"VDHZW4d8OdQXB76P","projectId":"jFzgn8YND5hEbIq7"}],"tags":[]}