backups/Krisp to ToDoIst.json
{"updatedAt":"2026-03-23T21:10:35.618Z","createdAt":"2026-01-29T16:11:14.812Z","id":"EEGEcDYO8K9SUVOF","name":"Krisp to ToDoIst","active":true,"isArchived":false,"nodes":[{"parameters":{"endpointUrl":"http://todoist-mcp.mcp.svc.cluster.local:8080/mcp","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[400,416],"id":"53f92c91-820e-4334-9520-165b30bc189a","name":"MCP Client"},{"parameters":{"promptType":"define","text":"=Input Data Structures:\nMeeting Context: {{ $json.body.data.raw_meeting }}\nSpeakers: {{ $json.body.data.meeting.speakers }}\nTranscript: {{ $json.body.data.raw_content }}\n","options":{"systemMessage":"Role: You are a highly precise Executive Assistant specializing in meeting intelligence and task extraction. Your sole focus is identifying actionable commitments made by Ryan (rbutler@riverpointtechnology.com) and preparing them for Todoist integration.\n\nObjective:\nAnalyze the transcript and context to isolate \"to-dos\" where Ryan is the explicit owner.\n\nStep-by-Step Instruction Pipeline:\nSpeaker Identification: Map all mentions of \"Ryan\" or \"rbutler\" to the speaker list to ensure you are tracking the correct entity.\n\nTask Extraction: Scan the transcript for verbs indicating commitment (e.g., \"I will,\" \"I'll take care of,\" \"Assign that to me,\" \"I'm going to\").\n\nOwnership Filter: * Include: Tasks explicitly assigned to Ryan or volunteered for by Ryan.\n\nExclude: Tasks assigned to others, general team brainstorming, or vague \"we should\" statements where Ryan is not the lead.\n\nDeduplication: Review the context to ensure the task isn't a repeat of a previously discussed item already marked as \"captured.\"\n\nData Structuring: Format the output strictly as a JSON object (or the format required by your automation tool) for Todoist.\n\nOutput Formatting Rules:\nProject: Always set to Krisp.\n\nPriority/Due Date: Leave blank/Do not include.\n\nTask Title: Action-oriented and concise (e.g., \"Email client regarding Q3 roadmap\").\n\nDescription: Provide a 2-3 sentence summary of why this task was created based on the meeting context and include the specific quote from the transcript.\n\nStrict Guardrails:\nZero-Task Policy: If no specific, certain tasks for Ryan are found, your entire response MUST be: \"No tasks identified for Ryan.\"\n\nNo Assumptions: If it is unclear who owns a task, do NOT assign it to Ryan.\n\nNo General Items: Do not create tasks for \"Team\" objectives unless the transcript explicitly states \"Ryan, you are leading this.\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[160,208],"id":"ff055aaa-0383-45fe-9244-b040ffbfefac","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[0,0],"id":"8af87a78-48a6-4967-ae0b-7690b1177f9e","name":"When chat message received","webhookId":"51a9d6b0-e303-4aa9-b584-352c4b33e4c5"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[32,416],"id":"d712143d-c0a6-4400-b2c7-426a7b348b77","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"IAPdFCUrAWR1K4iM","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"7927da1b-e8df-447a-8e02-613563581f2f","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-336,224],"id":"d6e51b12-d59b-4489-b1ea-29a1f994698f","name":"Webhook","webhookId":"7927da1b-e8df-447a-8e02-613563581f2f","credentials":{"httpHeaderAuth":{"id":"IuigkubgvrNXhPG5","name":"Krisp"}}},{"parameters":{"chatId":"-5111992003","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,224],"id":"c72437b0-9fbc-4581-a465-ef6d3598207b","name":"Send a text message","webhookId":"365a63b5-889e-468a-a368-d6a5e2d472bd","credentials":{"telegramApi":{"id":"zCg94anbG4RLthQ5","name":"Telegram account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.data.meeting.id }}","tableName":"n8n_chat_histories_todo"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[208,432],"id":"4283fddb-faf2-407d-b856-f793d0f7f163","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"uFwg5OQbb3tpwBJ0","name":"Postgres account"}}}],"connections":{"When chat message received":{"main":[[]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1f409c70-eaac-4592-bcf7-7dfdfd7b419c","activeVersionId":"1f409c70-eaac-4592-bcf7-7dfdfd7b419c","triggerCount":2,"shared":[{"updatedAt":"2026-01-29T16:11:14.812Z","createdAt":"2026-01-29T16:11:14.812Z","role":"workflow:owner","workflowId":"EEGEcDYO8K9SUVOF","projectId":"jFzgn8YND5hEbIq7"}],"activeVersion":{"updatedAt":"2026-03-23T21:07:34.294Z","createdAt":"2026-03-23T21:07:16.095Z","versionId":"1f409c70-eaac-4592-bcf7-7dfdfd7b419c","workflowId":"EEGEcDYO8K9SUVOF","nodes":[{"parameters":{"endpointUrl":"http://todoist-mcp.mcp.svc.cluster.local:8080/mcp","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[400,416],"id":"53f92c91-820e-4334-9520-165b30bc189a","name":"MCP Client"},{"parameters":{"promptType":"define","text":"=Input Data Structures:\nMeeting Context: {{ $json.body.data.raw_meeting }}\nSpeakers: {{ $json.body.data.meeting.speakers }}\nTranscript: {{ $json.body.data.raw_content }}\n","options":{"systemMessage":"Role: You are a highly precise Executive Assistant specializing in meeting intelligence and task extraction. Your sole focus is identifying actionable commitments made by Ryan (rbutler@riverpointtechnology.com) and preparing them for Todoist integration.\n\nObjective:\nAnalyze the transcript and context to isolate \"to-dos\" where Ryan is the explicit owner.\n\nStep-by-Step Instruction Pipeline:\nSpeaker Identification: Map all mentions of \"Ryan\" or \"rbutler\" to the speaker list to ensure you are tracking the correct entity.\n\nTask Extraction: Scan the transcript for verbs indicating commitment (e.g., \"I will,\" \"I'll take care of,\" \"Assign that to me,\" \"I'm going to\").\n\nOwnership Filter: * Include: Tasks explicitly assigned to Ryan or volunteered for by Ryan.\n\nExclude: Tasks assigned to others, general team brainstorming, or vague \"we should\" statements where Ryan is not the lead.\n\nDeduplication: Review the context to ensure the task isn't a repeat of a previously discussed item already marked as \"captured.\"\n\nData Structuring: Format the output strictly as a JSON object (or the format required by your automation tool) for Todoist.\n\nOutput Formatting Rules:\nProject: Always set to Krisp.\n\nPriority/Due Date: Leave blank/Do not include.\n\nTask Title: Action-oriented and concise (e.g., \"Email client regarding Q3 roadmap\").\n\nDescription: Provide a 2-3 sentence summary of why this task was created based on the meeting context and include the specific quote from the transcript.\n\nStrict Guardrails:\nZero-Task Policy: If no specific, certain tasks for Ryan are found, your entire response MUST be: \"No tasks identified for Ryan.\"\n\nNo Assumptions: If it is unclear who owns a task, do NOT assign it to Ryan.\n\nNo General Items: Do not create tasks for \"Team\" objectives unless the transcript explicitly states \"Ryan, you are leading this.\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[160,208],"id":"ff055aaa-0383-45fe-9244-b040ffbfefac","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[0,0],"id":"8af87a78-48a6-4967-ae0b-7690b1177f9e","name":"When chat message received","webhookId":"51a9d6b0-e303-4aa9-b584-352c4b33e4c5"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[32,416],"id":"d712143d-c0a6-4400-b2c7-426a7b348b77","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"IAPdFCUrAWR1K4iM","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"7927da1b-e8df-447a-8e02-613563581f2f","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-336,224],"id":"d6e51b12-d59b-4489-b1ea-29a1f994698f","name":"Webhook","webhookId":"7927da1b-e8df-447a-8e02-613563581f2f","credentials":{"httpHeaderAuth":{"id":"IuigkubgvrNXhPG5","name":"Krisp"}}},{"parameters":{"chatId":"-5111992003","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,224],"id":"c72437b0-9fbc-4581-a465-ef6d3598207b","name":"Send a text message","webhookId":"365a63b5-889e-468a-a368-d6a5e2d472bd","credentials":{"telegramApi":{"id":"zCg94anbG4RLthQ5","name":"Telegram account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.data.meeting.id }}","tableName":"n8n_chat_histories_todo"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[208,432],"id":"4283fddb-faf2-407d-b856-f793d0f7f163","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"uFwg5OQbb3tpwBJ0","name":"Postgres account"}}}],"connections":{"When chat message received":{"main":[[]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"authors":"Ryan Butler","name":"Version 1f409c70","description":"","autosaved":true},"tags":[]}