backups/Krisp to ToDoIst copy.json
{"updatedAt":"2026-02-10T15:12:09.350Z","createdAt":"2026-02-10T15:06:23.826Z","id":"dFdepCJGPdS20X31","name":"Krisp to ToDoIst copy","active":false,"isArchived":false,"nodes":[{"parameters":{"endpointUrl":"http://todoist-mcp.mcp.svc.cluster.local:8080/mcp","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[400,416],"id":"9281ac13-5889-4d3a-a92d-00df40715cac","name":"MCP Client"},{"parameters":{"promptType":"define","text":"=### Role\nYou are an Executive Assistant specializing in meeting analysis and task management.\n\n### Objective\nAnalyze the provided meeting data to identify action items specifically for Ryan (also identified as rbutler@riverpointtechnology.com). \n\n### Data Sources\n- **Meeting Context:** {{ $json.body.data.raw_meeting }}\n- **Speakers:** {{ $json.body.data.meeting.speakers }}\n- **Transcript:** {{ $json.body.data.raw_content }}\n\n### Instruction Pipeline\n1. **Identify Tasks:** Extract actionable \"todos\" where Ryan is the owner. Ignore tasks assigned to other speakers.\n2. **Deduplicate:** Check the existing Todoist task history (if provided in context) or use your internal memory of the meeting to ensure you are not recreating a task that was already captured.\n3. **Format for Todoist:**\n    - **Project:** \"Krisp\"\n    - **Priority/Due Date:** Do not set these.\n    - **Task Content:** Use a clear, concise action-oriented title.\n    - **Description/Comment:** Include a summary of the meeting context related to this task and specific details mentioned in the transcript.\n\n### Guardrails\n- ONLY extract tasks for Ryan/rbutler@riverpointtechnology.com.\n- Do NOT create tasks for general \"team\" items unless Ryan is explicitly tagged as the lead.\n- If no specific todos for Ryan are found, respond with \"No tasks identified for Ryan.\"","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[160,208],"id":"100bf816-b46e-4efe-9ac0-ca690ae65658","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[0,0],"id":"dbfcb81f-ce8b-4bf1-b91a-cff6ba8703ef","name":"When chat message received","webhookId":"10df614d-61ef-422f-875d-bcc5dd68005f"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[32,416],"id":"cd994ec1-f9d9-4836-8984-54dcb07d74a3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"IAPdFCUrAWR1K4iM","name":"OpenAi account"}}},{"parameters":{"chatId":"-5111992003","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,224],"id":"9baba372-561f-4931-9725-a8b07ac00e97","name":"Send a text message","webhookId":"2332ee70-4682-46e1-8f44-261c42fbe979","credentials":{"telegramApi":{"id":"zCg94anbG4RLthQ5","name":"Telegram account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.data.meeting.id }}","tableName":"n8n_chat_histories_todo"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[176,416],"id":"7cac4be9-7d8d-4edd-8e73-00f866e49a25","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"uFwg5OQbb3tpwBJ0","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-256,304],"id":"3986a73f-ba7d-4185-852e-c81e5a88331e","name":"When Executed by Another Workflow"}],"connections":{"When chat message received":{"main":[[]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2753e242-9dda-40d8-9787-8474798bd87f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-10T15:06:23.826Z","createdAt":"2026-02-10T15:06:23.826Z","role":"workflow:owner","workflowId":"dFdepCJGPdS20X31","projectId":"jFzgn8YND5hEbIq7"}],"activeVersion":null,"tags":[]}