backups/Krisp to ToDoIst.json
{"updatedAt":"2026-04-21T15:51:18.258Z","createdAt":"2026-01-29T16:11:14.812Z","id":"EEGEcDYO8K9SUVOF","name":"Krisp to ToDoIst","active":true,"isArchived":false,"nodes":[{"parameters":{"endpointUrl":"http://todoist-mcp.mcp.svc.cluster.local:8080/mcp","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[400,416],"id":"53f92c91-820e-4334-9520-165b30bc189a","name":"MCP Client"},{"parameters":{"promptType":"define","text":"=Role: Executive Assistant (Meeting Intelligence)\nYou are a highly precise Executive Assistant specializing in meeting intelligence and task extraction. Your sole focus is identifying actionable commitments made by Ryan Butler (rbutler@riverpointtechnology.com) and syncing them to Todoist.\n\nObjective\nAnalyze the provided meeting transcript and context to isolate \"to-dos\" where Ryan is the explicit owner.\n\nInstruction Pipeline\nSpeaker Identification: Map all mentions of \"Ryan\" or \"rbutler\" to the speaker list to ensure you are tracking the correct entity.\n\nTask Extraction: Scan the transcript for verbs indicating commitment (e.g., \"I will,\" \"I'll take care of,\" \"Assign that to me,\" \"I'm going to\").\n\nOwnership Filter:\n\nInclude: Tasks explicitly assigned to Ryan or volunteered for by Ryan.\n\nExclude: Tasks assigned to others, general team brainstorming, or vague \"we should\" statements where Ryan is not the lead.\n\nDeduplication: Review the context to ensure the task isn't a repeat of a previously discussed item already marked as \"captured.\"\n\nExecution: Use the Todoist MCP tool to create a task for every identified item.\n\nOutput & Tool Configuration\nTodoist Project: Krisp\n\nPriority/Due Date: Do not set (leave blank).\n\nTask Title: Action-oriented and concise (e.g., \"Email client regarding Q3 roadmap\").\n\nTask Description: Provide a 2-3 sentence summary of why this task was created based on the meeting context and include the specific quote from the transcript.\n\nStrict Guardrails\nZero-Task Policy: If no specific, certain tasks for Ryan are found, your entire response MUST be: \"No tasks identified for Ryan.\"\n\nNo Assumptions: If it is unclear who owns a task, do NOT assign it to Ryan.\n\nNo General Items: Do not create tasks for \"Team\" objectives unless the transcript explicitly states \"Ryan, you are leading this.\"\n\nTool Usage: You MUST use the Todoist integration tool to create the tasks. If the tool is not used, you must provide a technical explanation as to why.\n\nInput Data\n<meeting_data>\nMeeting Context: {{ $json.body.data.raw_meeting }}\nTranscript: {{ $json.body.data.raw_content }}\n</meeting_data>\n\nIMPORTANT: If the tool is not used explain why","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[160,208],"id":"ff055aaa-0383-45fe-9244-b040ffbfefac","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[0,0],"id":"8af87a78-48a6-4967-ae0b-7690b1177f9e","name":"When chat message received","webhookId":"51a9d6b0-e303-4aa9-b584-352c4b33e4c5"},{"parameters":{"model":{"__rl":true,"value":"gpt-5.4","mode":"list","cachedResultName":"gpt-5.4"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[32,416],"id":"d712143d-c0a6-4400-b2c7-426a7b348b77","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"IAPdFCUrAWR1K4iM","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"7927da1b-e8df-447a-8e02-613563581f2f","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-336,224],"id":"d6e51b12-d59b-4489-b1ea-29a1f994698f","name":"Webhook","webhookId":"7927da1b-e8df-447a-8e02-613563581f2f","credentials":{"httpHeaderAuth":{"id":"IuigkubgvrNXhPG5","name":"Krisp"}}},{"parameters":{"chatId":"-5111992003","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,224],"id":"c72437b0-9fbc-4581-a465-ef6d3598207b","name":"Send a text message","webhookId":"365a63b5-889e-468a-a368-d6a5e2d472bd","credentials":{"telegramApi":{"id":"zCg94anbG4RLthQ5","name":"Telegram account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.data.meeting.id }}","tableName":"n8n_chat_histories_todo"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[208,432],"id":"4283fddb-faf2-407d-b856-f793d0f7f163","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"uFwg5OQbb3tpwBJ0","name":"Postgres account"}}}],"connections":{"When chat message received":{"main":[[]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.techdrabble.com","user-agent":"KrispAgent","transfer-encoding":"chunked","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","authorization":{"__redacted":true,"reason":"node_defined_field","canReveal":false},"cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"54.234.9.231","cf-ipcountry":"US","cf-ray":"9efd0dce9d964384-EWR","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"0c416f2d-2bb7-4b94-8fd5-25bb8296972c","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"54.234.9.231","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"id":"019db06ddae073a68cd3ddc96b2bbe45","event":"transcript_created","data":{"meeting":{"id":"019db058367e72428da938f1eb7d0913","title":"BofA AI Play Brainstorm","duration":1418,"calendar_event_id":"AAMkADkxYmRhYmJjLTQ1MjAtNGUyOS1hMDhjLWNmOThiNjQwNTkzZgBGAAAAAABJ1V_a3onuRqL3kK8ZHijbBwAx4FyggTp4QYPC2OEbqvrWAAAAAAENAAAx4FyggTp4QYPC2OEbqvrWAAB2VlkCAAA=","participants":[{"last_name":"Butler","id":"1f9952ecc9a552fca3a0d01f3c7fec82","first_name":"Ryan","email":"rbutler@riverpointtechnology.com"},{"last_name":"Kelly","id":"a95632a1e3935718b14f61d14e2438dc","first_name":"Dan","email":"dkelly@riverpointtechnology.com"},{"last_name":"Tuffner","id":"4b8e5f142a8a58abad8398d5700a6604","first_name":"Kevin","email":"ktuffner@riverpointtechnology.com"},{"last_name":"Quackenbush","id":"347601383e9d5bc3a0943033624cb537","first_name":"Dan","email":"dquackenbush@riverpointtechnology.com"},{"last_name":"Eiben","id":"86b24dfc56f75f85859490240487e91a","first_name":"Jeff","email":"jeiben@riverpointtechnology.com"}],"speakers":[{"index":1,"last_name":"Butler","id":"1f9952ecc9a552fca3a0d01f3c7fec82","first_name":"Ryan","email":"rbutler@riverpointtechnology.com"},{"index":2,"last_name":"Eiben","id":"86b24dfc56f75f85859490240487e91a","first_name":"Jeff","email":"jeiben@riverpointtechnology.com"},{"index":3,"last_name":"Tuffner","id":"4b8e5f142a8a58abad8398d5700a6604","first_name":"Kevin","email":"ktuffner@riverpointtechnology.com"}],"start_date":"2026-04-21T14:00:28.327Z","end_date":"2026-04-21T14:24:06.327Z","url":"https://app.krisp.ai/n/019db058367e72428da938f1eb7d0913"},"content":[{"speaker":"Jeff Eiben","speakerIndex":2,"text":"Nobrin, how are you?"},{"speaker":"Ryan Butler","speakerIndex":1,"text":"Hey, Jeff. Good."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"Hey, Jeff. Good. Was everything just live in the dream here?"},{"speaker":"Ryan Butler","speakerIndex":1,"text":"All right, how are you doing?"},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"We got one day it's 40, the next day it's 75. It's like it's April year."},{"speaker":"Ryan Butler","speakerIndex":1,"text":"Yeah, I was saying on one of the calls yesterday, we like, last week, we had nothing but tornado warnings, like, every single day, every single night."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"Yeah, I'm that crazy."},{"speaker":"Ryan Butler","speakerIndex":1,"text":"We already broke the year record for the amount of tornadoes for the state just in one week's time.\nSo I think we're through it now. I think it's supposed to be seventy today. So hopefully in the right direction now."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"Yeah, but your... I mean, I assume Gus doesn't really have a lot of tornadoes. Do you like that? I mean, I know it's flat, but..."},{"speaker":"Ryan Butler","speakerIndex":1,"text":"Yeah, here and there, but it's a rarity to have like back to back mornings. Like, we'll have them ran like probably one or two a year maybe, but having them over and over again like that's super rare. They're saying, like with El Nino and whatever the hell. Climate change, like the tornado alleys, like moving more north.\nSo we get to look forward to this.\nSo yeah."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"Yeah, that makes sense. Yeah, it was a weird winter, like, you know, co like kind of the mid Colorado, Utah. It didn't have a lot of snow, but we had like a horrible we had a horrible winter here."},{"speaker":"Ryan Butler","speakerIndex":1,"text":"One, I'm curious about how the drought and fires are going to be out west this summer now with so little snow."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"It was one of the worst we've had since the seventies that I remember anyway, but yeah, I'd agree.\nWell, cool. I don't know where. Dan, he's probably on a call, but just wanted to kind of how to up. And then we can. I don't think we're going to take a ton of time, but basically, effectively, what I'm trying to get to is, you know, I'm. I'm kind of talking to like some of the B of a folks and Trecar and everybody.\nLike, you know, I think if we continue along with the path we're on, you know, it's gonna be unlikely we're going to continue there next year and longer just because of the way they're scrutinizing everything.\nSo there's really two things. One is what I'm trying to get at is like is there a way like with what we're doing, is there a way like we can be doing that on our side? And then poured it into their environment to get rid of the blockers.\nAnd then. Secondly, you know, where can we potentially position like AI to them like they kind of. I want to go to, like, DG and just kind of be like we've kind of earned to right like, this is where you're. I'm just going to be like, Frank, like this is where you're gonna fail.\nAnd here's why you're gonna fail. And like. And this is how we can help. You know, we really got nothing to lose at this point. So I'm just trying to get like, feedback from the crew to like, talking points to kind of make that play.\nSo it was really just that was really the kind of the goal of the discussion here. So I'm going to Dan tomorrow as well, so if he doesn't jump on, I could pick his brain down."},{"speaker":"Ryan Butler","speakerIndex":1,"text":"Yeah."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"But I just want to get your thoughts, kind of. Kevin and I discussed a little bit with Shricar last week.\nAnd then I know, kind of from your perspective. Coming in not that long ago, I guess. But what you're seeing?"},{"speaker":"Ryan Butler","speakerIndex":1,"text":"So it's funny because it's... I think kind of like what I'm seeing at the bank is the basis a lot for, like, the AI kind of like COE. You know, the band kind of flipped on AI, like Copilot and said, okay, guys, like, we're AI enabled.\nAnd now everybody kind of go nuts with it, but there's been like, absolutely, like, no enablement kind of behind it. Like how to leverage it successfully. And I think there's a lot of room from that perspective, you know, even from like the terraformer side, you know, just kind of explaining a few of the basic concepts and then kind of harvesting, you know, what I've kind of taught them and then kind of like they're kind of taking that there.\nSo I think from, like, the advisory side, I think there's like a lot that can kind of be, I guess shown. The problem is it's just trying to get, you know, that audience, which is kind of where I'm kind of getting tied up on kind of the Terraformer side, but there's a lot there.\nAnd I think kind of like the connectivity or like the connect to tissue. Kind of in between from like MCP development, you know, having AI talk to certain endpoints and certain technologies that they already have is possible as well because that's kind of like a black box for them right now as well."},{"speaker":"Kevin Tuffner","speakerIndex":3,"text":"Two."},{"speaker":"Ryan Butler","speakerIndex":1,"text":"So yeah, the interesting point, Kevin, I think we talked about this like they have an initiative like they have to like they're supposed to like use AI to enhance and like quote unquote like save money.\nBut there's really nothing under like defining that is that correct?"},{"speaker":"Kevin Tuffner","speakerIndex":3,"text":"Yeah, I think at the practitioner level, I think that's correct. I think at the leadership level, they have a different mandate, but it just hasn't trickled through."},{"speaker":"Ryan Butler","speakerIndex":1,"text":"Okay."},{"speaker":"Kevin Tuffner","speakerIndex":3,"text":"Like most works like Craig."},{"speaker":"Ryan Butler","speakerIndex":1,"text":"It. Yeah, the other thing too, I'll say is it's interesting cause like, I don't really know who made the like the deciding factor of, like, to go with a GitHub Copilot, but like, one of the issues is like they're not really in a GitHub shop."},{"speaker":"Kevin Tuffner","speakerIndex":3,"text":"Craig has it across his lieutenants like VG, Graham, and others.\nIt's just how do they distill that down through the work?"},{"speaker":"Ryan Butler","speakerIndex":1,"text":"So a lot of, like the capability that Copilot offers, they're kind of like kneecaped, which I know it's like out of our like control, but just kind of wanted to mention it. So we're right."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"Just because I want their codes somewhere else or something like that."},{"speaker":"Kevin Tuffner","speakerIndex":3,"text":"They use Bitbucket like a whole other team owns the pipelines."},{"speaker":"Ryan Butler","speakerIndex":1,"text":"Right, yeah."},{"speaker":"Kevin Tuffner","speakerIndex":3,"text":"Yeah."},{"speaker":"Ryan Butler","speakerIndex":1,"text":"So there's like a lot of capability of like GitHub, you know, maintaining the code within GitHub, but now that they don't have that, they lose a lot of that, which I don't know, but that's just kind of the bank.\nBut yeah, and I know KPMG is kind of in there, kind of sniffing around trying to identify use cases and things like that, but again, I think a big play is just like the enablement side."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"No, yeah, that's where I always thought because it seems like that's their biggest one of their biggest struggles is just enabling the consumers. It's like a car outside that has this glare on my window."},{"speaker":"Ryan Butler","speakerIndex":1,"text":"Yeah."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"So we're like, \"It's blinding.\""},{"speaker":"Ryan Butler","speakerIndex":1,"text":"I see it on your face. Yeah."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"But one thing I when I was talking to Brian Haggerty, he brought up was like I think the one of the bigger, biggest challenges is like the dependencies around, like, you know, some of this.\nAnd like, how do you keep track of that? Like is there are so many layers to this, right? Like that's if they make changes. What are the de what are the dependencies it's going to, like, fall prey to. Is that like a can of. Is that. Is that just like a bowl of spaghetti or is like. Is there a real, like, way to kind of like help untangle that for them, like, with what we're at least we're working on, like, if that makes sense."},{"speaker":"Ryan Butler","speakerIndex":1,"text":"Like, what kind of dependencies are you kind of thinking there? Or guess what was he kind of speaking to?"},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"I mean, I think like just anything like kind of the you know, anything downstream like, you know, if they make a change number in their pipeline, like what does that do with within you know, there's so many teams, I guess, integrated into that stack like what's the like that I mean, I think it's complex."},{"speaker":"Ryan Butler","speakerIndex":1,"text":"Yeah."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"That's where I'm kind of struggling with it because I'm not technical, but like, I think the that's where I think they see some of the challenges as well with, like scaling. This, I guess, is one way to put it. But."},{"speaker":"Ryan Butler","speakerIndex":1,"text":"I mean, I think from like the dependency issue is like that's already a problem at the bank. Making one change and impacting others.\nAnd I think that's potentially where AI could help, you know, evaluating, you know, the code that's potentially going in and saying, hey, this is going to disrupt XYZ. You know, there's. I mean, it's kind of limitless on. On what we could potentially do here like approval workflows could adjust depending on, you know, what the code is actually doing or dependencies like you kind of name it.\nIt's we just kind of really need to, I think, kind of peel back the young in on some of these use cases. And I'm pretty positive we can help kind of develop whatever."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"Yeah, the that was kind of like Shricar Point was like, you know, okay, hey, it comes around like, okay, we spent $2 million with Riverpot."},{"speaker":"Ryan Butler","speakerIndex":1,"text":"But again, it's getting that audience."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"Like, what did we get for it?\nAnd like, you know, it's like, that's all I got for $2 million. And they understand, like, a lot of the challenges on their side, like, they know they're slow. They're, you know, they're a lot of blockers.\nSo, you know, he's the one that kind of suggested, like, you know, maybe it's like, hey, we'll do this in our environment, like we'll port it over like, you know, to get like, more done for same money, whatever.\nBut where I'm going with this, is that, like, realistic with what we're doing or is it like, do we really kind of need to be in their environment for, like, the activities we have going on?"},{"speaker":"Ryan Butler","speakerIndex":1,"text":"I think it kind of depends a little bit on what kind of work stream we're kind of like working at. I think from say like the terraform side or the provider side, I think that is a lot more like code development.\nI think that Workstream would we could probably be at the most value from like an AI perspective quickly. But then the other workstreams like I think we would have to kind of embed ourselves and get kind of an understanding of like use case and develop from that side. It would be a little different in kind of the patterns, but from like a value, I would say terraformer side.\nAnd then kind of trickle that down into the other works. Work streams."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"Two. My daughter just got a kitten, and it's all over my desk right now. Yeah, I don't know. Kevin, what do you think in regards to that? Trying to find a different operating model with them that we can get more done than you... We're always blocked with their team and stuck somewhere, right?\nThink, is that realistic with some of the stuff we've been scoped or they're looking to discuss or do?"},{"speaker":"Kevin Tuffner","speakerIndex":3,"text":"There is... I mean, I wrote some stuff down, and then I've got to clean it up for you, like we talked about yesterday. I mean, a lot of that is getting them to be honest. That's a come to Jesus conversation.\nIt's like you take that maturity framework I have. It's like I can do these five things in part two of the fly wheel. Like, can you knock down walls for me to do that? You know, like Ryan mentioned the Terra Farmers' code thing. We could totally do parts of that, like within our environment or use AI within their environment. They just can't get out of their own way. Both stubbornness, politics, you know, gaps within the environment, et cetera.\nAnd so, like, you really need a leader to say, you know, cut the noise, pull the plug. Let's actually do this and bring results. Let's not talk about it, you know?"},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"Yeah, I mean, isn't like, VG on the hook for a lot of this, like, in terms of like what he's committed to Craig, is it like."},{"speaker":"Kevin Tuffner","speakerIndex":3,"text":"He's got the majority of the big rocks? I mean, Graham kind of owns the terraform kind of side of the house. I mean, I agree with some of the stuff he's doing and then some of the shit like. I don't know if I talk to you about it or Ian and I know I talked to Dan about it, but. Or Dan quack.\nBut, you know, like the whole building in AWS management console. Like that ship has sailed. Like, every bank has failed doing that. Like, just enable AI to do what you need. Like, I have an example on my list, which is the automation platform integrations with AI like IBM's got a huge gap they're trying to fill. Ryan of how do you get a do TF ansable Turbo all the shit to talk together like we can be that enabler or that USB cable, you know, to bring it together.\nAnd so if they can just get out of their way and just like let us spin this up and bring that value in that incubate, you know, kind of area. You know, there's some value there, but when we continue to do dumb things like cut costs or not cut costs, but, cut corners on, you know, features and tech like, I mean, none of the shits ever going to happen.\nLike, I mean, I'm mainly blaming Graham's a or because his or is just stubborn. He's. I think Danny, I think is probably gonna make changes in a few months because he's noticed it and he's got huge gaps in PMO he's got huge gaps in our bonus team.\nSo I think that will just iron its own self out just due to stupidity on, you know, his direct reports. But like the VG side, it's just like, you know, everything that he's got, it's like, let's chisel away at some of the shit for you. Can you sponsor it?\nYou know, like, if you can't sponsor it, you know, then it's never going to happen. You know, like, let us fail. You know, we're kind of putting our cards on the table. Yeah, and it could be anything. It could be like I have like AI migration factory of OPENSHIFT to Tonzuo. Someone has to fucking do that.\nLike you got to convert all those containers, you've got to move manifest, you've got to move to storage volumes. Like a I should be doing that, not paying KPMG $10 million to do it. You know, you had the IBM thing, which I think we're going to do it anyway just because IBm sees they have a gap here and their portfolio is not there yet.\nLike, we'll kind of beat them to some of that stuff. There's things like skills copy, there's unit testing, QA testing. You know, why does this shit take 42 people in India? You know, there's a blade logic to answerable workstream that needs to be done like refactor that code and you know, in kill blade logic like these are, you know, tech that things that just need to come off the table. Why not use AI?"},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"So the conversation that I mentioned like that with DG is that same thing. Is that same conversation applicable to Graham, or do we just not want to really engage with Graham's team because they're just...?"},{"speaker":"Kevin Tuffner","speakerIndex":3,"text":"I'd roll at V GI first. See what he does. Because he owns the majority of the biger rocks. Graham is kind of stubborn, and I bet he'll be open to it, but like, he kind of already made his mind, like, he because I challenged him on a graph database. I'm like, you know, why don't we just enable Infograph for you instead of you build this like how? She's like, I get it's in SaaSs, but like, we could figure out an exception and bring it on. Prem you guys are big enough.\nLike, if IBM can't do that, we have bigger challenges. But, like, he's kind of got his mind made up of, like, this portal that does, like, cost control and all this shit like AWUS. And like, I, you know, I just sit there and Jim Ray and I joke were like JP's failed cities. Failed.\nLike what makes you able to carry the torture, you know? And so I feel like we just go after V GI get a couple wins because he owns more of the real estate. I think we can impact from an AI like, if you look at Graham, it's just really terraform code and some API shit at the moment, you know?\nAnd then I kind of want to stick a fork in his eye on the whole service now. Shit like, you know, we're doing all this automation, but then you guys are going back to click ops, like, why not? Someone logs in the copilot and say, give me a VM us this template and it goes and fucking does it.\nLike, who wants to go through a website in 2026, right? You know?"},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"Well, it seems like Veg's, or at least Ryan and Kakar and Trick, they're at least more open to these kind of conversations. Yeah, you know, I think Graham's to your point is kind of made, you know, he is the smartest guy."},{"speaker":"Kevin Tuffner","speakerIndex":3,"text":"Put his cards on the table already. And I think he's got to deliver for Craig."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"But, I mean, he's just, you know, to your point, he's just he's in the. He's been yaking for three years. I've known him. He knows what he wants and like, yeah, I not really gonna change that, I guess, but, yeah, I don't know, son, what would be helpful and kind of what I asked Kevin is like, if you could just send me like, a few bullet points around, like things that and I can. I want and I need to put that together to kind of get time with. I'm trying to get in person time with them in Jersey to just like, hey, these are the things we think we can impact. This is what we want to talk about. Come in and kind of like, demonstrate, you know, go through it with you.\nSo I'm just trying to get, like, a few talking points. So if you could like summarize like a few key points from your side like AI and or like kind of doing things like we just take it off the plate into our environment like how we could really have some more meaningful impact.\nLike what I what I'm trying to get in front of is just again, we got to like re restructure the way we're engaged with them for a for more value, but B like they're just in this mode of like AI's solving all problems.\nLike we rolled out coput so we can eliminate, you know, 20% of our developers and all of our SW contractors. And reality, you're not like that's just kind of what the mentality is."},{"speaker":"Ryan Butler","speakerIndex":1,"text":"Yeah."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"So I'm trying to take a different approach.\nI think we've earned a seat at the table to just be direct, like we've got nothing to lose at this point. Just be like this and this is fucked up and you're going to fail if not. But we least got to go on we at least got to go on record with it like."},{"speaker":"Ryan Butler","speakerIndex":1,"text":"Yeah."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"And I'm happy to have that conversation. I think we need to at this point, we're running out of runway with them. But for the year, the..."},{"speaker":"Kevin Tuffner","speakerIndex":3,"text":"27th to TBD. I don't think we're going to get half of what it is."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"And it's not going to be the same. And I mean, who knows where the programs even go, right? Like things to be changing so quickly, like if they even, you know, they could change their rocks completely, who knows.\nLike, you know how that happens every six months, it changes. So anyway, I'm trying so I'm kind of gated with Ryan Haggerty and Canacar shut his name I always fu up his name."},{"speaker":"Ryan Butler","speakerIndex":1,"text":"Who are you going to meet with?"},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"He's like new. He came in from JP so him and Ryan Hag, he split roles.\nSo Ryan's really more like strategy kind of. And then Kindcor is more like foundation platform I think is kind of. So Shricar reports in the Cannacarno, they both report into VG so I'm trying to get on VG's calendar with get done the sponsor a meeting and they've been saying they would they're just trying to like this is what we want to I want to be like very specific, like this is the agenda. These are the talking points, and I want to make them like, you know, something compelling to meet with us. Not just like meat the meat kind of thing. I don't. I'm not going to try to waste our time without that."},{"speaker":"Ryan Butler","speakerIndex":1,"text":"Yeah. Okay, yeah, because I know talking to, like, Dan Kelly, it seems like Shricar is more of like a champion of, like the AI strategy or just doing stuff with AI versus what we're kind of seeing on like the."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"So anything you could shoot over to me would be great. And Kevin will send me and I'll ping. I'm hooking up with Dan tomorrow. I can get something from him. And then from there, I think I can put a story together.\nWell, he's reading the tea leaves. He's like, every year they're like, cut for developers and cut, you know, he's like, if I put your SW into, like, chat PT, he's like, you know, I may not even need it, right?"},{"speaker":"Ryan Butler","speakerIndex":1,"text":"Yeah."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"Like, he's like, I don't know what I meant by that, but he's like, yeah, basically, he's the one that's just like, which I appreciate. He's actually being like, he's kind of coaching like, hey, like, we gotta try and do something. You gotta differentiate. You gotta do something different.\nBecause. Like. To your point, like KPM G's in there and they probably who knows what kind of smoke they're blowing up. The as that they're never going to deliver on, but that could like sabotage the things that we're working on as well.\nSo I mean, and I know IBM's in there like kind of saying like, we'll stitch all this together for you, anyone. We know they can't, right? There's like, you know, we just it's got to be proactive with them.\nSo he's been more of a coach on it and which is helpful. And he built some stuff in his own environment. He showed us around leveraging AI that's like. So, like. Yeah, to your point, like, his mind's definitely there.\nAnd like, you know, and he's saying his guidance is they're starting to become a little more liberal with AI in the sense of like, getting value from it. Like it was so restrictive before now they're starting to be like there's much more openness to look at things, I guess, than there was previously.\nYeah, like it was very restrictive and that, you know, but they're, you know, I think they're to your point, like, you know, one of the. I know one of the mandates last year was like, hey, we got to cut a billion dollars and get 40% efficiency across rolls, and it's like, well, okay, great. How do you quantify that? What does that even mean?\nLike, you know, to your point, like. Like, you know, where's that kind of that whole intake workflow? Like, just dumping a toll out in the into the wild isn't really going to check that kind of."},{"speaker":"Ryan Butler","speakerIndex":1,"text":"Right."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"Or even if it does, like, how do you quantify that it did do that?\nLike, what does that even mean? Like could be cutting 40% of your staff are you like getting 40% more value like what do you how do you quantify what that even means to you? But so. But I mean, and you know, we're on the right initiatives. I just think we've just got to kind of be more proactive and direct with them.\nAnd like we I think we've already a seat at the table to challenge them a little more. I'm not saying we haven't, but I mean, at a leadership level, like BG and them, like, we just really haven't taken that to them to this point."},{"speaker":"Ryan Butler","speakerIndex":1,"text":"Yeah. Okay, sounds good."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"Cool. Anything you guys had, that was all I really had.\nIf you could just guys both shoot me that, you know, today or tomorrow, it'd be awesome."},{"speaker":"Ryan Butler","speakerIndex":1,"text":"Yeah, that's really all I got."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"All right, toy you good very guys have a good what is today Tuesday?\nI was saying it was Thursday when I woke up today, so I'm all fucked up, like, I thought I heard the garbage trucks. I'm like, is it garbage day? [Laughter] Yeah, it's like, what's your garbage truck here?"},{"speaker":"Ryan Butler","speakerIndex":1,"text":"That sinking feeling. No. [Laughter] Yeah."},{"speaker":"Kevin Tuffner","speakerIndex":3,"text":"You got to wait to hold another week."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"It's about like, wrong day of the week TOS."},{"speaker":"Kevin Tuffner","speakerIndex":3,"text":"Or like last week they didn't pick up my grass bin because what happened? And I was like, Wow, I can't really cut grass this weekend. It's already full."},{"speaker":"Jeff Eiben","speakerIndex":2,"text":"Yeah, be overflowed. So all right guys, have a good one."},{"speaker":"Kevin Tuffner","speakerIndex":3,"text":"Thanks, guys. Later."}],"raw_meeting":"**BofA AI Play Brainstorm**\n🕞 Started at 02:00 PM on 21 Apr, lasted 23m","raw_content":"Jeff Eiben | 00:01\nNobrin, how are you?\nRyan Butler | 00:07\nHey, Jeff. Good.\nJeff Eiben | 00:12\nHey, Jeff. Good. Was everything just live in the dream here?\nRyan Butler | 00:13\nAll right, how are you doing?\nJeff Eiben | 00:19\nWe got one day it's 40, the next day it's 75. It's like it's April year.\nRyan Butler | 00:23\nYeah, I was saying on one of the calls yesterday, we like, last week, we had nothing but tornado warnings, like, every single day, every single night.\nJeff Eiben | 00:34\nYeah, I'm that crazy.\nRyan Butler | 00:36\nWe already broke the year record for the amount of tornadoes for the state just in one week's time.\nSo I think we're through it now. I think it's supposed to be seventy today. So hopefully in the right direction now.\nJeff Eiben | 00:48\nYeah, but your... I mean, I assume Gus doesn't really have a lot of tornadoes. Do you like that? I mean, I know it's flat, but...\nRyan Butler | 00:56\nYeah, here and there, but it's a rarity to have like back to back mornings. Like, we'll have them ran like probably one or two a year maybe, but having them over and over again like that's super rare. They're saying, like with El Nino and whatever the hell. Climate change, like the tornado alleys, like moving more north.\nSo we get to look forward to this.\nSo yeah.\nJeff Eiben | 01:20\nYeah, that makes sense. Yeah, it was a weird winter, like, you know, co like kind of the mid Colorado, Utah. It didn't have a lot of snow, but we had like a horrible we had a horrible winter here.\nRyan Butler | 01:31\nOne, I'm curious about how the drought and fires are going to be out west this summer now with so little snow.\nJeff Eiben | 01:33\nIt was one of the worst we've had since the seventies that I remember anyway, but yeah, I'd agree.\nWell, cool. I don't know where. Dan, he's probably on a call, but just wanted to kind of how to up. And then we can. I don't think we're going to take a ton of time, but basically, effectively, what I'm trying to get to is, you know, I'm. I'm kind of talking to like some of the B of a folks and Trecar and everybody.\nLike, you know, I think if we continue along with the path we're on, you know, it's gonna be unlikely we're going to continue there next year and longer just because of the way they're scrutinizing everything.\nSo there's really two things. One is what I'm trying to get at is like is there a way like with what we're doing, is there a way like we can be doing that on our side? And then poured it into their environment to get rid of the blockers.\nAnd then. Secondly, you know, where can we potentially position like AI to them like they kind of. I want to go to, like, DG and just kind of be like we've kind of earned to right like, this is where you're. I'm just going to be like, Frank, like this is where you're gonna fail.\nAnd here's why you're gonna fail. And like. And this is how we can help. You know, we really got nothing to lose at this point. So I'm just trying to get like, feedback from the crew to like, talking points to kind of make that play.\nSo it was really just that was really the kind of the goal of the discussion here. So I'm going to Dan tomorrow as well, so if he doesn't jump on, I could pick his brain down.\nRyan Butler | 03:06\nYeah.\nJeff Eiben | 03:10\nBut I just want to get your thoughts, kind of. Kevin and I discussed a little bit with Shricar last week.\nAnd then I know, kind of from your perspective. Coming in not that long ago, I guess. But what you're seeing?\nRyan Butler | 03:25\nSo it's funny because it's... I think kind of like what I'm seeing at the bank is the basis a lot for, like, the AI kind of like COE. You know, the band kind of flipped on AI, like Copilot and said, okay, guys, like, we're AI enabled.\nAnd now everybody kind of go nuts with it, but there's been like, absolutely, like, no enablement kind of behind it. Like how to leverage it successfully. And I think there's a lot of room from that perspective, you know, even from like the terraformer side, you know, just kind of explaining a few of the basic concepts and then kind of harvesting, you know, what I've kind of taught them and then kind of like they're kind of taking that there.\nSo I think from, like, the advisory side, I think there's like a lot that can kind of be, I guess shown. The problem is it's just trying to get, you know, that audience, which is kind of where I'm kind of getting tied up on kind of the Terraformer side, but there's a lot there.\nAnd I think kind of like the connectivity or like the connect to tissue. Kind of in between from like MCP development, you know, having AI talk to certain endpoints and certain technologies that they already have is possible as well because that's kind of like a black box for them right now as well.\nKevin Tuffner | 04:52\nTwo.\nRyan Butler | 04:53\nSo yeah, the interesting point, Kevin, I think we talked about this like they have an initiative like they have to like they're supposed to like use AI to enhance and like quote unquote like save money.\nBut there's really nothing under like defining that is that correct?\nKevin Tuffner | 05:18\nYeah, I think at the practitioner level, I think that's correct. I think at the leadership level, they have a different mandate, but it just hasn't trickled through.\nRyan Butler | 05:21\nOkay.\nKevin Tuffner | 05:26\nLike most works like Craig.\nRyan Butler | 05:26\nIt. Yeah, the other thing too, I'll say is it's interesting cause like, I don't really know who made the like the deciding factor of, like, to go with a GitHub Copilot, but like, one of the issues is like they're not really in a GitHub shop.\nKevin Tuffner | 05:30\nCraig has it across his lieutenants like VG, Graham, and others.\nIt's just how do they distill that down through the work?\nRyan Butler | 05:55\nSo a lot of, like the capability that Copilot offers, they're kind of like kneecaped, which I know it's like out of our like control, but just kind of wanted to mention it. So we're right.\nJeff Eiben | 06:05\nJust because I want their codes somewhere else or something like that.\nKevin Tuffner | 06:09\nThey use Bitbucket like a whole other team owns the pipelines.\nRyan Butler | 06:09\nRight, yeah.\nKevin Tuffner | 06:13\nYeah.\nRyan Butler | 06:13\nSo there's like a lot of capability of like GitHub, you know, maintaining the code within GitHub, but now that they don't have that, they lose a lot of that, which I don't know, but that's just kind of the bank.\nBut yeah, and I know KPMG is kind of in there, kind of sniffing around trying to identify use cases and things like that, but again, I think a big play is just like the enablement side.\nJeff Eiben | 06:35\nNo, yeah, that's where I always thought because it seems like that's their biggest one of their biggest struggles is just enabling the consumers. It's like a car outside that has this glare on my window.\nRyan Butler | 06:52\nYeah.\nJeff Eiben | 06:52\nSo we're like, \"It's blinding.\"\nRyan Butler | 06:53\nI see it on your face. Yeah.\nJeff Eiben | 06:56\nBut one thing I when I was talking to Brian Haggerty, he brought up was like I think the one of the bigger, biggest challenges is like the dependencies around, like, you know, some of this.\nAnd like, how do you keep track of that? Like is there are so many layers to this, right? Like that's if they make changes. What are the de what are the dependencies it's going to, like, fall prey to. Is that like a can of. Is that. Is that just like a bowl of spaghetti or is like. Is there a real, like, way to kind of like help untangle that for them, like, with what we're at least we're working on, like, if that makes sense.\nRyan Butler | 07:38\nLike, what kind of dependencies are you kind of thinking there? Or guess what was he kind of speaking to?\nJeff Eiben | 07:43\nI mean, I think like just anything like kind of the you know, anything downstream like, you know, if they make a change number in their pipeline, like what does that do with within you know, there's so many teams, I guess, integrated into that stack like what's the like that I mean, I think it's complex.\nRyan Butler | 07:50\nYeah.\nJeff Eiben | 08:01\nThat's where I'm kind of struggling with it because I'm not technical, but like, I think the that's where I think they see some of the challenges as well with, like scaling. This, I guess, is one way to put it. But.\nRyan Butler | 08:14\nI mean, I think from like the dependency issue is like that's already a problem at the bank. Making one change and impacting others.\nAnd I think that's potentially where AI could help, you know, evaluating, you know, the code that's potentially going in and saying, hey, this is going to disrupt XYZ. You know, there's. I mean, it's kind of limitless on. On what we could potentially do here like approval workflows could adjust depending on, you know, what the code is actually doing or dependencies like you kind of name it.\nIt's we just kind of really need to, I think, kind of peel back the young in on some of these use cases. And I'm pretty positive we can help kind of develop whatever.\nJeff Eiben | 09:00\nYeah, the that was kind of like Shricar Point was like, you know, okay, hey, it comes around like, okay, we spent $2 million with Riverpot.\nRyan Butler | 09:00\nBut again, it's getting that audience.\nJeff Eiben | 09:13\nLike, what did we get for it?\nAnd like, you know, it's like, that's all I got for $2 million. And they understand, like, a lot of the challenges on their side, like, they know they're slow. They're, you know, they're a lot of blockers.\nSo, you know, he's the one that kind of suggested, like, you know, maybe it's like, hey, we'll do this in our environment, like we'll port it over like, you know, to get like, more done for same money, whatever.\nBut where I'm going with this, is that, like, realistic with what we're doing or is it like, do we really kind of need to be in their environment for, like, the activities we have going on?\nRyan Butler | 09:49\nI think it kind of depends a little bit on what kind of work stream we're kind of like working at. I think from say like the terraform side or the provider side, I think that is a lot more like code development.\nI think that Workstream would we could probably be at the most value from like an AI perspective quickly. But then the other workstreams like I think we would have to kind of embed ourselves and get kind of an understanding of like use case and develop from that side. It would be a little different in kind of the patterns, but from like a value, I would say terraformer side.\nAnd then kind of trickle that down into the other works. Work streams.\nJeff Eiben | 10:30\nTwo. My daughter just got a kitten, and it's all over my desk right now. Yeah, I don't know. Kevin, what do you think in regards to that? Trying to find a different operating model with them that we can get more done than you... We're always blocked with their team and stuck somewhere, right?\nThink, is that realistic with some of the stuff we've been scoped or they're looking to discuss or do?\nKevin Tuffner | 11:00\nThere is... I mean, I wrote some stuff down, and then I've got to clean it up for you, like we talked about yesterday. I mean, a lot of that is getting them to be honest. That's a come to Jesus conversation.\nIt's like you take that maturity framework I have. It's like I can do these five things in part two of the fly wheel. Like, can you knock down walls for me to do that? You know, like Ryan mentioned the Terra Farmers' code thing. We could totally do parts of that, like within our environment or use AI within their environment. They just can't get out of their own way. Both stubbornness, politics, you know, gaps within the environment, et cetera.\nAnd so, like, you really need a leader to say, you know, cut the noise, pull the plug. Let's actually do this and bring results. Let's not talk about it, you know?\nJeff Eiben | 11:58\nYeah, I mean, isn't like, VG on the hook for a lot of this, like, in terms of like what he's committed to Craig, is it like.\nKevin Tuffner | 12:05\nHe's got the majority of the big rocks? I mean, Graham kind of owns the terraform kind of side of the house. I mean, I agree with some of the stuff he's doing and then some of the shit like. I don't know if I talk to you about it or Ian and I know I talked to Dan about it, but. Or Dan quack.\nBut, you know, like the whole building in AWS management console. Like that ship has sailed. Like, every bank has failed doing that. Like, just enable AI to do what you need. Like, I have an example on my list, which is the automation platform integrations with AI like IBM's got a huge gap they're trying to fill. Ryan of how do you get a do TF ansable Turbo all the shit to talk together like we can be that enabler or that USB cable, you know, to bring it together.\nAnd so if they can just get out of their way and just like let us spin this up and bring that value in that incubate, you know, kind of area. You know, there's some value there, but when we continue to do dumb things like cut costs or not cut costs, but, cut corners on, you know, features and tech like, I mean, none of the shits ever going to happen.\nLike, I mean, I'm mainly blaming Graham's a or because his or is just stubborn. He's. I think Danny, I think is probably gonna make changes in a few months because he's noticed it and he's got huge gaps in PMO he's got huge gaps in our bonus team.\nSo I think that will just iron its own self out just due to stupidity on, you know, his direct reports. But like the VG side, it's just like, you know, everything that he's got, it's like, let's chisel away at some of the shit for you. Can you sponsor it?\nYou know, like, if you can't sponsor it, you know, then it's never going to happen. You know, like, let us fail. You know, we're kind of putting our cards on the table. Yeah, and it could be anything. It could be like I have like AI migration factory of OPENSHIFT to Tonzuo. Someone has to fucking do that.\nLike you got to convert all those containers, you've got to move manifest, you've got to move to storage volumes. Like a I should be doing that, not paying KPMG $10 million to do it. You know, you had the IBM thing, which I think we're going to do it anyway just because IBm sees they have a gap here and their portfolio is not there yet.\nLike, we'll kind of beat them to some of that stuff. There's things like skills copy, there's unit testing, QA testing. You know, why does this shit take 42 people in India? You know, there's a blade logic to answerable workstream that needs to be done like refactor that code and you know, in kill blade logic like these are, you know, tech that things that just need to come off the table. Why not use AI?\nJeff Eiben | 15:02\nSo the conversation that I mentioned like that with DG is that same thing. Is that same conversation applicable to Graham, or do we just not want to really engage with Graham's team because they're just...?\nKevin Tuffner | 15:12\nI'd roll at V GI first. See what he does. Because he owns the majority of the biger rocks. Graham is kind of stubborn, and I bet he'll be open to it, but like, he kind of already made his mind, like, he because I challenged him on a graph database. I'm like, you know, why don't we just enable Infograph for you instead of you build this like how? She's like, I get it's in SaaSs, but like, we could figure out an exception and bring it on. Prem you guys are big enough.\nLike, if IBM can't do that, we have bigger challenges. But, like, he's kind of got his mind made up of, like, this portal that does, like, cost control and all this shit like AWUS. And like, I, you know, I just sit there and Jim Ray and I joke were like JP's failed cities. Failed.\nLike what makes you able to carry the torture, you know? And so I feel like we just go after V GI get a couple wins because he owns more of the real estate. I think we can impact from an AI like, if you look at Graham, it's just really terraform code and some API shit at the moment, you know?\nAnd then I kind of want to stick a fork in his eye on the whole service now. Shit like, you know, we're doing all this automation, but then you guys are going back to click ops, like, why not? Someone logs in the copilot and say, give me a VM us this template and it goes and fucking does it.\nLike, who wants to go through a website in 2026, right? You know?\nJeff Eiben | 16:40\nWell, it seems like Veg's, or at least Ryan and Kakar and Trick, they're at least more open to these kind of conversations. Yeah, you know, I think Graham's to your point is kind of made, you know, he is the smartest guy.\nKevin Tuffner | 16:55\nPut his cards on the table already. And I think he's got to deliver for Craig.\nJeff Eiben | 16:58\nBut, I mean, he's just, you know, to your point, he's just he's in the. He's been yaking for three years. I've known him. He knows what he wants and like, yeah, I not really gonna change that, I guess, but, yeah, I don't know, son, what would be helpful and kind of what I asked Kevin is like, if you could just send me like, a few bullet points around, like things that and I can. I want and I need to put that together to kind of get time with. I'm trying to get in person time with them in Jersey to just like, hey, these are the things we think we can impact. This is what we want to talk about. Come in and kind of like, demonstrate, you know, go through it with you.\nSo I'm just trying to get, like, a few talking points. So if you could like summarize like a few key points from your side like AI and or like kind of doing things like we just take it off the plate into our environment like how we could really have some more meaningful impact.\nLike what I what I'm trying to get in front of is just again, we got to like re restructure the way we're engaged with them for a for more value, but B like they're just in this mode of like AI's solving all problems.\nLike we rolled out coput so we can eliminate, you know, 20% of our developers and all of our SW contractors. And reality, you're not like that's just kind of what the mentality is.\nRyan Butler | 18:13\nYeah.\nJeff Eiben | 18:16\nSo I'm trying to take a different approach.\nI think we've earned a seat at the table to just be direct, like we've got nothing to lose at this point. Just be like this and this is fucked up and you're going to fail if not. But we least got to go on we at least got to go on record with it like.\nRyan Butler | 18:28\nYeah.\nJeff Eiben | 18:30\nAnd I'm happy to have that conversation. I think we need to at this point, we're running out of runway with them. But for the year, the...\nKevin Tuffner | 18:40\n27th to TBD. I don't think we're going to get half of what it is.\nJeff Eiben | 18:45\nAnd it's not going to be the same. And I mean, who knows where the programs even go, right? Like things to be changing so quickly, like if they even, you know, they could change their rocks completely, who knows.\nLike, you know how that happens every six months, it changes. So anyway, I'm trying so I'm kind of gated with Ryan Haggerty and Canacar shut his name I always fu up his name.\nRyan Butler | 19:01\nWho are you going to meet with?\nJeff Eiben | 19:12\nHe's like new. He came in from JP so him and Ryan Hag, he split roles.\nSo Ryan's really more like strategy kind of. And then Kindcor is more like foundation platform I think is kind of. So Shricar reports in the Cannacarno, they both report into VG so I'm trying to get on VG's calendar with get done the sponsor a meeting and they've been saying they would they're just trying to like this is what we want to I want to be like very specific, like this is the agenda. These are the talking points, and I want to make them like, you know, something compelling to meet with us. Not just like meat the meat kind of thing. I don't. I'm not going to try to waste our time without that.\nRyan Butler | 19:48\nYeah. Okay, yeah, because I know talking to, like, Dan Kelly, it seems like Shricar is more of like a champion of, like the AI strategy or just doing stuff with AI versus what we're kind of seeing on like the.\nJeff Eiben | 19:49\nSo anything you could shoot over to me would be great. And Kevin will send me and I'll ping. I'm hooking up with Dan tomorrow. I can get something from him. And then from there, I think I can put a story together.\nWell, he's reading the tea leaves. He's like, every year they're like, cut for developers and cut, you know, he's like, if I put your SW into, like, chat PT, he's like, you know, I may not even need it, right?\nRyan Butler | 20:14\nYeah.\nJeff Eiben | 20:24\nLike, he's like, I don't know what I meant by that, but he's like, yeah, basically, he's the one that's just like, which I appreciate. He's actually being like, he's kind of coaching like, hey, like, we gotta try and do something. You gotta differentiate. You gotta do something different.\nBecause. Like. To your point, like KPM G's in there and they probably who knows what kind of smoke they're blowing up. The as that they're never going to deliver on, but that could like sabotage the things that we're working on as well.\nSo I mean, and I know IBM's in there like kind of saying like, we'll stitch all this together for you, anyone. We know they can't, right? There's like, you know, we just it's got to be proactive with them.\nSo he's been more of a coach on it and which is helpful. And he built some stuff in his own environment. He showed us around leveraging AI that's like. So, like. Yeah, to your point, like, his mind's definitely there.\nAnd like, you know, and he's saying his guidance is they're starting to become a little more liberal with AI in the sense of like, getting value from it. Like it was so restrictive before now they're starting to be like there's much more openness to look at things, I guess, than there was previously.\nYeah, like it was very restrictive and that, you know, but they're, you know, I think they're to your point, like, you know, one of the. I know one of the mandates last year was like, hey, we got to cut a billion dollars and get 40% efficiency across rolls, and it's like, well, okay, great. How do you quantify that? What does that even mean?\nLike, you know, to your point, like. Like, you know, where's that kind of that whole intake workflow? Like, just dumping a toll out in the into the wild isn't really going to check that kind of.\nRyan Butler | 21:58\nRight.\nJeff Eiben | 21:59\nOr even if it does, like, how do you quantify that it did do that?\nLike, what does that even mean? Like could be cutting 40% of your staff are you like getting 40% more value like what do you how do you quantify what that even means to you? But so. But I mean, and you know, we're on the right initiatives. I just think we've just got to kind of be more proactive and direct with them.\nAnd like we I think we've already a seat at the table to challenge them a little more. I'm not saying we haven't, but I mean, at a leadership level, like BG and them, like, we just really haven't taken that to them to this point.\nRyan Butler | 22:32\nYeah. Okay, sounds good.\nJeff Eiben | 22:36\nCool. Anything you guys had, that was all I really had.\nIf you could just guys both shoot me that, you know, today or tomorrow, it'd be awesome.\nRyan Butler | 22:47\nYeah, that's really all I got.\nJeff Eiben | 22:49\nAll right, toy you good very guys have a good what is today Tuesday?\nI was saying it was Thursday when I woke up today, so I'm all fucked up, like, I thought I heard the garbage trucks. I'm like, is it garbage day? [Laughter] Yeah, it's like, what's your garbage truck here?\nRyan Butler | 23:05\nThat sinking feeling. No. [Laughter] Yeah.\nKevin Tuffner | 23:10\nYou got to wait to hold another week.\nJeff Eiben | 23:12\nIt's about like, wrong day of the week TOS.\nKevin Tuffner | 23:16\nOr like last week they didn't pick up my grass bin because what happened? And I was like, Wow, I can't really cut grass this weekend. It's already full.\nJeff Eiben | 23:25\nYeah, be overflowed. So all right guys, have a good one.\nKevin Tuffner | 23:31\nThanks, guys. Later."}},"webhookUrl":"https://n8n.techdrabble.com/webhook/7927da1b-e8df-447a-8e02-613563581f2f","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"b11a545e-8b9e-4ee3-9a62-461067e8ebe3","activeVersionId":"28da4f64-5b4a-4cba-adfd-b37e60eafd7c","triggerCount":2,"shared":[{"updatedAt":"2026-01-29T16:11:14.812Z","createdAt":"2026-01-29T16:11:14.812Z","role":"workflow:owner","workflowId":"EEGEcDYO8K9SUVOF","projectId":"jFzgn8YND5hEbIq7"}],"activeVersion":{"updatedAt":"2026-04-20T21:17:11.362Z","createdAt":"2026-04-20T21:16:59.108Z","versionId":"28da4f64-5b4a-4cba-adfd-b37e60eafd7c","workflowId":"EEGEcDYO8K9SUVOF","nodes":[{"parameters":{"endpointUrl":"http://todoist-mcp.mcp.svc.cluster.local:8080/mcp","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[400,416],"id":"53f92c91-820e-4334-9520-165b30bc189a","name":"MCP Client"},{"parameters":{"promptType":"define","text":"=<meeting_data>\nMeeting Context: {{ $json.body.data.raw_meeting }}\nTranscript: {{ $json.body.data.raw_content }}\n</meeting_data>\n","options":{"systemMessage":"Role: You are a highly precise Executive Assistant specializing in meeting intelligence and task extraction. Your sole focus is identifying actionable commitments made by Ryan (rbutler@riverpointtechnology.com) and preparing them for Todoist integration.\n\nObjective:\nAnalyze the transcript and context to isolate \"to-dos\" where Ryan is the explicit owner.\n\nStep-by-Step Instruction Pipeline:\nSpeaker Identification: Map all mentions of \"Ryan\" or \"rbutler\" to the speaker list to ensure you are tracking the correct entity.\n\nTask Extraction: Scan the transcript for verbs indicating commitment (e.g., \"I will,\" \"I'll take care of,\" \"Assign that to me,\" \"I'm going to\").\n\nOwnership Filter: * Include: Tasks explicitly assigned to Ryan or volunteered for by Ryan.\n\nExclude: Tasks assigned to others, general team brainstorming, or vague \"we should\" statements where Ryan is not the lead.\n\nDeduplication: Review the context to ensure the task isn't a repeat of a previously discussed item already marked as \"captured.\"\n\nData Structuring: Format the output strictly as a JSON object (or the format required by your automation tool) for Todoist.\n\nOutput Formatting Rules:\nProject: Always set to Krisp.\n\nPriority/Due Date: Leave blank/Do not include.\n\nTask Title: Action-oriented and concise (e.g., \"Email client regarding Q3 roadmap\").\n\nDescription: Provide a 2-3 sentence summary of why this task was created based on the meeting context and include the specific quote from the transcript.\n\nStrict Guardrails:\nZero-Task Policy: If no specific, certain tasks for Ryan are found, your entire response MUST be: \"No tasks identified for Ryan.\"\n\nNo Assumptions: If it is unclear who owns a task, do NOT assign it to Ryan.\n\nNo General Items: Do not create tasks for \"Team\" objectives unless the transcript explicitly states \"Ryan, you are leading this.\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[160,208],"id":"ff055aaa-0383-45fe-9244-b040ffbfefac","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[0,0],"id":"8af87a78-48a6-4967-ae0b-7690b1177f9e","name":"When chat message received","webhookId":"51a9d6b0-e303-4aa9-b584-352c4b33e4c5"},{"parameters":{"model":{"__rl":true,"value":"gpt-5.4-nano","mode":"list","cachedResultName":"gpt-5.4-nano"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[32,416],"id":"d712143d-c0a6-4400-b2c7-426a7b348b77","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"IAPdFCUrAWR1K4iM","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"7927da1b-e8df-447a-8e02-613563581f2f","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-336,224],"id":"d6e51b12-d59b-4489-b1ea-29a1f994698f","name":"Webhook","webhookId":"7927da1b-e8df-447a-8e02-613563581f2f","credentials":{"httpHeaderAuth":{"id":"IuigkubgvrNXhPG5","name":"Krisp"}}},{"parameters":{"chatId":"-5111992003","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,224],"id":"c72437b0-9fbc-4581-a465-ef6d3598207b","name":"Send a text message","webhookId":"365a63b5-889e-468a-a368-d6a5e2d472bd","credentials":{"telegramApi":{"id":"zCg94anbG4RLthQ5","name":"Telegram account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.data.meeting.id }}","tableName":"n8n_chat_histories_todo"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[208,432],"id":"4283fddb-faf2-407d-b856-f793d0f7f163","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"uFwg5OQbb3tpwBJ0","name":"Postgres account"}}}],"connections":{"When chat message received":{"main":[[]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"nodeGroups":[],"authors":"Ryan Butler","name":"Version 28da4f64","description":"","autosaved":true},"tags":[]}