backups/Krisp to ToDoIst.json
{"updatedAt":"2026-01-29T19:57:39.436Z","createdAt":"2026-01-29T16:11:14.812Z","id":"EEGEcDYO8K9SUVOF","name":"Krisp to ToDoIst","active":true,"isArchived":false,"nodes":[{"parameters":{"endpointUrl":"http://todoist-mcp.mcp.svc.cluster.local:8080/mcp","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[432,368],"id":"53f92c91-820e-4334-9520-165b30bc189a","name":"MCP Client"},{"parameters":{"promptType":"define","text":"=I want you to look at the meeting content which includes a transcript below and determine if there are any todos for Ryan or rbutler@riverpointtechnology.com ONLY. If there are any todos I want you to create them in the Krisp todoist project. Do not set a due date or priority. If possible add a comment in the task outling meeting info and add detail to whats needed for the request. Make sure to check for any existing todos that are similar and do not recreate.\n\nMeeting Info:  {{ $json.body.data.raw_meeting }}\nMeeting Transcript: {{ $json.body.data.raw_content }}\nMeeting Speakers: {{ $json.body.data.meeting.speakers }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[160,208],"id":"ff055aaa-0383-45fe-9244-b040ffbfefac","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[0,0],"id":"8af87a78-48a6-4967-ae0b-7690b1177f9e","name":"When chat message received","webhookId":"51a9d6b0-e303-4aa9-b584-352c4b33e4c5"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[32,416],"id":"d712143d-c0a6-4400-b2c7-426a7b348b77","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"IAPdFCUrAWR1K4iM","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"7927da1b-e8df-447a-8e02-613563581f2f","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-336,224],"id":"d6e51b12-d59b-4489-b1ea-29a1f994698f","name":"Webhook","webhookId":"7927da1b-e8df-447a-8e02-613563581f2f","credentials":{"httpHeaderAuth":{"id":"IuigkubgvrNXhPG5","name":"Krisp"}}},{"parameters":{"chatId":"-5111992003","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,224],"id":"c72437b0-9fbc-4581-a465-ef6d3598207b","name":"Send a text message","webhookId":"365a63b5-889e-468a-a368-d6a5e2d472bd","credentials":{"telegramApi":{"id":"zCg94anbG4RLthQ5","name":"Telegram account"}}}],"connections":{"When chat message received":{"main":[[]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.techdrabble.com","user-agent":"KrispAgent","content-length":"45247","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","authorization":"e78e2d836036787177b5328b005f5aaa2831b4c9646246af4d9f3e5a5a3b9ca1","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"23.22.187.197","cf-ipcountry":"US","cf-ray":"9c5b48c69b02e621-IAD","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"ee989791-568e-4c6a-a01c-4d9d34283ab9","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"23.22.187.197","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"data":{"raw_content":"Ryan Butler | 00:03\nHey.\nspantol@riverpointtechnology.com | 00:13\nI'm assuming this is your one break between bank calls today?\nRyan Butler | 00:17\nIt's actually been kind of quiet. So the problem is too, is a lot of my calls are getting forwarded, so I don't get the updates when they get canceled or moved. It's been problematic. But other than that's been pretty quiet with them on that off site.\nspantol@riverpointtechnology.com | 00:37\nI guess we'll take that.\nRyan Butler | 00:38\nYeah, exactly.\nspantol@riverpointtechnology.com | 00:43\nCool. So, yeah, rocks and stuff. I can cheer up my screen, but it's all in strety two. I started trying to pick apart some of these things, but I didn't want to get too carried away before we all got on here. I'm not entirely sure where the best place to start is. The ones that kind of in scope for us are this, you know, client success sales fly wheel, which is really documenting what came out of that exercise with a kickoff along with, merging that into Danny's engagement framework stuff. \nAnd then these were the active ones to we brought over to that we had set up for the quarter. All of them can probably be broken down. The sock audit is in progress. It's just kind of pending free time and pending when we want to officially finish. That has been a huge party. \nFrom Jeff. Content repository standardization was around restructuring where stuff lives and trying to roll out something consistent. AI assisted product delivery playbook idea was, you know, by roll by product type. \nYou know, how we're using AI, what we've tried, what our standards are going to be. I threw out a couple, you know, I just called them to dos versus milestones in this view. Just little bits of that occurred to me to break out like documenting, Krisp, bondboarding and standards for using that tool. I owe that anyway. How do you AI for workshop planning? How does it for develop deliveral development? I'm sure there's more we can call out for build delivery capability for viewing product offerings. A couple things in there that we've been talking about that are related. Revamping, relaunching resource management process, building float templates for the different package areas so that when we want to deploy a new project, we can just grab the one that's modeled after that type of product so that there's already, you know, phases, roles, costs kind of in there. \nAnd then start modeling pricing and float versus spreadsheets so that we can start making resource manager type decisions earlier in the process. As far as I got today, has anyone else had a chance to start thinking through this? Or are we kind of all working from a blank sheet of paper now?\nRayna Luzier | 02:49\nBlank here.\nRyan Butler | 02:51\nYeah, I think my thought was we kind of take, I guess, like, your rocks and we kind of break them down into other ones to kind of, I guess, be able to, like complete the rocks as a team. At least that was kind of my assumption. Okay.\nspantol@riverpointtechnology.com | 03:12\nYeah, that works for me. And the intention was not that these were all, you know, just me. Yeah, they you can't tag them. Well, I guess I could have tag them as is ant unowned, but then they show up just there as orphaned. \nBut yeah, they're departmental versus personal. Any of the twos that we called out there can be spawned rocks that other people can own. So we can absolutely do that. But I think the two big ones to pull apart are these last two. Any preference on where to start?\nFrank Martinez | 03:45\nI still AI assisted. I think there's one that we can add here for not only deliver deliverable development, but just like status reports and other reporting related to projects. I know I personally use AI for some of the status reports that I send out for the bank, so we should probably define that. \nAnd then I assume baked into this somewhere is approving certain AI tools because we'll want to control the data and what tools are used, what information we're sharing, that type of thing.\nRayna Luzier | 04:25\nI was thinking too. Yeah. Once you're done typing. Okay. AI for even generating like the level of efforts as of the. So sow creation. So obviously they would take a lot of logic, but maybe starting with like V one and knowing what like we already know how much it costs to or an estimate or how much it costs to do, let's say a Terraform deployment. \nAnd with some other additional components in there, we can kind of build out, you know, costs to be added in, you know, over the shoulder stuff costs other kinds of things and just kind of have it help generate those pricing models.\nspantol@riverpointtechnology.com | 05:17\nOkay, I like it. I'm hoping some of that is solved by, you know, starting with templates that are already better built, but yeah, help more consistently customize those things. I'm sure there's a play there.\nRyan Butler | 05:39\nI'm kind of like, gravitating towards, like the guidance on supported AI tools and processes. Like, to me, that one kind of dictates a lot of like, okay, like, what are we doing for governance? What? What are we using AI for? What won't we use AI for?\nFrank Martinez | 05:56\nTwo.\nRyan Butler | 05:56\nWhat are we telling our clients about AI? Just the whole kind of, I guess fine print type aspect of this.\nFrank Martinez | 06:10\nHave we come across any contractual language from our clients on AI usage?\nspantol@riverpointtechnology.com | 06:18\nOnly place we've seen that in writing is on IBM Tel paper. There's always a section there saying no AI will be used in any part of this, and pushback saying but we do. And they say don't worry about it, which I don't love. \nThat's part of the broader like how do we work better together with tel thing that's playing out in the background. \nI captured the yeah, the bit about how we standard language, we have a start of that in a document as you roll out. Krisp one of the things we're going to do is change the built in templates that are used by teams and zoom to include a little disclaimer that hey, we're gonna record this unless you tell us not to, just to get that in front of people. \nAnd there'll be something in SAS and MSAS as well. But it's not done yet, so we should keep tracking it as a thing to be done.\nRyan Butler | 07:20\nI think the cell development would be one aspect of, like, creation, but I think like, like reviewing validation would be kind of another component to this that I think sometimes gets lost because everybody's kind of piecemealing it together and like, kind of like one final, like, review, I think would be good.\nspantol@riverpointtechnology.com | 07:45\nIs that an AI specific thing, or more of just a promp?\nRyan Butler | 07:48\nI would say like an AI like specific thing. Just make. \nAnd like, we could say, like, here's what we require in our statement of works. Does it fit like this criteria? Does it have guard rails mentioning deliverable? You know, things like that we could kind of codify to making sure that we have in the statement of work before it kind of gets finalized to the client.\nRayna Luzier | 08:14\nEven consistency in formatting, grammar stuff, things that make it look polished.\nRyan Butler | 08:23\nNot random capital letters.\nspantol@riverpointtechnology.com | 08:31\nLike that. \nThe right way to word, you know AI for code development. Maybe it's just that easy. A for code development. Sam keeps harping on we should buy Copilot for everybody, but do we need that for everybody or is that a role based thing?\nRyan Butler | 08:55\nI think it's like a nice to have. Like, obviously, it would be nice that everybody's the same platform. But I think there's kind of other ways to kind of get the same thing. \nI mean, first of all, you have like kind of a free version of Copilot that's pretty good. Then you have like other products and it's like I think it kind of goes back to the vendor discussion. Like. Is Copilot really? \nLike the best. Like choice or are we just kind of leaning on that because that's the first one we did.\nRayna Luzier | 09:25\nIs that kind of is that where like, what's it called antigravity falls in?\nRyan Butler | 09:31\nRight? And like, Claude is obviously a giant one out there. Winds I mean, there's a bunch of other players in this, and it's I think we need to kind of take a step back and like, really, what do we want to get out of the code development from the AI perspective? \nAnd then kind of attack a vendor accordingly.\nFrank Martinez | 09:52\nYes, we should factor in the SAC 2 audit as well. I'm sure there's going to be some direction there on what we have to do to meet those requirements, and that will probably drive what tool we select.\nspantol@riverpointtechnology.com | 10:07\nTo an extent. But I it's easy if it's any of the major ones, if it's anything from Anthropic or open AI or Microsoft like there's they have their own doc to statement that we just point to. So we inherit their sock bits. As long as we're so long as we identify that as an external system, then we have rules around how we're interacting with it. We're good. We don't have to worry about what they do because they have their own attestation.\nFrank Martinez | 10:32\nGot it? Yeah. So I guess it's more about making sure that we're following the recommended tools and not using, you know, whatever flip flop. But that's out there. Yeah, and no one laughed at that. I just made that up so the there's too many I AI tools that I can just make up a word and it doesn't raise any alarms. \nBut yeah.\nspantol@riverpointtechnology.com | 10:54\nRemember that slide from a bunch of years ago with a word cloud and it was you know which of these are DevOps tools, which of these are Pokemon as a good. I think every one of these things is gonna have a, you know, what are the supported tools for use here bit? \nAnd do we have a gap where we need to find a tool that can help this?\nRyan Butler | 11:25\nYeah. That's gonna be a big piece of. This is. Yeah. Do we develop our own or use something canned?\nspantol@riverpointtechnology.com | 11:48\nAny other role or task based things that we want to call out here? \nI can't think of anything else to add. If you guys can either, we can move on to the next one.\nFrank Martinez | 12:06\nI mean, the only other one would be maybe like marketing case studies trying to use AI for that, to summarize, based on a document repository, you know, give me a case study with some graphics that we can give to marketing.\nspantol@riverpointtechnology.com | 12:24\nGood thing. But for this one, we don't care. That is the thing. Which, for the company, totally. But that'll be captured by Kevin's wish list. We can help, but out of scope for right now. \nOkay, let's see the other one that we can come up here and come back and try to divide out a little bit. Ge I hope that saved. Yeah, I did. Okay. Good. How we deliver stuff based on the new world and the old one. \nSo I had a call with Clark, Dave and Sam Tuesday. Tuesday, I think talking through the first vertical in the product roadmap that Cora has and talking about how to do a gap analysis of what that's calling for versus things that we have. \nAnd Sam and Dave are working on kind of a first pass approach at how to do that. Whatever they come back with, we can incorporate here. But we can probably think a little bit ahead of that in terms of you know what we know we want to do better to scale to support potentially a whole bunch of these cookie cutter things in the tier that are tier one across these things.\nFrank Martinez | 13:55\nAnd just to kind of level set. Are we talking tier one or are we focused on tier zero? Is that still a thing?\nspantol@riverpointtechnology.com | 14:03\nHere's zero is still a thing, but I think we've t zero is gonna up being very like product focused things like migrations with Skybridge, Skywire assessments. I don't think there's as much of a I think it's that big of a lift. We haven't quite decided what's in the catalog. \nThat's Clark's roadmap goal for this quarter is to get, you know, a set of things identified for tier zero to then build out next quarter. So I think for our part, we can focus on tier one and where it makes sense, two and three, knowing that, you know, we're not going to get at all. Yes, this is really more of a help. \nBut get as much done as we can in the quarter. We can prioritize the just basic terraform vault verticals. I forget the fancy names we have for them, but that's where we have the most existing work that we can, yeah, mold into this new structure.\nFrank Martinez | 15:07\nYeah, I would say deliverable documentation. We should standardize on that.\nRayna Luzier | 15:13\nFrom PowerPoint presentations, discovery questionnaires, design documents, knowledge transfer templates, maybe as built documents if we do stuff like that.\nFrank Martinez | 15:31\nYeah, and then the PM documentation. I'm sure that's more in their warehouse and they can define that, but we see quite a bit clients requesting their own version of status reports with their own language, which, you know, breaks the mold here. \nSo yeah, that means project closure.\nspantol@riverpointtechnology.com | 15:53\nCall it on the AI side like. Let's do it in our template and see what we can do to automate converting.\nRyan Butler | 16:02\nSteve from kind of like the I guess tier or I guess like technology like vault traform. We have like owners, right? Like technical owners to those as well. Okay.\nspantol@riverpointtechnology.com | 16:16\nWe have people tagged is you know, they're the go to person to help add detail here, but, kind of takes a village too, right? So we've got Sam on one of Quackenbush on another one. We might have to replace him. Michael Leon on the vault one. I'm gonna pull up the deck because I can't remember what the all five are right now.\nRyan Butler | 16:39\nAnd then do we have these like where are people kind of like billing their time towards these like do we have buckets for the this.\nspantol@riverpointtechnology.com | 16:52\nWe do I can't remember what they are I'm. But right now for it but we do have a solution development one we might tweak that one just to make it easier to report on since there will there should be more of this structured activity going on.\nRyan Butler | 17:07\nOkay, so.\nFrank Martinez | 17:07\nYeah, I think they're called like packaging. Yeah.\nspantol@riverpointtechnology.com | 17:10\nSolution IP development is the. Is the project name infloat? We need to add tasks that are tasks under the project that are aligned to these.\nRyan Butler | 17:23\nOkay. Because, like, I'm looking at this, like this to me is like a project in it's in itself, like, do we want like a like project manager kind of behind this, like Danny to kind of help kind of run this or. I'm just trying to think of, like, how we're gonna make sure we're accountable in getting stuff done here.\nspantol@riverpointtechnology.com | 17:46\nYeah, I would like to have internal project managers assigned to this. I think Danny doesn't have a whole tic capacity right now, but. Well, she's more than she has had in the past, but she's still spread fairly thin.\nRyan Butler | 17:52\nOkay?\nspantol@riverpointtechnology.com | 17:57\nWe're going to. I mentioned last time we're going to bring in backfill for Tony Thomas when he's on maternity leave, which will then give us, you know, more capacity when he's back and possibly add one more PM that can help in the meantime. \nI've asked Dave to try to handle the cat herding part of this. He won't, you know, influence tech direction, but he can help with that. First vertical help. Sam you know, get a backlog to find model it and you know, GitHub or wherever they want to track this and stand upp people for updates and getting into a release cadence.\nRyan Butler | 18:26\nOkay, that's great. I that's. I think that's a perfect spot for Dave, too. \nSo that's. That's great.\nRayna Luzier | 18:36\nAnd I the release cadening is awesome too, because we need to be able to keep these up to date as well, so at least having something in place.\nspantol@riverpointtechnology.com | 18:47\nYeah, Dave and Sam have had, you know, a day to work on the process, so I'm gonna. I'll look for time with all of us and them. Probably won't happen this week, but early next. Just to get an update on how they're thinking. We track this stuff and then we can kind of layer this into that. \nAnything we're missing here. \nRight? You go to try to divide and conquer some of these things. Or do you want a couple of days to think about and add more stuff to it and try to do the division on the oneay call?\nRyan Butler | 19:49\nI'm fine either way.\nRayna Luzier | 19:52\nI say let's let it bake.\nFrank Martinez | 19:56\nYeah, I like that.\nspantol@riverpointtechnology.com | 19:58\nI don't want to make a decision now, so that's good. \nAnything else jump out that we, you know, things that we've been talking about since November that we should have on this list of rocks that I just missed.\nFrank Martinez | 20:20\nI mean, I think for us, a lot of the tools that we've talked about like we've done a great job and Rain has done a great job documenting all the tools for all that we have. And we've had several discussions on various tools. \nI think one for us would be to make some decisions on those and clarify this quarter. That would be really nice.\nspantol@riverpointtechnology.com | 20:47\nI know Heather's got in here about. Or is it a lot of systems and in document requirements? I think she has meetings with various people throughout client success to get feedback on what they're using and what they want to be using. Have any of you seen those? \nOkay, check with Rain, who's been included. I know she had time with Danny. And with Sam. There's more coming. So we can kind of piggyback on that one, but like.\nFrank Martinez | 21:25\nYeah.\nspantol@riverpointtechnology.com | 21:27\nThey put an issue on ours about tool decisions.\nFrank Martinez | 21:40\nYeah, that would. Some of these discussions are a lot easier with, you know, where documents live. And as we start getting the V1 stuff out other than should it be in SHAREPOINT or Canvas or whatever?\nspantol@riverpointtechnology.com | 21:53\nYeah. Canvas Fine. Canva no. \nAnd I did get sign off on the Buddies HR thing, I just haven't paid for it yet, but I will right after this call. So we're going to move forward with that one.\nFrank Martinez | 22:16\nAnd I guess that brings up a good point. Back to the tool discussion and piggybacking on other departmental rocks, not ours that we own. Are there any in this list that we need to tie ourselves to assist with? \nMaybe not own, but at least assist.\nspantol@riverpointtechnology.com | 22:38\nOkay. And I don't think so. We might be asked to contribute to some of the marketing activities, but we I haven't seen the plan yet, so I don't know. And it'll be it'll come down to how much capacity we have. Standardized performance agreements and rollout. \nThat is something that I've mentioned. We can get into more of that on Monday, but trying to figure out like what are the right KPI is for people. Just so that we have better documentation on expectations so that if there is a future performance issue with somebody, we have documentation of what the expectations are versus what the, behavior was and the gap. \nSo. Help. Help with. You know, pips. If we ever need to do that, all that fun stuff, so that'll be something in the next couple of weeks to work out. But I don't know that we need a rock around it. It's more of just an operational thing. \nYeah, I don't think so. \nThat's my take for now. It might change as I if I learn more, I'll, you know, definitely relay it.\nFrank Martinez | 23:48\nYeah, I'm waiting for Kevin to hit us up. Hey, we need some bloggers and we need some people to take some pictures pointing at random things. Yeah.\nspantol@riverpointtechnology.com | 23:56\nI brought that up with him a while ago about like, hey, at what point do you think you'll be ready to talk about that? And he said, second half, so we have some time. \nOkay, well, if this looks good for folks now. I mean, it's T and Strety. Please feel free to, you know, add stuff. If you want to pose questions about things to add or clarify to the group. We've got the channel. Anyhow, we can regroup on Monday. Sound good?\nRyan Butler | 24:28\nYeah, sounds good. Appreciate it.\nspantol@riverpointtechnology.com | 24:31\nYeah, thanks folks. Enjoy the twenty minutes back.\nRyan Butler | 24:34\nAlright, see?\nRayna Luzier | 24:34\nThank you, bye.","raw_meeting":"**Departmental Rock Breakdown**\n🕞 Started at 08:00 PM on 28 Jan, lasted 24m","meeting":{"duration":1481,"end_date":"2026-01-28T20:25:22.922Z","speakers":[{"index":1,"last_name":"Butler","id":"078d15fa-3fd1-4bd8-9586-551b1750cb73","first_name":"Ryan","email":"rbutler@riverpointtechnology.com"},{"index":2,"id":"fabe2e85-66ee-4b44-9f20-17faea123eea","email":"spantol@riverpointtechnology.com"},{"index":3,"last_name":"Luzier","id":"3a124237-6878-42bd-aaea-a781a141b833","first_name":"Rayna","email":"rluzier@riverpointtechnology.com"},{"index":4,"last_name":"Martinez","id":"4a4b2095-1eb1-4231-9e3f-e8a89f2c9231","first_name":"Frank","email":"fmartinez@riverpointtechnology.com"}],"id":"019c06321b9f703ca66f088476caa83a","title":"Departmental Rock Breakdown","calendar_event_id":"AAMkADkxYmRhYmJjLTQ1MjAtNGUyOS1hMDhjLWNmOThiNjQwNTkzZgBGAAAAAABJ1V_a3onuRqL3kK8ZHijbBwAx4FyggTp4QYPC2OEbqvrWAAAAAAENAAAx4FyggTp4QYPC2OEbqvrWAABCptK6AAA=","url":"https://app.krisp.ai/n/019c06321b9f703ca66f088476caa83a","participants":[{"id":"fabe2e85-66ee-4b44-9f20-17faea123eea","email":"spantol@riverpointtechnology.com"},{"last_name":"Butler","id":"078d15fa-3fd1-4bd8-9586-551b1750cb73","first_name":"Ryan","email":"rbutler@riverpointtechnology.com"},{"last_name":"Luzier","id":"3a124237-6878-42bd-aaea-a781a141b833","first_name":"Rayna","email":"rluzier@riverpointtechnology.com"},{"last_name":"Martinez","id":"4a4b2095-1eb1-4231-9e3f-e8a89f2c9231","first_name":"Frank","email":"fmartinez@riverpointtechnology.com"}],"start_date":"2026-01-28T20:00:41.922Z"},"content":[{"speakerIndex":1,"speaker":"Ryan Butler","text":"Hey."},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"I'm assuming this is your one break between bank calls today?"},{"speakerIndex":1,"speaker":"Ryan Butler","text":"It's actually been kind of quiet. So the problem is too, is a lot of my calls are getting forwarded, so I don't get the updates when they get canceled or moved. It's been problematic. But other than that's been pretty quiet with them on that off site."},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"I guess we'll take that."},{"speakerIndex":1,"speaker":"Ryan Butler","text":"Yeah, exactly."},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"Cool. So, yeah, rocks and stuff. I can cheer up my screen, but it's all in strety two. I started trying to pick apart some of these things, but I didn't want to get too carried away before we all got on here. I'm not entirely sure where the best place to start is. The ones that kind of in scope for us are this, you know, client success sales fly wheel, which is really documenting what came out of that exercise with a kickoff along with, merging that into Danny's engagement framework stuff. \nAnd then these were the active ones to we brought over to that we had set up for the quarter. All of them can probably be broken down. The sock audit is in progress. It's just kind of pending free time and pending when we want to officially finish. That has been a huge party. \nFrom Jeff. Content repository standardization was around restructuring where stuff lives and trying to roll out something consistent. AI assisted product delivery playbook idea was, you know, by roll by product type. \nYou know, how we're using AI, what we've tried, what our standards are going to be. I threw out a couple, you know, I just called them to dos versus milestones in this view. Just little bits of that occurred to me to break out like documenting, Krisp, bondboarding and standards for using that tool. I owe that anyway. How do you AI for workshop planning? How does it for develop deliveral development? I'm sure there's more we can call out for build delivery capability for viewing product offerings. A couple things in there that we've been talking about that are related. Revamping, relaunching resource management process, building float templates for the different package areas so that when we want to deploy a new project, we can just grab the one that's modeled after that type of product so that there's already, you know, phases, roles, costs kind of in there. \nAnd then start modeling pricing and float versus spreadsheets so that we can start making resource manager type decisions earlier in the process. As far as I got today, has anyone else had a chance to start thinking through this? Or are we kind of all working from a blank sheet of paper now?"},{"speakerIndex":3,"speaker":"Rayna Luzier","text":"Blank here."},{"speakerIndex":1,"speaker":"Ryan Butler","text":"Yeah, I think my thought was we kind of take, I guess, like, your rocks and we kind of break them down into other ones to kind of, I guess, be able to, like complete the rocks as a team. At least that was kind of my assumption. Okay."},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"Yeah, that works for me. And the intention was not that these were all, you know, just me. Yeah, they you can't tag them. Well, I guess I could have tag them as is ant unowned, but then they show up just there as orphaned. \nBut yeah, they're departmental versus personal. Any of the twos that we called out there can be spawned rocks that other people can own. So we can absolutely do that. But I think the two big ones to pull apart are these last two. Any preference on where to start?"},{"speakerIndex":4,"speaker":"Frank Martinez","text":"I still AI assisted. I think there's one that we can add here for not only deliver deliverable development, but just like status reports and other reporting related to projects. I know I personally use AI for some of the status reports that I send out for the bank, so we should probably define that. \nAnd then I assume baked into this somewhere is approving certain AI tools because we'll want to control the data and what tools are used, what information we're sharing, that type of thing."},{"speakerIndex":3,"speaker":"Rayna Luzier","text":"I was thinking too. Yeah. Once you're done typing. Okay. AI for even generating like the level of efforts as of the. So sow creation. So obviously they would take a lot of logic, but maybe starting with like V one and knowing what like we already know how much it costs to or an estimate or how much it costs to do, let's say a Terraform deployment. \nAnd with some other additional components in there, we can kind of build out, you know, costs to be added in, you know, over the shoulder stuff costs other kinds of things and just kind of have it help generate those pricing models."},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"Okay, I like it. I'm hoping some of that is solved by, you know, starting with templates that are already better built, but yeah, help more consistently customize those things. I'm sure there's a play there."},{"speakerIndex":1,"speaker":"Ryan Butler","text":"I'm kind of like, gravitating towards, like the guidance on supported AI tools and processes. Like, to me, that one kind of dictates a lot of like, okay, like, what are we doing for governance? What? What are we using AI for? What won't we use AI for?"},{"speakerIndex":4,"speaker":"Frank Martinez","text":"Two."},{"speakerIndex":1,"speaker":"Ryan Butler","text":"What are we telling our clients about AI? Just the whole kind of, I guess fine print type aspect of this."},{"speakerIndex":4,"speaker":"Frank Martinez","text":"Have we come across any contractual language from our clients on AI usage?"},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"Only place we've seen that in writing is on IBM Tel paper. There's always a section there saying no AI will be used in any part of this, and pushback saying but we do. And they say don't worry about it, which I don't love. \nThat's part of the broader like how do we work better together with tel thing that's playing out in the background. \nI captured the yeah, the bit about how we standard language, we have a start of that in a document as you roll out. Krisp one of the things we're going to do is change the built in templates that are used by teams and zoom to include a little disclaimer that hey, we're gonna record this unless you tell us not to, just to get that in front of people. \nAnd there'll be something in SAS and MSAS as well. But it's not done yet, so we should keep tracking it as a thing to be done."},{"speakerIndex":1,"speaker":"Ryan Butler","text":"I think the cell development would be one aspect of, like, creation, but I think like, like reviewing validation would be kind of another component to this that I think sometimes gets lost because everybody's kind of piecemealing it together and like, kind of like one final, like, review, I think would be good."},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"Is that an AI specific thing, or more of just a promp?"},{"speakerIndex":1,"speaker":"Ryan Butler","text":"I would say like an AI like specific thing. Just make. \nAnd like, we could say, like, here's what we require in our statement of works. Does it fit like this criteria? Does it have guard rails mentioning deliverable? You know, things like that we could kind of codify to making sure that we have in the statement of work before it kind of gets finalized to the client."},{"speakerIndex":3,"speaker":"Rayna Luzier","text":"Even consistency in formatting, grammar stuff, things that make it look polished."},{"speakerIndex":1,"speaker":"Ryan Butler","text":"Not random capital letters."},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"Like that. \nThe right way to word, you know AI for code development. Maybe it's just that easy. A for code development. Sam keeps harping on we should buy Copilot for everybody, but do we need that for everybody or is that a role based thing?"},{"speakerIndex":1,"speaker":"Ryan Butler","text":"I think it's like a nice to have. Like, obviously, it would be nice that everybody's the same platform. But I think there's kind of other ways to kind of get the same thing. \nI mean, first of all, you have like kind of a free version of Copilot that's pretty good. Then you have like other products and it's like I think it kind of goes back to the vendor discussion. Like. Is Copilot really? \nLike the best. Like choice or are we just kind of leaning on that because that's the first one we did."},{"speakerIndex":3,"speaker":"Rayna Luzier","text":"Is that kind of is that where like, what's it called antigravity falls in?"},{"speakerIndex":1,"speaker":"Ryan Butler","text":"Right? And like, Claude is obviously a giant one out there. Winds I mean, there's a bunch of other players in this, and it's I think we need to kind of take a step back and like, really, what do we want to get out of the code development from the AI perspective? \nAnd then kind of attack a vendor accordingly."},{"speakerIndex":4,"speaker":"Frank Martinez","text":"Yes, we should factor in the SAC 2 audit as well. I'm sure there's going to be some direction there on what we have to do to meet those requirements, and that will probably drive what tool we select."},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"To an extent. But I it's easy if it's any of the major ones, if it's anything from Anthropic or open AI or Microsoft like there's they have their own doc to statement that we just point to. So we inherit their sock bits. As long as we're so long as we identify that as an external system, then we have rules around how we're interacting with it. We're good. We don't have to worry about what they do because they have their own attestation."},{"speakerIndex":4,"speaker":"Frank Martinez","text":"Got it? Yeah. So I guess it's more about making sure that we're following the recommended tools and not using, you know, whatever flip flop. But that's out there. Yeah, and no one laughed at that. I just made that up so the there's too many I AI tools that I can just make up a word and it doesn't raise any alarms. \nBut yeah."},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"Remember that slide from a bunch of years ago with a word cloud and it was you know which of these are DevOps tools, which of these are Pokemon as a good. I think every one of these things is gonna have a, you know, what are the supported tools for use here bit? \nAnd do we have a gap where we need to find a tool that can help this?"},{"speakerIndex":1,"speaker":"Ryan Butler","text":"Yeah. That's gonna be a big piece of. This is. Yeah. Do we develop our own or use something canned?"},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"Any other role or task based things that we want to call out here? \nI can't think of anything else to add. If you guys can either, we can move on to the next one."},{"speakerIndex":4,"speaker":"Frank Martinez","text":"I mean, the only other one would be maybe like marketing case studies trying to use AI for that, to summarize, based on a document repository, you know, give me a case study with some graphics that we can give to marketing."},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"Good thing. But for this one, we don't care. That is the thing. Which, for the company, totally. But that'll be captured by Kevin's wish list. We can help, but out of scope for right now. \nOkay, let's see the other one that we can come up here and come back and try to divide out a little bit. Ge I hope that saved. Yeah, I did. Okay. Good. How we deliver stuff based on the new world and the old one. \nSo I had a call with Clark, Dave and Sam Tuesday. Tuesday, I think talking through the first vertical in the product roadmap that Cora has and talking about how to do a gap analysis of what that's calling for versus things that we have. \nAnd Sam and Dave are working on kind of a first pass approach at how to do that. Whatever they come back with, we can incorporate here. But we can probably think a little bit ahead of that in terms of you know what we know we want to do better to scale to support potentially a whole bunch of these cookie cutter things in the tier that are tier one across these things."},{"speakerIndex":4,"speaker":"Frank Martinez","text":"And just to kind of level set. Are we talking tier one or are we focused on tier zero? Is that still a thing?"},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"Here's zero is still a thing, but I think we've t zero is gonna up being very like product focused things like migrations with Skybridge, Skywire assessments. I don't think there's as much of a I think it's that big of a lift. We haven't quite decided what's in the catalog. \nThat's Clark's roadmap goal for this quarter is to get, you know, a set of things identified for tier zero to then build out next quarter. So I think for our part, we can focus on tier one and where it makes sense, two and three, knowing that, you know, we're not going to get at all. Yes, this is really more of a help. \nBut get as much done as we can in the quarter. We can prioritize the just basic terraform vault verticals. I forget the fancy names we have for them, but that's where we have the most existing work that we can, yeah, mold into this new structure."},{"speakerIndex":4,"speaker":"Frank Martinez","text":"Yeah, I would say deliverable documentation. We should standardize on that."},{"speakerIndex":3,"speaker":"Rayna Luzier","text":"From PowerPoint presentations, discovery questionnaires, design documents, knowledge transfer templates, maybe as built documents if we do stuff like that."},{"speakerIndex":4,"speaker":"Frank Martinez","text":"Yeah, and then the PM documentation. I'm sure that's more in their warehouse and they can define that, but we see quite a bit clients requesting their own version of status reports with their own language, which, you know, breaks the mold here. \nSo yeah, that means project closure."},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"Call it on the AI side like. Let's do it in our template and see what we can do to automate converting."},{"speakerIndex":1,"speaker":"Ryan Butler","text":"Steve from kind of like the I guess tier or I guess like technology like vault traform. We have like owners, right? Like technical owners to those as well. Okay."},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"We have people tagged is you know, they're the go to person to help add detail here, but, kind of takes a village too, right? So we've got Sam on one of Quackenbush on another one. We might have to replace him. Michael Leon on the vault one. I'm gonna pull up the deck because I can't remember what the all five are right now."},{"speakerIndex":1,"speaker":"Ryan Butler","text":"And then do we have these like where are people kind of like billing their time towards these like do we have buckets for the this."},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"We do I can't remember what they are I'm. But right now for it but we do have a solution development one we might tweak that one just to make it easier to report on since there will there should be more of this structured activity going on."},{"speakerIndex":1,"speaker":"Ryan Butler","text":"Okay, so."},{"speakerIndex":4,"speaker":"Frank Martinez","text":"Yeah, I think they're called like packaging. Yeah."},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"Solution IP development is the. Is the project name infloat? We need to add tasks that are tasks under the project that are aligned to these."},{"speakerIndex":1,"speaker":"Ryan Butler","text":"Okay. Because, like, I'm looking at this, like this to me is like a project in it's in itself, like, do we want like a like project manager kind of behind this, like Danny to kind of help kind of run this or. I'm just trying to think of, like, how we're gonna make sure we're accountable in getting stuff done here."},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"Yeah, I would like to have internal project managers assigned to this. I think Danny doesn't have a whole tic capacity right now, but. Well, she's more than she has had in the past, but she's still spread fairly thin."},{"speakerIndex":1,"speaker":"Ryan Butler","text":"Okay?"},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"We're going to. I mentioned last time we're going to bring in backfill for Tony Thomas when he's on maternity leave, which will then give us, you know, more capacity when he's back and possibly add one more PM that can help in the meantime. \nI've asked Dave to try to handle the cat herding part of this. He won't, you know, influence tech direction, but he can help with that. First vertical help. Sam you know, get a backlog to find model it and you know, GitHub or wherever they want to track this and stand upp people for updates and getting into a release cadence."},{"speakerIndex":1,"speaker":"Ryan Butler","text":"Okay, that's great. I that's. I think that's a perfect spot for Dave, too. \nSo that's. That's great."},{"speakerIndex":3,"speaker":"Rayna Luzier","text":"And I the release cadening is awesome too, because we need to be able to keep these up to date as well, so at least having something in place."},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"Yeah, Dave and Sam have had, you know, a day to work on the process, so I'm gonna. I'll look for time with all of us and them. Probably won't happen this week, but early next. Just to get an update on how they're thinking. We track this stuff and then we can kind of layer this into that. \nAnything we're missing here. \nRight? You go to try to divide and conquer some of these things. Or do you want a couple of days to think about and add more stuff to it and try to do the division on the oneay call?"},{"speakerIndex":1,"speaker":"Ryan Butler","text":"I'm fine either way."},{"speakerIndex":3,"speaker":"Rayna Luzier","text":"I say let's let it bake."},{"speakerIndex":4,"speaker":"Frank Martinez","text":"Yeah, I like that."},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"I don't want to make a decision now, so that's good. \nAnything else jump out that we, you know, things that we've been talking about since November that we should have on this list of rocks that I just missed."},{"speakerIndex":4,"speaker":"Frank Martinez","text":"I mean, I think for us, a lot of the tools that we've talked about like we've done a great job and Rain has done a great job documenting all the tools for all that we have. And we've had several discussions on various tools. \nI think one for us would be to make some decisions on those and clarify this quarter. That would be really nice."},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"I know Heather's got in here about. Or is it a lot of systems and in document requirements? I think she has meetings with various people throughout client success to get feedback on what they're using and what they want to be using. Have any of you seen those? \nOkay, check with Rain, who's been included. I know she had time with Danny. And with Sam. There's more coming. So we can kind of piggyback on that one, but like."},{"speakerIndex":4,"speaker":"Frank Martinez","text":"Yeah."},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"They put an issue on ours about tool decisions."},{"speakerIndex":4,"speaker":"Frank Martinez","text":"Yeah, that would. Some of these discussions are a lot easier with, you know, where documents live. And as we start getting the V1 stuff out other than should it be in SHAREPOINT or Canvas or whatever?"},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"Yeah. Canvas Fine. Canva no. \nAnd I did get sign off on the Buddies HR thing, I just haven't paid for it yet, but I will right after this call. So we're going to move forward with that one."},{"speakerIndex":4,"speaker":"Frank Martinez","text":"And I guess that brings up a good point. Back to the tool discussion and piggybacking on other departmental rocks, not ours that we own. Are there any in this list that we need to tie ourselves to assist with? \nMaybe not own, but at least assist."},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"Okay. And I don't think so. We might be asked to contribute to some of the marketing activities, but we I haven't seen the plan yet, so I don't know. And it'll be it'll come down to how much capacity we have. Standardized performance agreements and rollout. \nThat is something that I've mentioned. We can get into more of that on Monday, but trying to figure out like what are the right KPI is for people. Just so that we have better documentation on expectations so that if there is a future performance issue with somebody, we have documentation of what the expectations are versus what the, behavior was and the gap. \nSo. Help. Help with. You know, pips. If we ever need to do that, all that fun stuff, so that'll be something in the next couple of weeks to work out. But I don't know that we need a rock around it. It's more of just an operational thing. \nYeah, I don't think so. \nThat's my take for now. It might change as I if I learn more, I'll, you know, definitely relay it."},{"speakerIndex":4,"speaker":"Frank Martinez","text":"Yeah, I'm waiting for Kevin to hit us up. Hey, we need some bloggers and we need some people to take some pictures pointing at random things. Yeah."},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"I brought that up with him a while ago about like, hey, at what point do you think you'll be ready to talk about that? And he said, second half, so we have some time. \nOkay, well, if this looks good for folks now. I mean, it's T and Strety. Please feel free to, you know, add stuff. If you want to pose questions about things to add or clarify to the group. We've got the channel. Anyhow, we can regroup on Monday. Sound good?"},{"speakerIndex":1,"speaker":"Ryan Butler","text":"Yeah, sounds good. Appreciate it."},{"speakerIndex":2,"speaker":"spantol@riverpointtechnology.com","text":"Yeah, thanks folks. Enjoy the twenty minutes back."},{"speakerIndex":1,"speaker":"Ryan Butler","text":"Alright, see?"},{"speakerIndex":3,"speaker":"Rayna Luzier","text":"Thank you, bye."}]},"id":"019c0b503b777766938af434035e237a","event":"transcript_created"},"webhookUrl":"https://n8n.techdrabble.com/webhook/7927da1b-e8df-447a-8e02-613563581f2f","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"be7a7494-5fd2-4b30-8e45-da5816602dab","activeVersionId":"be7a7494-5fd2-4b30-8e45-da5816602dab","triggerCount":2,"shared":[{"updatedAt":"2026-01-29T16:11:14.812Z","createdAt":"2026-01-29T16:11:14.812Z","role":"workflow:owner","workflowId":"EEGEcDYO8K9SUVOF","projectId":"jFzgn8YND5hEbIq7"}],"activeVersion":{"updatedAt":"2026-01-29T19:36:50.993Z","createdAt":"2026-01-29T19:33:07.349Z","versionId":"be7a7494-5fd2-4b30-8e45-da5816602dab","workflowId":"EEGEcDYO8K9SUVOF","nodes":[{"parameters":{"endpointUrl":"http://todoist-mcp.mcp.svc.cluster.local:8080/mcp","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[432,368],"id":"53f92c91-820e-4334-9520-165b30bc189a","name":"MCP Client"},{"parameters":{"promptType":"define","text":"=I want you to look at the meeting content which includes a transcript below and determine if there are any todos for Ryan or rbutler@riverpointtechnology.com ONLY. If there are any todos I want you to create them in the Krisp todoist project. Do not set a due date or priority. If possible add a comment in the task outling meeting info and add detail to whats needed for the request. Make sure to check for any existing todos that are similar and do not recreate.\n\nMeeting Info:  {{ $json.body.data.raw_meeting }}\nMeeting Transcript: {{ $json.body.data.raw_content }}\nMeeting Speakers: {{ $json.body.data.meeting.speakers }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[160,208],"id":"ff055aaa-0383-45fe-9244-b040ffbfefac","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[0,0],"id":"8af87a78-48a6-4967-ae0b-7690b1177f9e","name":"When chat message received","webhookId":"51a9d6b0-e303-4aa9-b584-352c4b33e4c5"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[32,416],"id":"d712143d-c0a6-4400-b2c7-426a7b348b77","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"IAPdFCUrAWR1K4iM","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"7927da1b-e8df-447a-8e02-613563581f2f","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-336,224],"id":"d6e51b12-d59b-4489-b1ea-29a1f994698f","name":"Webhook","webhookId":"7927da1b-e8df-447a-8e02-613563581f2f","credentials":{"httpHeaderAuth":{"id":"IuigkubgvrNXhPG5","name":"Krisp"}}},{"parameters":{"chatId":"-5111992003","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[576,224],"id":"c72437b0-9fbc-4581-a465-ef6d3598207b","name":"Send a text message","webhookId":"365a63b5-889e-468a-a368-d6a5e2d472bd","credentials":{"telegramApi":{"id":"zCg94anbG4RLthQ5","name":"Telegram account"}}}],"connections":{"When chat message received":{"main":[[]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]}},"authors":"Ryan Butler","name":"Version be7a7494","description":"","autosaved":true},"tags":[]}