backups/Mealie Backup.json
{"createdAt":"2025-04-19T14:34:11.375Z","updatedAt":"2025-04-21T19:06:29.233Z","id":"4Lgbih27oKvI5Cnu","name":"Mealie Backup","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks"}]}},"id":"9ea6a4ef-4cd8-45f1-b729-1206db0a51e1","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-340,20]},{"parameters":{"method":"POST","url":"https://mealie.ryancbutler.com/api/admin/backups","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"6557bd29-0391-4272-a726-2477758202dc","name":"Run Backup ","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,20],"notesInFlow":false,"credentials":{"httpHeaderAuth":{"id":"sOiPBHntW3WgxHaH","name":"Mealie"}},"notes":"Send an API call to run the backup"},{"parameters":{"jsCode":"// Get input data\nconst inputData = $input.all()\n\n// Get all records except the latest 7\nconst allExceptLatest7 = inputData.slice(7);\n\n// Map the output data back to the required format\\n\nreturn allExceptLatest7.map(record => ({ json: record }));\n"},"id":"4a02fe2d-6270-4430-9dfe-e7be2a78e16a","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1060,400]},{"parameters":{"method":"DELETE","url":"=https://mealie.ryancbutler.com/api/admin/backups/{{ $json.json.name }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"b684643a-08c2-45f2-9e43-7f44bd003dd3","name":"Delete Oldies","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1500,400],"credentials":{"httpHeaderAuth":{"id":"sOiPBHntW3WgxHaH","name":"Mealie"}}},{"parameters":{"content":"Sends API Call to run backup","height":225,"width":226,"color":4},"id":"4bdc3104-ba33-410d-9793-90a35f8dbdd5","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-60,-40]},{"parameters":{"content":"Is there an error?","height":225,"width":231,"color":3},"id":"40a383c8-36d7-4641-97dd-83e222b62c1f","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[180,-40]},{"parameters":{"content":"Send alert to Gotfy","height":225,"width":229},"id":"91b7278b-6986-414b-99ad-e1062170dd46","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[420,-40]},{"parameters":{"content":"Run every day a 01:00","height":225,"width":226,"color":4},"id":"0c3f2c23-5171-41c0-b427-ec37175cd006","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-380,-40]},{"parameters":{"message":"Mealie Backup Failed","additionalFields":{},"options":{"contentType":"text/plain"}},"type":"n8n-nodes-base.gotify","typeVersion":1,"position":[500,20],"id":"914f4570-b34c-49bc-b768-171aa7218028","name":"Gotify","alwaysOutputData":true,"credentials":{"gotifyApi":{"id":"B43Has3IUulLDXci","name":"Gotify account"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1260,400],"id":"967d747e-27a3-4756-9a51-17104888322b","name":"Loop Over Items"},{"parameters":{"url":"=https://mealie.ryancbutler.com/api/admin/backups/{{ $json.name }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1260,220],"id":"320fd4ba-c227-43ae-acf7-023e8f02daa0","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"sOiPBHntW3WgxHaH","name":"Mealie"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"55d52820-7e2f-42c9-af2d-ac37a1cb30c4","leftValue":"={{ $json.error }}","rightValue":"\"false\"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,20],"id":"5257ee3d-1dd9-493b-a6b5-2c4dd42fc2ef","name":"If"},{"parameters":{"fieldToSplitOut":"imports","options":{}},"id":"2c5a8bf2-8514-434e-8044-a84761773fc4","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[680,220]},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"date","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[860,220],"id":"4d8cbc4e-e7f9-4a3d-875a-97b9b0c59a8e","name":"Sort1"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1060,220],"id":"a4ff2592-3eae-4e58-9c8e-f2ccd4ba4350","name":"Limit"},{"parameters":{"operation":"upload","bucketName":"meali53226","fileName":"={{ $('Limit').item.json.name }}","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[1660,220],"id":"35088b93-d3e4-4ff4-a346-3ca4f4f76bf4","name":"S3","credentials":{"s3":{"id":"0hYaFgtz0wKLVkcg","name":"B2 Mealie"}}},{"parameters":{"url":"=https://mealie.ryancbutler.com/api/utils/download?token={{ $json.fileToken }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-disposition","value":"=attachment; filename=\"{{ $('Limit').item.json.name }}\""}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,220],"id":"76857cf0-e221-425e-8e47-149ad3427735","name":"HTTP Request1","credentials":{"httpHeaderAuth":{"id":"sOiPBHntW3WgxHaH","name":"Mealie"}}},{"parameters":{"operation":"getAll","bucketName":"meali53226","returnAll":true,"options":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[1880,220],"id":"5396e4bc-a454-4e4e-8b68-d089fb96450f","name":"Get Files","credentials":{"s3":{"id":"0hYaFgtz0wKLVkcg","name":"B2 Mealie"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"Key","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[2100,220],"id":"2e76d3a9-6474-4506-b04c-9b19d9c5419d","name":"Sort"},{"parameters":{"jsCode":"// Get input data\nconst inputData = $input.all()\n// Get all records except the latest 3\nconst allExceptLatest = inputData.slice(3);\n\n// Map the output data back to the required format\\n\nreturn allExceptLatest.map(record => ({ json: record }));\n"},"id":"78ff408e-a806-4583-95e1-547b95c7b74a","name":"Get Last","type":"n8n-nodes-base.code","typeVersion":2,"position":[2300,220]},{"parameters":{"operation":"delete","bucketName":"meali53226","fileKey":"={{ $json.json.Key }}","options":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[2520,220],"id":"d1a43232-c7fd-40dc-bf38-6ada6f977603","name":"Delete Old Backups","credentials":{"s3":{"id":"0hYaFgtz0wKLVkcg","name":"B2 Mealie"}}},{"parameters":{"url":"https://mealie.ryancbutler.com/api/admin/backups","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"c2996b70-e1d2-449c-b6ab-f391636004ce","name":"Get all backups","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[500,220],"credentials":{"httpHeaderAuth":{"id":"sOiPBHntW3WgxHaH","name":"Mealie"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Run Backup ","type":"main","index":0}]]},"Run Backup ":{"main":[[{"node":"If","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Delete Oldies","type":"main","index":0}]]},"Delete Oldies":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"If":{"main":[[{"node":"Gotify","type":"main","index":0}],[{"node":"Get all backups","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Sort1","type":"main","index":0}]]},"Sort1":{"main":[[{"node":"Limit","type":"main","index":0},{"node":"Code","type":"main","index":0}]]},"Limit":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"S3","type":"main","index":0}]]},"S3":{"main":[[{"node":"Get Files","type":"main","index":0}]]},"Get Files":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Get Last","type":"main","index":0}]]},"Get Last":{"main":[[{"node":"Delete Old Backups","type":"main","index":0}]]},"Get all backups":{"main":[[{"node":"Split Out1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"41d7b02f-1151-4347-ba04-f56bb332733b","triggerCount":1,"tags":[]}