backups/My workflow 4.json
{"updatedAt":"2025-04-25T17:55:22.872Z","createdAt":"2025-04-25T17:55:22.872Z","id":"LpIOFr3jbatN5EkS","name":"My workflow 4","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"5ec5c45e-caf2-4087-8cf6-3ebc113559ce","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[300,340],"typeVersion":1},{"parameters":{"resource":"all","additionalFields":{}},"id":"c1e2fcea-57f3-46e1-833a-178c29e47baf","name":"Hacker News","type":"n8n-nodes-base.hackerNews","position":[600,340],"typeVersion":1},{"parameters":{"options":{}},"id":"d2774e52-3a2d-48d2-9cc3-5d6c5ad418a9","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1060,340],"typeVersion":3},{"parameters":{"options":{}},"id":"873173cb-4790-4936-a19d-0f8bd88e94e4","name":"OpenAI Chat Model3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1340,620],"typeVersion":1,"credentials":{"openAiApi":{"id":"IAPdFCUrAWR1K4iM","name":"OpenAi account"}}},{"parameters":{"toolDescription":"grab the article for the ai agent to use","url":"={{ $json.url }}"},"id":"f3af63d3-c3cd-42f6-a202-796b07be9375","name":"HTTP Request1","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[1520,620],"typeVersion":1.1},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"summary\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"related\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n        \"image urls\": {\n\t\t\t\"type\": \"string\"\n        }\n\t}\n}"},"id":"c2ba23c3-d3c4-4299-b856-49d2abb53429","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[1700,620],"typeVersion":1.2},{"parameters":{"operation":"upload","bucketName":"=","additionalFields":{"grantRead":true,"parentFolderKey":"="}},"id":"74cbb0be-5953-4dc8-9053-a2ac3e71e5ef","name":"Upload to Minio","type":"n8n-nodes-base.s3","position":[4860,1120],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"ec8013d5-84b5-43c8-abcb-6986ef15939d","name":"property_name","type":"string","value":"={{ $json.message.content['Article Title'] }}"},{"id":"4d91c4fc-12a2-4fe2-a58e-02284314e1de","name":"property_text","type":"string","value":"={{ $json.message.content['Article Blurb'] }}"},{"id":"cad2b795-8b71-415f-a100-700d9ec62bbd","name":"property_image_url","type":"string","value":"={{ $('If Topic').item.json.output['image urls'] }}"}]},"options":{}},"id":"602aab13-c0a7-4590-a82e-a1ab304162a5","name":"News1","type":"n8n-nodes-base.set","position":[2800,360],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://cloud.leonardo.ai/api/rest/v1/prompt/improve","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ $('Article Prep').item.json.message.content['Image Prompt 1'] }}\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"018df431-5445-4b29-9af5-708a4be017e7","name":"Leo - Improve Prompt","type":"n8n-nodes-base.httpRequest","position":[3340,140],"typeVersion":4.2},{"parameters":{"url":"=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $json.body.sdGenerationJob.generationId }}","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"57ab7040-9f74-4d37-83a2-28c22e4d3e61","name":"Leo - Get imageId","type":"n8n-nodes-base.httpRequest","position":[3940,140],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://api.dev.runwayml.com/v1/image_to_video","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Runway-Version","value":"2024-11-06"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"promptImage","value":"={{ $json.body.generations_by_pk.generated_images[0].url }}"},{"name":"promptText","value":"string"},{"name":"model","value":"gen3a_turbo"}]},"options":{}},"id":"f0a38c9a-cafd-4da0-81a0-ca39bdface89","name":"Runway - Create Video","type":"n8n-nodes-base.httpRequest","position":[3140,340],"typeVersion":4.2},{"parameters":{"url":"=https://api.dev.runwayml.com/v1/tasks/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Runway-Version","value":"2024-11-06"}]},"options":{}},"id":"2bbdc1c0-ea1e-4cb4-83b5-e078a581a91c","name":"Runway - Get Video","type":"n8n-nodes-base.httpRequest","position":[3540,340],"typeVersion":4.2},{"parameters":{"amount":3,"unit":"minutes"},"id":"4aa8a3f8-e964-4c55-bcab-9f4c25a50a93","name":"Wait2","type":"n8n-nodes-base.wait","position":[3340,340],"webhookId":"ddca5833-a40b-404a-9140-686cd4fa26cb","typeVersion":1.1},{"parameters":{"content":"# Choose your data source \n## This can be swapped for any other data source of your choosing.","height":951,"width":341,"color":5},"id":"697bb19c-fd17-4606-bf68-37f4c1eede5f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[460,0],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"56219de5-244d-4b7f-a511-f3061572cf93","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.output.related }}","rightValue":"yes"}]},"options":{}},"id":"61ec1898-bcc7-4b59-a49b-739bc41abd04","name":"If Topic","type":"n8n-nodes-base.if","position":[1720,360],"typeVersion":2.2},{"parameters":{"url":"={{ $('Article Analysis').first().json.output['image urls'] }}","options":{"response":{"response":{"fullResponse":true}}}},"id":"76db4791-243f-4688-8fad-deba46f61c97","name":"Get Image","type":"n8n-nodes-base.httpRequest","position":[2120,360],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"56c8f20d-d9d9-4be7-ac2a-38df6ffdd722","name":"model","type":"string","value":"6b645e3a-d64f-4341-a6d8-7a3690fbf042"}]},"includeOtherFields":true,"options":{}},"id":"fb6ebeaa-9801-40f7-8e33-9f2816b6bc30","name":"Prompt Settings1","type":"n8n-nodes-base.set","position":[3140,140],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://cloud.leonardo.ai/api/rest/v1/generations","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"alchemy\": true,\n  \"width\": 1024,\n  \"height\": 768,\n  \"modelId\": \"6b645e3a-d64f-4341-a6d8-7a3690fbf042\",\n  \"num_images\": 1,\n  \"presetStyle\": \"MONOCHROME\",\n  \"prompt\": \"{{ $json.body.promptGeneration.prompt }}; Use the rule of thirds, leading lines, & balance. DO NOT INCLUDE ANY WORDS OR LABELS.\",\n  \"guidance_scale\": 7,\n  \"highResolution\": true,\n  \"promptMagic\": false,\n  \"promptMagicStrength\": 0.5,\n  \"promptMagicVersion\": \"v3\",\n  \"public\": false,\n  \"ultra\": false,\n  \"photoReal\": false,\n  \"negative_prompt\": \"\"\n} ","options":{"response":{"response":{"fullResponse":true}}}},"id":"44104176-d15b-46ea-9527-be34d6a60a0c","name":"Leo - Generate Image","type":"n8n-nodes-base.httpRequest","position":[3540,140],"typeVersion":4.2},{"parameters":{"amount":30},"id":"7cafdd04-77b4-4e80-9c47-03f8ca762a31","name":"Wait1","type":"n8n-nodes-base.wait","position":[3740,140],"webhookId":"256c3814-6a52-4eb1-969a-30f9f3b8e04e","typeVersion":1.1},{"parameters":{"maxItems":50,"keep":"lastItems"},"id":"cc02bed6-b17e-45af-91f5-f391cc0cfc40","name":"Limit","type":"n8n-nodes-base.limit","position":[860,340],"typeVersion":1},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"imageUrls":"={{ $json.output['image urls'] }}","options":{"detail":"auto"}},"id":"fc9c9604-8423-4012-9fc0-e3a12e97236e","name":"Image Analysis","type":"@n8n/n8n-nodes-langchain.openAi","position":[1920,360],"typeVersion":1.6,"credentials":{"openAiApi":{"id":"IAPdFCUrAWR1K4iM","name":"OpenAi account"}}},{"parameters":{"unit":"minutes"},"id":"9ebc946f-5302-40dd-a7ed-d499b8217acb","name":"Wait3","type":"n8n-nodes-base.wait","position":[3700,1060],"webhookId":"6e4a0b8d-6c31-4a98-8ec3-2509aa2087e8","typeVersion":1.1,"disabled":true},{"parameters":{"promptType":"define","text":"=Can you tell me if the article at {{ $json.url }} is related to automation or ai? \n\nthen, create a 250 word summary of the article\n\nAlso, list any image url's related to the article content from the url. Limit to 1 image url.","hasOutputParser":true,"options":{"systemMessage":"You are a helpful assistant in summarizing and identifying articles related to automation and ai. \nOutput the results as:\nsummary: \nrelated: yes or no\nimage urls: "}},"id":"2331a8bf-8c00-4c93-9c18-ef62ce186b91","name":"Article Analysis","type":"@n8n/n8n-nodes-langchain.agent","position":[1360,340],"typeVersion":1.7,"onError":"continueErrorOutput"},{"parameters":{},"id":"26bd79da-03ed-4032-913f-3db70f15a7be","name":"Dropbox","type":"n8n-nodes-base.dropbox","position":[4260,1120],"typeVersion":1},{"parameters":{"operation":"update","fileId":{"__rl":true,"mode":"list","value":""},"options":{}},"id":"43338adb-a02b-411b-9eb2-7b5d78d70f64","name":"Google Drive","type":"n8n-nodes-base.googleDrive","position":[4460,1120],"typeVersion":3},{"parameters":{},"id":"aeaace18-e734-42be-88b6-2cd931b1f5f8","name":"Microsoft OneDrive","type":"n8n-nodes-base.microsoftOneDrive","position":[4660,1120],"typeVersion":1},{"parameters":{"resource":"video","operation":"upload","options":{}},"id":"4c752722-feaa-473d-abd7-cc7435cbbef8","name":"YouTube","type":"n8n-nodes-base.youTube","position":[4260,1540],"typeVersion":1},{"parameters":{"additionalFields":{}},"id":"5346a617-6e84-433d-82f6-c334b179f6c1","name":"X","type":"n8n-nodes-base.twitter","position":[4460,1540],"typeVersion":2},{"parameters":{"options":{}},"id":"b10551e6-83e7-4d6a-af22-6bf72ce12641","name":"Instagram","type":"n8n-nodes-base.httpRequest","position":[4860,1540],"typeVersion":4.2},{"parameters":{"additionalFields":{}},"id":"323f9428-2447-49b6-ade6-a4bb0d6210fa","name":"LinkedIn","type":"n8n-nodes-base.linkedIn","position":[4660,1540],"typeVersion":1},{"parameters":{"method":"POST","url":"https://cloud.leonardo.ai/api/rest/v1/prompt/improve","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ $('Article Prep').item.json.message.content['Image Prompt 2'] }}\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"12b9e893-4c18-421c-8c6a-c6a900411e31","name":"Leo - Improve Prompt2","type":"n8n-nodes-base.httpRequest","position":[3340,540],"typeVersion":4.2},{"parameters":{"amount":3,"unit":"minutes"},"id":"6bbb3280-501b-46b5-b56e-283bde7f140e","name":"Wait4","type":"n8n-nodes-base.wait","position":[3340,740],"webhookId":"89b31515-b403-4644-a2c1-970e5e774008","typeVersion":1.1},{"parameters":{"amount":30},"id":"dcce69ab-86e9-42e9-99f2-24704dc7ca94","name":"Wait6","type":"n8n-nodes-base.wait","position":[3740,540],"webhookId":"2efb873f-bcbd-41d9-99da-b2b57ef5ad93","typeVersion":1.1},{"parameters":{"method":"POST","url":"https://cloud.leonardo.ai/api/rest/v1/generations","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"alchemy\": true,\n  \"width\": 1024,\n  \"height\": 768,\n  \"modelId\": \"6b645e3a-d64f-4341-a6d8-7a3690fbf042\",\n  \"num_images\": 1,\n  \"presetStyle\": \"MONOCHROME\",\n  \"prompt\": \"{{ $json.body.promptGeneration.prompt }}; Use the rule of thirds, leading lines, & balance. DO NOT INCLUDE ANY WORDS OR LABELS.\",\n  \"guidance_scale\": 7,\n  \"highResolution\": true,\n  \"promptMagic\": false,\n  \"promptMagicStrength\": 0.5,\n  \"promptMagicVersion\": \"v3\",\n  \"public\": false,\n  \"ultra\": false,\n  \"photoReal\": false,\n  \"negative_prompt\": \"\"\n} ","options":{"response":{"response":{"fullResponse":true}}}},"id":"174b5ad8-d77c-4124-9ce5-00e64265fe4d","name":"Leo - Generate Image2","type":"n8n-nodes-base.httpRequest","position":[3540,540],"typeVersion":4.2},{"parameters":{"url":"=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $json.body.sdGenerationJob.generationId }}","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"5ebf1b91-ba1a-4b4a-ba34-f88b05a8a6a7","name":"Leo - Get imageId2","type":"n8n-nodes-base.httpRequest","position":[3940,540],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://api.dev.runwayml.com/v1/image_to_video","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Runway-Version","value":"2024-11-06"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"promptImage","value":"={{ $json.body.generations_by_pk.generated_images[0].url }}"},{"name":"promptText","value":"string"},{"name":"model","value":"gen3a_turbo"}]},"options":{}},"id":"286e17ea-a3b9-4b02-ae92-43da4843c343","name":"Runway - Create Video2","type":"n8n-nodes-base.httpRequest","position":[3140,740],"typeVersion":4.2},{"parameters":{"url":"=https://api.dev.runwayml.com/v1/tasks/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Runway-Version","value":"2024-11-06"}]},"options":{}},"id":"1edda6f7-c3be-48e5-bede-2a9d7de6c51b","name":"Runway - Get Video2","type":"n8n-nodes-base.httpRequest","position":[3540,740],"typeVersion":4.2},{"parameters":{"content":"# Upload Assets\nYou can extend this workflow further by uploading the generated assets to your storage option of choice.","height":372,"width":882,"color":6},"id":"75297292-2b13-466e-b621-08b6a1b5d4a1","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[4200,980],"typeVersion":1},{"parameters":{"content":"# Post to Social Media\nYou can extend this workflow further by posting the generated assets to social media.","height":372,"width":882,"color":6},"id":"a979cd21-d6ff-4ff9-829c-ff91509f9f42","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[4200,1400],"typeVersion":1},{"parameters":{"content":"# Generate Images and Videos","height":943,"width":1114,"color":4},"id":"ca7d6449-e98e-4191-94b5-b6db1576ef9b","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[3040,0],"typeVersion":1},{"parameters":{"content":"# Stitch it all together","height":372,"width":1114,"color":5},"id":"68561997-a290-44c1-b287-76a6429d267d","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[3040,980],"typeVersion":1},{"parameters":{"method":"POST","url":"https://api.creatomate.com/v1/renders","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"max_width\": 480,\n  \"template_id\": \"enterTemplateID\",\n  \"modifications\": {\n    \"Scenes.elements\": [\n      {\n        \"name\": \"Intro Comp\",\n        \"type\": \"composition\",\n        \"track\": 1,\n        \"elements\": [\n          {\n            \"name\": \"Image-1\",\n            \"type\": \"image\",\n            \"source\": \"{{ $('Leo - Get imageId').item.json.body.generations_by_pk.generated_images[0].url }}\"\n          },\n          {\n            \"name\": \"Subtitles-1\",\n            \"type\": \"text\",\n            \"transcript_source\": \"Voiceover-1\",\n            \"width\": \"86.66%\",\n            \"height\": \"37.71%\",\n            \"x_alignment\": \"50%\",\n            \"y_alignment\": \"50%\",\n            \"fill_color\": \"#ffffff\",\n            \"stroke_color\": \"#333333\",\n            \"stroke_width\": \"1.05 vmin\",\n            \"font_family\": \"Inter\",\n            \"font_weight\": \"700\",\n            \"font_size\": \"8 vmin\",\n            \"background_color\": \"rgba(255,255,255,0.2)\",\n            \"background_x_padding\": \"26%\",\n            \"background_y_padding\": \"7%\",\n            \"background_border_radius\": \"28%\",\n            \"transcript_effect\": \"highlight\",\n            \"transcript_color\": \"#ff5900\"\n          },\n          {\n            \"name\": \"Voiceover-1\",\n            \"type\": \"audio\",\n            \"source\": \"{{ $('News1').item.json.property_name }}\",\n            \"provider\": \"openai model=tts-1 voice=onyx\"\n          }\n        ]\n      },\n      {\n        \"name\": \"Auto Scene Comp\",\n        \"type\": \"composition\",\n        \"track\": 1,\n        \"elements\": [\n          {\n            \"name\": \"Video-2\",\n            \"type\": \"video\",\n            \"source\": \"{{ $('Runway - Get Video').first().json.output[0] }}\",\n            \"loop\": true\n          },\n          {\n            \"name\": \"Subtitles-2\",\n            \"type\": \"text\",\n            \"transcript_source\": \"Voiceover-2\",\n            \"y\": \"78.2173%\",\n            \"width\": \"86.66%\",\n            \"height\": \"37.71%\",\n            \"x_alignment\": \"50%\",\n            \"y_alignment\": \"50%\",\n            \"fill_color\": \"#ffffff\",\n            \"stroke_color\": \"#333333\",\n            \"stroke_width\": \"1.05 vmin\",\n            \"font_family\": \"Inter\",\n            \"font_weight\": \"700\",\n            \"font_size\": \"8 vmin\",\n            \"background_color\": \"rgba(255,255,255,0.2)\",\n            \"background_x_padding\": \"26%\",\n            \"background_y_padding\": \"7%\",\n            \"background_border_radius\": \"28%\",\n            \"transcript_effect\": \"highlight\",\n            \"transcript_color\": \"#ff5900\"\n          },\n          {\n            \"name\": \"Voiceover-2\",\n            \"type\": \"audio\",\n            \"source\": \"{{ $('Article Prep').item.json.message.content['Summary Blurb 1'] }}\",\n            \"provider\": \"openai model=tts-1 voice=onyx\"\n          }\n        ]\n      },\n      {\n        \"name\": \"Auto Scene Comp\",\n        \"type\": \"composition\",\n        \"track\": 1,\n        \"elements\": [\n          {\n            \"name\": \"Video-3\",\n            \"type\": \"video\",\n            \"source\": \"{{ $('Runway - Get Video2').first().json.output[0] }}\",\n            \"loop\": true\n          },\n          {\n            \"name\": \"Subtitles-3\",\n            \"type\": \"text\",\n            \"transcript_source\": \"Voiceover-3\",\n            \"y\": \"78.2173%\",\n            \"width\": \"86.66%\",\n            \"height\": \"37.71%\",\n            \"x_alignment\": \"50%\",\n            \"y_alignment\": \"50%\",\n            \"fill_color\": \"#ffffff\",\n            \"stroke_color\": \"#333333\",\n            \"stroke_width\": \"1.05 vmin\",\n            \"font_family\": \"Inter\",\n            \"font_weight\": \"700\",\n            \"font_size\": \"8 vmin\",\n            \"background_color\": \"rgba(255,89,0,0.5)\",\n            \"background_x_padding\": \"26%\",\n            \"background_y_padding\": \"7%\",\n            \"background_border_radius\": \"28%\",\n            \"transcript_effect\": \"highlight\",\n            \"transcript_color\": \"#ff0040\"\n          },\n          {\n            \"name\": \"Voiceover-3\",\n            \"type\": \"audio\",\n            \"source\": \"{{ $('Article Prep').item.json.message.content['Summary Blurb 2'] }}\",\n            \"provider\": \"openai model=tts-1 voice=onyx\"\n          }\n        ]\n      }\n    ]\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"5ad39807-4955-4dad-bcbc-bb7a5a49d52e","name":"Cre - Generate Video1","type":"n8n-nodes-base.httpRequest","position":[3500,1060],"typeVersion":4.2},{"parameters":{"url":"=https://api.creatomate.com/v1/renders/{{ $json.body.body[0].id }}","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"7be7573c-a3d2-4cf9-bd92-d2fb70860cb6","name":"Cre - Get Video","type":"n8n-nodes-base.httpRequest","position":[3900,1060],"typeVersion":4.2},{"parameters":{"content":"# Article Analysis - Is it the right topic?","height":951,"width":1033,"color":3},"id":"a124873c-4601-44ae-9529-ec984195fa2b","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1280,0],"typeVersion":1},{"parameters":{"content":"# Prepare the article for content generation","height":947,"width":630,"color":3},"id":"d1f95854-fb21-4460-b48d-1afe140d680b","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[2360,20],"typeVersion":1},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=prepare the following summary for a newsletter where the article will be 1 of several presented in the newsletter:\n\n{{ $('Article Analysis').first().json.output.summary }}\n\nMake sure the Article Blurb lenght is less than 15 words.\n\nThen, create 2 Summary Blurbs, making sure each is less than 15 words.\n\nAlso create 2 image prompts that is less than 15 words long for each Summary Blurb"},{"content":"Output in markdown format\nArticle Title\nArticle Blurb\nSummary Blurb 1\nSummary Blurb 2\nArticle Image\nImage Prompt 1\nImage Prompt 2","role":"system"}]},"jsonOutput":true,"options":{}},"id":"554c7af1-9c65-44ca-8b07-707765f9381c","name":"Article Prep","type":"@n8n/n8n-nodes-langchain.openAi","position":[2440,360],"typeVersion":1.6,"credentials":{"openAiApi":{"id":"IAPdFCUrAWR1K4iM","name":"OpenAi account"}}},{"parameters":{"content":"# AlexK1919 \n![Alex Kim](https://media.licdn.com/dms/image/v2/D5603AQFOYMkqCPl6Sw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1718309808352?e=1736985600&v=beta&t=pQKm7lQfUU1ytuC2Gq1PRxNY-XmROFWbo-BjzUPxWOs)\n\n#### I’m Alex Kim, an AI-Native Workflow Automation Architect Building Solutions to Optimize your Personal and Professional Life.\n\n### Workflow Overview Video\nhttps://youtu.be/XaKybLDUlLk\n\n### About Me\nhttps://beacons.ai/alexk1919\n\n### Product Used \n[Leonardo.ai](https://leonardo.ai)\n[RunwayML](https://runwayml.com/)\n[Creatomate](https://creatomate.com/)\n","height":946,"width":252,"color":6},"id":"391d8038-5acd-4ee9-bdc7-a6707e34962d","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"Don't forget to connect this last node to the loop to process additional items","height":100,"width":180,"color":7},"id":"f5ef6a59-7162-4ff5-b0b2-ae806eadf30a","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[3900,1220],"typeVersion":1}],"connections":{"X":{"main":[[{"node":"LinkedIn","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"News1":{"main":[[{"node":"Prompt Settings1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Leo - Get imageId","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Runway - Get Video","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Cre - Get Video","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Runway - Get Video2","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"Leo - Get imageId2","type":"main","index":0}]]},"Dropbox":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"YouTube":{"main":[[{"node":"X","type":"main","index":0}]]},"If Topic":{"main":[[{"node":"Image Analysis","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"LinkedIn":{"main":[[{"node":"Instagram","type":"main","index":0}]]},"Get Image":{"main":[[{"node":"Article Prep","type":"main","index":0}]]},"Hacker News":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Article Prep":{"main":[[{"node":"News1","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Microsoft OneDrive","type":"main","index":0}]]},"HTTP Request1":{"ai_tool":[[{"node":"Article Analysis","type":"ai_tool","index":0}]]},"Image Analysis":{"main":[[{"node":"Get Image","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Article Analysis","type":"main","index":0}]]},"Article Analysis":{"main":[[{"node":"If Topic","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Prompt Settings1":{"main":[[{"node":"Leo - Improve Prompt","type":"main","index":0}]]},"Leo - Get imageId":{"main":[[{"node":"Runway - Create Video","type":"main","index":0}]]},"Leo - Get imageId2":{"main":[[{"node":"Runway - Create Video2","type":"main","index":0}]]},"Microsoft OneDrive":{"main":[[{"node":"Upload to Minio","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Article Analysis","type":"ai_languageModel","index":0}]]},"Runway - Get Video":{"main":[[{"node":"Leo - Improve Prompt2","type":"main","index":0}]]},"Runway - Get Video2":{"main":[[{"node":"Cre - Generate Video1","type":"main","index":0}]]},"Leo - Generate Image":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Leo - Improve Prompt":{"main":[[{"node":"Leo - Generate Image","type":"main","index":0}]]},"Cre - Generate Video1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Leo - Generate Image2":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"Leo - Improve Prompt2":{"main":[[{"node":"Leo - Generate Image2","type":"main","index":0}]]},"Runway - Create Video":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Runway - Create Video2":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Article Analysis","type":"ai_outputParser","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Hacker News","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"bd82feb4-9bc7-4890-a62c-5b1c64d3f956","triggerCount":0,"shared":[{"updatedAt":"2025-04-25T17:55:22.872Z","createdAt":"2025-04-25T17:55:22.872Z","role":"workflow:owner","workflowId":"LpIOFr3jbatN5EkS","projectId":"jFzgn8YND5hEbIq7"}],"tags":[{"updatedAt":"2025-04-25T15:38:14.581Z","createdAt":"2025-04-25T15:38:14.581Z","id":"Il4P23qpWSrzg2mx","name":"RunwayML"},{"updatedAt":"2025-04-25T15:38:14.579Z","createdAt":"2025-04-25T15:38:14.579Z","id":"EP3ZQnAGKwQAPYPV","name":"OpenAI"},{"updatedAt":"2025-04-25T15:38:14.578Z","createdAt":"2025-04-25T15:38:14.578Z","id":"aZSjBzhrH4cD3CLS","name":"Leonardo"},{"updatedAt":"2025-04-25T15:38:14.577Z","createdAt":"2025-04-25T15:38:14.577Z","id":"IE2SRJxfqO5V0vxU","name":"Creatomate"},{"updatedAt":"2025-04-25T15:38:14.570Z","createdAt":"2025-04-25T15:38:14.570Z","id":"RKY8uoLEJhElBESE","name":"Video"}]}