backups/N8N Backup.json
{"createdAt":"2025-04-26T19:23:31.845Z","updatedAt":"2025-05-03T02:57:47.249Z","id":"MsV2ii0BjEOnetOu","name":"N8N Backup","active":true,"nodes":[{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"b23a7b14-ef86-49ed-b39d-11201136a7ce","name":"GitHub","type":"n8n-nodes-base.github","position":[520,180],"typeVersion":1,"alwaysOutputData":true,"webhookId":"ec80ce1f-a7a8-4169-b53d-e2b830e633de","credentials":{"githubApi":{"id":"687zdwT2NbUZuXGT","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"ryancbutler"},{"name":"repo.name","value":"n8nbackup"},{"name":"repo.path","value":"backups/"}]},"options":{}},"id":"dd3eb2e8-2481-4bd4-98f0-9d988131fbf4","name":"Globals","type":"n8n-nodes-base.set","position":[-180,100],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"575d3667-2007-4ad4-b50f-8ced5989ea08","name":"n8n","type":"n8n-nodes-base.n8n","position":[60,100],"typeVersion":1,"credentials":{"n8nApi":{"id":"JsBsfMZPIjSfWRaD","name":"n8n account"}}},{"parameters":{"options":{}},"id":"7f6b033f-fbc6-46b1-b0e8-f197fcc4b7af","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[280,100],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"14c7fdf1-8212-442f-b911-84f59b2506dc","name":"If","type":"n8n-nodes-base.if","position":[720,180],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"633e3ad3-0640-448f-beb4-20d96cd271b6","name":"If1","type":"n8n-nodes-base.if","position":[1600,460],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"5aa96e88-fa36-45c4-a2b4-a4d1a5ab75ac","name":"Code","type":"n8n-nodes-base.code","position":[1280,160],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"24720c19-1554-4636-a960-5ac52b23deb8","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[900,340],"typeVersion":1,"webhookId":"80378d73-da14-4557-81bc-65bf7a511a2b","credentials":{"githubApi":{"id":"687zdwT2NbUZuXGT","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"bf0d2b32-ae67-4f71-b0c0-57af618b89e5","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[1960,660],"typeVersion":1,"webhookId":"03bdeb45-8d89-4c78-a96b-7b0c4fe7ed2b","credentials":{"githubApi":{"id":"687zdwT2NbUZuXGT","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":4}]}},"id":"1d417eb9-bacb-454e-a458-8d9659c2298d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-400,100],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"2513d1dc-afe2-4dd8-a051-6adb5aa68ca3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2120,680],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"bee81512-acc9-4019-b39f-88a7befc6a1d","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1740,460],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"d73f16aa-efe3-4705-ad8b-da36c918fafa","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1020,360],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"b6361fbb-71c8-4185-9d82-53376dd0d98a","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[720,80],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"385f9f24-16ed-4635-ab16-9f4a430453d2","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1220,60],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"1fbf6653-00d5-4e2a-9bd6-3a290ec55621","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"408b7eec-1100-4e02-9ff3-a4a2a06c1fc8","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-260,240],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"63ecaaa4-a05d-469d-ab0e-2de6eae21689","triggerCount":1,"tags":[]}