backups/n8n_Presentation_Generator_SolomonChrist copy.json
{"updatedAt":"2025-12-13T03:54:15.509Z","createdAt":"2025-12-12T16:56:38.339Z","id":"7JLRshGHGTUb3V76","name":"n8n_Presentation_Generator_SolomonChrist copy","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[1072,368],"id":"1aff73ed-4187-49c9-b896-3fd47a4e5b37","name":"When chat message received","webhookId":"467c4a3c-f1ea-453b-934b-c969506262da"},{"parameters":{"title":"AI Generated Slide Deck"},"type":"n8n-nodes-base.googleSlides","typeVersion":2,"position":[1344,368],"id":"7fc0e72a-8066-489d-921e-b6e865441269","name":"Google Slides","credentials":{"googleSlidesOAuth2Api":{"id":"gYUUJqT6Zy2kfv7A","name":"Google Slides account"}}},{"parameters":{"jsCode":"const input = $input.first().json.output; // Stringified JSON\nconst slides = JSON.parse(input); // Parse to array\n\nreturn slides.map(slide => ({\n  json: slide\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2592,384],"id":"61a62dca-085f-42bd-95d8-129653157566","name":"Code","onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2896,368],"id":"88bc8e8f-5aac-4282-8f5d-afa9a2ae5eb5","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4656,672],"id":"09fd783f-a23e-4f95-a475-d84242dccd38","name":"Wait","webhookId":"0e0d940b-a4ce-4825-8a5c-8eba466c0da4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d44b426e-29d8-4ab1-8ac2-ad27fcb0bc86","leftValue":"={{ $runIndex }}","rightValue":2,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2560,720],"id":"606213f1-cc22-4a6f-b7a7-64c03243dd84","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"cfa9ce68-77ea-478d-96fc-51ea7b2a8254","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"c8ef02e4-1d48-45f8-8a3c-2dc541e9d273","name":"subtitle","value":"={{ $json.subtitle }}","type":"string"},{"id":"21a9ec01-f05d-4046-9759-25d9cf3ca434","name":"content","value":"={{ $json['content'] }}","type":"string"},{"id":"2402c67b-1fe4-4bcf-b168-71d0ce824948","name":"logo_name","value":"River Point Technology","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3136,384],"id":"fb398845-0b11-4bea-a6e0-c5f3bfda447c","name":"Add Additional Slide Info"},{"parameters":{"method":"POST","url":"=https://slides.googleapis.com/v1/presentations/{{ $('Google Slides').item.json.presentationId }}:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleSlidesOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.payload }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4368,96],"id":"65e0702f-bfd7-4a8b-9e80-c8b9444e369c","name":"Google_Slides_Create_Slide","retryOnFail":false,"maxTries":2,"credentials":{"googleSlidesOAuth2Api":{"id":"gYUUJqT6Zy2kfv7A","name":"Google Slides account"}},"onError":"continueErrorOutput"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2272,704],"id":"946d992e-f0e7-4e63-bb61-9ee345af6aa4","name":"Simple Memory"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1904,576],"id":"521dcce6-036a-4737-a9f1-45ddfd3fa68f","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"HWWX1nfIgJWtyAsU","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2880,160],"id":"e258916e-6294-4400-85e4-7b54d78a8578","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"HWWX1nfIgJWtyAsU","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d44b426e-29d8-4ab1-8ac2-ad27fcb0bc86","leftValue":"={{ $runIndex }}","rightValue":3,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4208,512],"id":"18923f33-abaa-4d6b-ac6a-8e9f664e38f4","name":"If1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[3568,384],"id":"c2538f5e-c8d7-4a0c-a418-45108da98a76","name":"Simple Memory1"},{"parameters":{"errorMessage":"Failed Creating Slides"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[4112,896],"id":"1481f7b4-22f7-43ca-93b8-ec93e350a365","name":"Stop and Error"},{"parameters":{"endpointUrl":"http://playwright.mcp.svc.cluster.local:8080/mcp","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[3760,272],"id":"6774d24e-0f58-4386-a3ad-38e07daf9e65","name":"Playwright"},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('Google Slides').item.json.presentationId }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3344,896],"id":"85c560f7-e458-4590-b3be-6973e97d86ef","name":"Delete a file","credentials":{"googleDriveOAuth2Api":{"id":"YCadLSS3rKSwrsw4","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ffa990fe-51ab-4d15-8a76-26918eddd88b","name":"payload","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3888,64],"id":"6d3f6d5b-9522-4f02-8809-1a1881d7a08c","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2064,768],"id":"9205d59b-d7ad-458e-ac63-a72f205e32dc","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"IAPdFCUrAWR1K4iM","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5.1","mode":"list","cachedResultName":"gpt-5.1"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[3360,432],"id":"c18f7363-ab75-45b3-a9c9-53549f7969db","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"IAPdFCUrAWR1K4iM","name":"OpenAi account"}}},{"parameters":{"options":{"systemMessage":"You are an AI presentation builder. Generate a slide-by-slide breakdown in JSON format for each slides content that needs to be created to cover the needs. Graphics, bullets and other visualizations can and should be used to better illustrate. The JSON needs to be validated for output. \n\nYour presentation guidelines: \n\nI do not want the output labeled as JSON or anyother markdown. The text to be valid JSON. I will get Unexpected token '`', \"```json [line 2]. Your output needs to be JSON directly!\n\nEach slide should contain a title, subtitle along with other information\n\nFormat:\n[\n  {\n    \"title\": \"Slide Title\",\n    \"subtitle\": \"Slide Subtitle\",\n    \"content\": \"generated content for the slide\"\n  },\n  ...\n]"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2208,384],"id":"9160ad4d-c30e-41aa-9eb0-4c6ad689d5c0","name":"AI Agent2"},{"parameters":{"promptType":"define","text":"You are an AI presentation builder. Generate a slide in JSON format give the needed content to be used with the Google Slides API to be used as a JSON payload to create each slide. Each JSON payload will be used to send a rest command to create the needed slide. Graphics, bullets and other visualizations can be used. Some of the creation documentation is missing but can use https://developers.google.com/workspace/slides/api/reference/rest for other references to understand needed objects.\n\nThe output needs to be raw JSON and valid JSON. No other data should exist as this gets passed directly into another node. No markdown syntax.\n\nOnce the JSON is created ask yourself if it will work with Google Slides API.\n\nIf you receive a message with an error or bad request in it something is wrong with the JSON payload and you need to fix it.\n\nThe slide should contain a title, subtitle along with other information\n\ncolor scheme to use on slides\nPrimary: #324251\nSecondary: #F47E20\nFont: Roboto\n\n\nFORMAT:\n{\n  \"created content\"\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[3536,80],"id":"f5f21367-f424-418e-a778-7d3063cfb5d0","name":"AI Agent"}],"connections":{"When chat message received":{"main":[[{"node":"Google Slides","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Add Additional Slide Info","type":"main","index":0}]]},"Google Slides":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Delete a file","type":"main","index":0}],[{"node":"AI Agent2","type":"main","index":0}]]},"Add Additional Slide Info":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google_Slides_Create_Slide":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[]]},"Google Gemini Chat Model1":{"ai_languageModel":[[]]},"If1":{"main":[[{"node":"Delete a file","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Playwright":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Delete a file":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google_Slides_Create_Slide","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent2":{"main":[[{"node":"Code","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"84312604-743b-4877-9eef-2f1234116250","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-12T16:56:38.339Z","createdAt":"2025-12-12T16:56:38.339Z","role":"workflow:owner","workflowId":"7JLRshGHGTUb3V76","projectId":"jFzgn8YND5hEbIq7"}],"activeVersion":null,"tags":[]}