backups/RAG Input.json
{"updatedAt":"2025-11-06T21:24:03.503Z","createdAt":"2025-05-08T02:11:47.251Z","id":"As5AUXdxEkTecxfT","name":"RAG Input","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[1240,380],"id":"b4f278c9-29af-4554-b4c6-df73aabfc793","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"hUwYeWNtY85G0WXK","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1160,600],"id":"30ba847b-55e1-48a0-a53f-f36c3d43cf36","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"IAPdFCUrAWR1K4iM","name":"OpenAi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Extract Test from File').item.json.text }}","options":{"metadata":{"metadataValues":[{"name":"docname","value":"={{ $('Download').item.json.name }}"},{"name":"docid","value":"={{ $('Download').item.json.id }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1380,620],"id":"a3e43bcf-7084-4741-83c9-10257eb645ee","name":"Default Data Loader1"},{"parameters":{"chunkSize":500,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1420,820],"id":"02203961-46aa-4521-9d5b-cd5cb87dfbd5","name":"Recursive Character Text Splitter1"},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>docname=eq.{{ $('Download').item.json.name }}"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[680,-40],"id":"679e2d08-e1aa-4b7f-9176-6d0a6aaad3f3","name":"Supabase","credentials":{"supabaseApi":{"id":"hUwYeWNtY85G0WXK","name":"Supabase account"}}},{"parameters":{"resource":"fileFolder","queryString":"*.pdf","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1cSXtXtOYP3i7ATKaGhoxTu1efAqKbExZ","mode":"list","cachedResultName":"RAGINPUT","cachedResultUrl":"https://drive.google.com/drive/folders/1cSXtXtOYP3i7ATKaGhoxTu1efAqKbExZ"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[200,280],"id":"9528b441-777d-4e18-96bb-d6a7d0eb13e3","name":"Get Files","credentials":{"googleDriveOAuth2Api":{"id":"YCadLSS3rKSwrsw4","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[380,280],"id":"763369ce-3b96-47c6-b828-7924e289bf2b","name":"Download","credentials":{"googleDriveOAuth2Api":{"id":"YCadLSS3rKSwrsw4","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1cSXtXtOYP3i7ATKaGhoxTu1efAqKbExZ","mode":"list","cachedResultName":"RAGINPUT","cachedResultUrl":"https://drive.google.com/drive/folders/1cSXtXtOYP3i7ATKaGhoxTu1efAqKbExZ"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-40,280],"id":"f77f9c53-8bcc-4bf7-9e67-20f6b105771d","name":"File Created","credentials":{"googleDriveOAuth2Api":{"id":"YCadLSS3rKSwrsw4","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1cSXtXtOYP3i7ATKaGhoxTu1efAqKbExZ","mode":"list","cachedResultName":"RAGINPUT","cachedResultUrl":"https://drive.google.com/drive/folders/1cSXtXtOYP3i7ATKaGhoxTu1efAqKbExZ"},"event":"fileUpdated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-40,460],"id":"bd43fcda-9bd8-42a1-87e4-d84c58562b86","name":"File Updated","credentials":{"googleDriveOAuth2Api":{"id":"YCadLSS3rKSwrsw4","name":"Google Drive account"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Get Files').item.json.id }}","mode":"id"},"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1IfhkwegPa9F8YJiCIkkAeBeka-MAiFKX","mode":"list","cachedResultName":"RAGProcessed","cachedResultUrl":"https://drive.google.com/drive/folders/1IfhkwegPa9F8YJiCIkkAeBeka-MAiFKX"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[640,620],"id":"35ed2672-52a3-4449-8352-a348ecf29b5b","name":"Move to Processed Folder","credentials":{"googleDriveOAuth2Api":{"id":"YCadLSS3rKSwrsw4","name":"Google Drive account"}}},{"parameters":{"content":"## Triggers\nOn an update or creation of document","height":480},"type":"n8n-nodes-base.stickyNote","position":[-100,160],"typeVersion":1,"id":"a7bdbc18-67cb-4643-b933-0208b79e070e","name":"Sticky Note"},{"parameters":{"content":"## Move \nMove processed files to another folder","height":260,"width":520},"type":"n8n-nodes-base.stickyNote","position":[380,540],"typeVersion":1,"id":"b0d107c3-361a-422b-904d-f1339834134f","name":"Sticky Note1"},{"parameters":{"content":"## Files\nGet file list and downloads","height":260,"width":340,"color":4},"type":"n8n-nodes-base.stickyNote","position":[180,200],"typeVersion":1,"id":"fbc19ba9-295f-428c-8d65-0d5e13d90703","name":"Sticky Note2"},{"parameters":{"content":"## Delete\nDeletes rows where document name already exists.","height":260,"width":280,"color":5},"type":"n8n-nodes-base.stickyNote","position":[600,-140],"typeVersion":1,"id":"0bb2a23f-99a7-4c2d-a7b9-f635e7eac1c3","name":"Sticky Note3"},{"parameters":{"operation":"pdf","options":{}},"id":"7fe13aa0-cfbc-4893-aa2a-b3947c7dcbd2","name":"Extract Test from File","type":"n8n-nodes-base.extractFromFile","position":[680,240],"typeVersion":1},{"parameters":{"content":"## Load into Supabase\nProcess embeddings and store into DB","height":700,"width":640,"color":2},"type":"n8n-nodes-base.stickyNote","position":[1040,280],"typeVersion":1,"id":"e4b3ba43-a29b-4e66-b5d5-8a9069e58b97","name":"Sticky Note4"}],"connections":{"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Supabase Vector Store":{"main":[[]]},"Supabase":{"main":[[]]},"Get Files":{"main":[[{"node":"Download","type":"main","index":0}]]},"Download":{"main":[[{"node":"Supabase","type":"main","index":0},{"node":"Extract Test from File","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Get Files","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Get Files","type":"main","index":0}]]},"Extract Test from File":{"main":[[{"node":"Move to Processed Folder","type":"main","index":0},{"node":"Supabase Vector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-05-09T14:04:57Z"},"node:File Created":{"lastTimeChecked":"2025-11-05T16:59:17Z"},"node:File Updated":{"lastTimeChecked":"2025-11-05T16:58:28Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a520e310-6100-4b76-ace3-1d0e1ae0d752","activeVersionId":null,"triggerCount":2,"shared":[{"updatedAt":"2025-05-08T02:11:47.251Z","createdAt":"2025-05-08T02:11:47.251Z","role":"workflow:owner","workflowId":"As5AUXdxEkTecxfT","projectId":"jFzgn8YND5hEbIq7"}],"activeVersion":null,"tags":[]}