backups/RAG Input copy.json
{"updatedAt":"2025-11-07T22:07:39.308Z","createdAt":"2025-11-07T17:11:38.176Z","id":"F0jTaXrwYhhkTQsy","name":"RAG Input copy","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[1240,380],"id":"2bbeb99c-418c-41d3-b195-461064608549","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"hUwYeWNtY85G0WXK","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1160,600],"id":"781e2d52-e32b-4f0f-b66d-a0660af72b35","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"IAPdFCUrAWR1K4iM","name":"OpenAi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Extract Test from File').item.json.text }}","options":{"metadata":{"metadataValues":[{"name":"docname","value":"={{ $('Download').item.json.name }}"},{"name":"docid","value":"={{ $('Download').item.json.id }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1380,620],"id":"a9e30f11-071c-4f91-991e-0d24f7350991","name":"Default Data Loader1"},{"parameters":{"chunkSize":500,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1420,820],"id":"f59e40ca-98b8-4f86-8c6d-ef2257118f79","name":"Recursive Character Text Splitter1"},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>docname=eq.{{ $('Download').item.json.name }}"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[680,-40],"id":"3468ee05-3566-4953-af48-6afc3bf0c7c5","name":"Supabase","credentials":{"supabaseApi":{"id":"hUwYeWNtY85G0WXK","name":"Supabase account"}}},{"parameters":{"resource":"fileFolder","queryString":"*.pdf","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1cSXtXtOYP3i7ATKaGhoxTu1efAqKbExZ","mode":"list","cachedResultName":"RAGINPUT","cachedResultUrl":"https://drive.google.com/drive/folders/1cSXtXtOYP3i7ATKaGhoxTu1efAqKbExZ"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[200,280],"id":"1b66106e-ec40-4573-8a41-c9322321dda6","name":"Get Files","credentials":{"googleDriveOAuth2Api":{"id":"YCadLSS3rKSwrsw4","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[380,280],"id":"82e921e2-09c9-49f9-b595-3df618cf2b64","name":"Download","credentials":{"googleDriveOAuth2Api":{"id":"YCadLSS3rKSwrsw4","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1cSXtXtOYP3i7ATKaGhoxTu1efAqKbExZ","mode":"list","cachedResultName":"RAGINPUT","cachedResultUrl":"https://drive.google.com/drive/folders/1cSXtXtOYP3i7ATKaGhoxTu1efAqKbExZ"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-40,280],"id":"3bdd5818-3ccb-4294-ba1f-6e29c9dae309","name":"File Created","credentials":{"googleDriveOAuth2Api":{"id":"YCadLSS3rKSwrsw4","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1cSXtXtOYP3i7ATKaGhoxTu1efAqKbExZ","mode":"list","cachedResultName":"RAGINPUT","cachedResultUrl":"https://drive.google.com/drive/folders/1cSXtXtOYP3i7ATKaGhoxTu1efAqKbExZ"},"event":"fileUpdated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-40,460],"id":"e983f514-abb9-49c8-ac75-001ceeee3447","name":"File Updated","credentials":{"googleDriveOAuth2Api":{"id":"YCadLSS3rKSwrsw4","name":"Google Drive account"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Get Files').item.json.id }}","mode":"id"},"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1IfhkwegPa9F8YJiCIkkAeBeka-MAiFKX","mode":"list","cachedResultName":"RAGProcessed","cachedResultUrl":"https://drive.google.com/drive/folders/1IfhkwegPa9F8YJiCIkkAeBeka-MAiFKX"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[640,620],"id":"a04a67f8-0190-40b8-90fd-e239a2af328c","name":"Move to Processed Folder","credentials":{"googleDriveOAuth2Api":{"id":"YCadLSS3rKSwrsw4","name":"Google Drive account"}}},{"parameters":{"content":"## Triggers\nOn an update or creation of document","height":480},"type":"n8n-nodes-base.stickyNote","position":[-100,160],"typeVersion":1,"id":"fde6a35b-c8e3-4629-9efb-1b820feb66f1","name":"Sticky Note"},{"parameters":{"content":"## Move \nMove processed files to another folder","height":260,"width":520},"type":"n8n-nodes-base.stickyNote","position":[380,540],"typeVersion":1,"id":"6086ea20-0e11-4fb6-986f-b4a43923cf4c","name":"Sticky Note1"},{"parameters":{"content":"## Files\nGet file list and downloads","height":260,"width":340,"color":4},"type":"n8n-nodes-base.stickyNote","position":[180,200],"typeVersion":1,"id":"f05eddd3-a517-4b30-af89-7592533b90e5","name":"Sticky Note2"},{"parameters":{"content":"## Delete\nDeletes rows where document name already exists.","height":260,"width":280,"color":5},"type":"n8n-nodes-base.stickyNote","position":[600,-140],"typeVersion":1,"id":"92f9372b-2063-44b4-a323-2f5d04590ad7","name":"Sticky Note3"},{"parameters":{"operation":"pdf","options":{}},"id":"e162fe02-3a96-4466-94e0-231dce220aea","name":"Extract Test from File","type":"n8n-nodes-base.extractFromFile","position":[680,240],"typeVersion":1},{"parameters":{"content":"## Load into Supabase\nProcess embeddings and store into DB","height":700,"width":640,"color":2},"type":"n8n-nodes-base.stickyNote","position":[1040,280],"typeVersion":1,"id":"9221a6da-0295-4767-9a96-554638aabe15","name":"Sticky Note4"}],"connections":{"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Supabase Vector Store":{"main":[[]]},"Supabase":{"main":[[]]},"Get Files":{"main":[[{"node":"Download","type":"main","index":0}]]},"Download":{"main":[[{"node":"Supabase","type":"main","index":0},{"node":"Extract Test from File","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Get Files","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Get Files","type":"main","index":0}]]},"Extract Test from File":{"main":[[{"node":"Move to Processed Folder","type":"main","index":0},{"node":"Supabase Vector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-05-09T14:04:57Z"},"node:File Created":{"lastTimeChecked":"2025-11-05T16:59:17Z"},"node:File Updated":{"lastTimeChecked":"2025-11-05T16:58:28Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fd05266e-1740-4798-be8f-e9e1a391dfdc","triggerCount":2,"shared":[{"updatedAt":"2025-11-07T17:11:38.176Z","createdAt":"2025-11-07T17:11:38.176Z","role":"workflow:owner","workflowId":"F0jTaXrwYhhkTQsy","projectId":"jFzgn8YND5hEbIq7"}],"tags":[]}