backups/RAG Input.json
{"createdAt":"2025-05-08T02:11:47.251Z","updatedAt":"2025-05-08T02:11:51.401Z","id":"As5AUXdxEkTecxfT","name":"RAG Input","active":true,"nodes":[{"parameters":{"content":"## 1. Download & Extract Internal Policy Documents\n[Read more about the HTTP Request Tool](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest)\n\nBegin by importing the PDF documents that contain your internal policies and FAQs—these will become the knowledge base for your Internal Helpdesk Assistant. For example, you can store a company handbook or IT/HR policy PDFs on a shared drive or cloud storage and reference a direct download link here.\n\nIn this demonstration, we'll use the **HTTP Request node** to fetch the PDF file from a given URL and then parse its text contents using the **Extract from File node**. Once extracted, these text chunks will be used to build the vector store that underpins your helpdesk chatbot’s responses.\n\n[Example Employee Handbook with Policies](https://s3.amazonaws.com/scschoolfiles/656/employee_handbook_print_1.pdf)","height":460,"width":780,"color":7},"id":"de9d27c2-df69-484f-939a-95e304ec80d1","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"operation":"pdf","options":{}},"id":"7fe13aa0-cfbc-4893-aa2a-b3947c7dcbd2","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","position":[580,300],"typeVersion":1},{"parameters":{"content":"## 2. Create Internal Policy Vector Store\n[Read more about the In-Memory Vector Store](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.vectorstoreinmemory/)\n\nVector stores power the retrieval process by matching a user's natural language questions to relevant chunks of text. We'll transform your extracted internal policy text into vector embeddings and store them in a database-like structure.\n\nWe will be using PostgreSQL which has production ready vector support.\n\n**How it works**  \n1. The text extracted in Step 1 is split into manageable segments (chunks).  \n2. An embedding model transforms these segments into numerical vectors.  \n3. These vectors, along with metadata, are stored in PostgreSQL.  \n4. When users ask a question, their query is embedded and matched to the most relevant vectors, improving the accuracy of the chatbot's response.","height":1020,"width":780,"color":7},"id":"c1af3b82-c1d2-4e6a-8928-9f37e2f2b865","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[840,0],"typeVersion":1},{"parameters":{"content":"The setup needs to be run at the start or when data is changed","height":80,"width":260},"id":"8347a8e3-96ea-4753-80c4-22fe452b047e","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[520,500],"typeVersion":1},{"parameters":{"resource":"fileFolder","queryString":"*.pdf","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1cSXtXtOYP3i7ATKaGhoxTu1efAqKbExZ","mode":"list","cachedResultName":"RAGINPUT","cachedResultUrl":"https://drive.google.com/drive/folders/1cSXtXtOYP3i7ATKaGhoxTu1efAqKbExZ"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[200,280],"id":"9528b441-777d-4e18-96bb-d6a7d0eb13e3","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"YCadLSS3rKSwrsw4","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[380,280],"id":"763369ce-3b96-47c6-b828-7924e289bf2b","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"YCadLSS3rKSwrsw4","name":"Google Drive account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[1000,380],"id":"b4f278c9-29af-4554-b4c6-df73aabfc793","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"hUwYeWNtY85G0WXK","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[860,680],"id":"30ba847b-55e1-48a0-a53f-f36c3d43cf36","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"IAPdFCUrAWR1K4iM","name":"OpenAi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Extract from File').item.json.text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1040,680],"id":"a3e43bcf-7084-4741-83c9-10257eb645ee","name":"Default Data Loader1"},{"parameters":{"chunkSize":2000,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1140,900],"id":"02203961-46aa-4521-9d5b-cd5cb87dfbd5","name":"Recursive Character Text Splitter1"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1cSXtXtOYP3i7ATKaGhoxTu1efAqKbExZ","mode":"list","cachedResultName":"RAGINPUT","cachedResultUrl":"https://drive.google.com/drive/folders/1cSXtXtOYP3i7ATKaGhoxTu1efAqKbExZ"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[20,280],"id":"f77f9c53-8bcc-4bf7-9e67-20f6b105771d","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"YCadLSS3rKSwrsw4","name":"Google Drive account"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive').item.json.id }}","mode":"id"},"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1IfhkwegPa9F8YJiCIkkAeBeka-MAiFKX","mode":"list","cachedResultName":"RAGProcessed","cachedResultUrl":"https://drive.google.com/drive/folders/1IfhkwegPa9F8YJiCIkkAeBeka-MAiFKX"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[520,660],"id":"35ed2672-52a3-4449-8352-a348ecf29b5b","name":"Move to Processed","credentials":{"googleDriveOAuth2Api":{"id":"YCadLSS3rKSwrsw4","name":"Google Drive account"}}}],"connections":{"Extract from File":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0},{"node":"Move to Processed","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Google Drive Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-05-08T03:01:20Z"}},"meta":null,"pinData":{},"versionId":"ca1de641-7337-4f29-9faa-fded61f0cbdc","triggerCount":1,"tags":[]}