backups/TFC Run Task POC.json
{"updatedAt":"2026-02-26T19:12:37.417Z","createdAt":"2025-12-22T20:16:12.813Z","id":"44YEApAJBkSNkxXUWJzin","name":"TFC Run Task POC","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"1ba84315-188f-4476-bd0f-105356497fb8","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"8bc5a96b-a63b-4b65-b19f-23f948c435bd","name":"Webhook","webhookId":"1ba84315-188f-4476-bd0f-105356497fb8"},{"parameters":{"url":"={{ $json.body.plan_json_api_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.body.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,0],"id":"8f7d7098-a015-4254-a6e5-394120e4046f","name":"HTTP Request","disabled":true},{"parameters":{"method":"PATCH","url":"={{ $('Webhook').item.json.body.task_result_callback_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Webhook').item.json.body.access_token }}"},{"name":"content-type","value":"application/vnd.api+json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"data\": {\n    \"type\": \"task-results\",\n    \"attributes\": {\n      \"status\": \"passed\",\n      \"message\": \"1 passed, 0 skipped, 0 failed\"\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[736,0],"id":"d9fbd6f2-86df-4ed4-98f9-821010404c4e","name":"HTTP Request1","disabled":true,"onError":"continueRegularOutput"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"tf_resources","mode":"list","cachedResultName":"tf_resources"},"columns":{"mappingMode":"defineBelow","value":{"address":"={{ $('Split Out1').item.json.address }}","type":"={{ $('Split Out1').item.json.type }}","name":"={{ $('Split Out1').item.json.name }}","actions":"={{ $('Split Out1').item.json.change.actions }}","provider_name":"={{ $('Split Out1').item.json.provider_name }}","org":"={{ $('Webhook').item.json.body.organization_name }}","workspace":"={{ $('Webhook').item.json.body.workspace_name }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"address","displayName":"address","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"provider_name","displayName":"provider_name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"actions","displayName":"actions","required":true,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"workspace","displayName":"workspace","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"org","displayName":"org","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1136,-176],"id":"c4680d0a-c741-4c9c-81eb-b4eff3470f92","name":"Insert rows in a table","credentials":{"postgres":{"id":"uFwg5OQbb3tpwBJ0","name":"Postgres account"}}},{"parameters":{"method":"PATCH","url":"={{ $('Webhook').item.json.body.task_result_callback_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Webhook').item.json.body.access_token }}"},{"name":"content-type","value":"application/vnd.api+json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"data\": {\n    \"type\": \"task-results\",\n    \"attributes\": {\n      \"status\": \"passed\",\n      \"message\": \"1 passed, 0 skipped, 0 failed\"\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[448,0],"id":"760a99fd-ac4b-4b15-b219-252df219ab79","name":"HTTP Request2","disabled":true,"onError":"continueRegularOutput"}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request1":{"main":[[]]},"Insert rows in a table":{"main":[[]]},"HTTP Request2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6a11a6f8-a4ae-40bf-b5fe-f67ac5552dad","activeVersionId":"6a11a6f8-a4ae-40bf-b5fe-f67ac5552dad","triggerCount":1,"shared":[{"updatedAt":"2025-12-22T20:16:12.813Z","createdAt":"2025-12-22T20:16:12.813Z","role":"workflow:owner","workflowId":"44YEApAJBkSNkxXUWJzin","projectId":"jFzgn8YND5hEbIq7"}],"activeVersion":{"updatedAt":"2026-02-26T19:12:43.890Z","createdAt":"2026-02-26T19:12:37.417Z","versionId":"6a11a6f8-a4ae-40bf-b5fe-f67ac5552dad","workflowId":"44YEApAJBkSNkxXUWJzin","nodes":[{"parameters":{"httpMethod":"POST","path":"1ba84315-188f-4476-bd0f-105356497fb8","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"8bc5a96b-a63b-4b65-b19f-23f948c435bd","name":"Webhook","webhookId":"1ba84315-188f-4476-bd0f-105356497fb8"},{"parameters":{"url":"={{ $json.body.plan_json_api_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.body.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,0],"id":"8f7d7098-a015-4254-a6e5-394120e4046f","name":"HTTP Request","disabled":true},{"parameters":{"method":"PATCH","url":"={{ $('Webhook').item.json.body.task_result_callback_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Webhook').item.json.body.access_token }}"},{"name":"content-type","value":"application/vnd.api+json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"data\": {\n    \"type\": \"task-results\",\n    \"attributes\": {\n      \"status\": \"passed\",\n      \"message\": \"1 passed, 0 skipped, 0 failed\"\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[736,0],"id":"d9fbd6f2-86df-4ed4-98f9-821010404c4e","name":"HTTP Request1","disabled":true,"onError":"continueRegularOutput"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"tf_resources","mode":"list","cachedResultName":"tf_resources"},"columns":{"mappingMode":"defineBelow","value":{"address":"={{ $('Split Out1').item.json.address }}","type":"={{ $('Split Out1').item.json.type }}","name":"={{ $('Split Out1').item.json.name }}","actions":"={{ $('Split Out1').item.json.change.actions }}","provider_name":"={{ $('Split Out1').item.json.provider_name }}","org":"={{ $('Webhook').item.json.body.organization_name }}","workspace":"={{ $('Webhook').item.json.body.workspace_name }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"address","displayName":"address","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"provider_name","displayName":"provider_name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"actions","displayName":"actions","required":true,"defaultMatch":false,"display":true,"type":"array","canBeUsedToMatch":true},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"workspace","displayName":"workspace","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"org","displayName":"org","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1136,-176],"id":"c4680d0a-c741-4c9c-81eb-b4eff3470f92","name":"Insert rows in a table","credentials":{"postgres":{"id":"uFwg5OQbb3tpwBJ0","name":"Postgres account"}}},{"parameters":{"method":"PATCH","url":"={{ $('Webhook').item.json.body.task_result_callback_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Webhook').item.json.body.access_token }}"},{"name":"content-type","value":"application/vnd.api+json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"data\": {\n    \"type\": \"task-results\",\n    \"attributes\": {\n      \"status\": \"passed\",\n      \"message\": \"1 passed, 0 skipped, 0 failed\"\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[448,0],"id":"760a99fd-ac4b-4b15-b219-252df219ab79","name":"HTTP Request2","disabled":true,"onError":"continueRegularOutput"}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request1":{"main":[[]]},"Insert rows in a table":{"main":[[]]},"HTTP Request2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"authors":"Ryan Butler","name":"Version 6a11a6f8","description":"","autosaved":true},"tags":[]}