backups/💥 Generate AI viral videos with NanoBanana & VEO3, shared on socials via Blotato - vide.json
{"updatedAt":"2025-11-07T22:07:29.268Z","createdAt":"2025-11-07T21:58:21.360Z","id":"CONgE2QcuBU5YlVu","name":"💥 Generate AI viral videos with NanoBanana & VEO3, shared on socials via Blotato - vide","active":false,"isArchived":true,"nodes":[{"parameters":{"content":"# 📑 STEP 5 — Auto-Post to All Platforms\n\n","height":832,"width":1344,"color":4},"id":"9fb82d9a-0604-4206-97ff-c0399dbded2e","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[2736,480],"typeVersion":1},{"parameters":{"resource":"media","operation":"upload"},"id":"030de222-b539-4a9a-bf76-3d3a83fd30a6","name":"Upload Video to BLOTATO","type":"@blotato/n8n-nodes-preview-blotato.blotato","position":[2800,1104],"typeVersion":2,"credentials":{}},{"parameters":{"resource":"post","operation":"create"},"id":"a7281561-42cf-467d-a94e-f758cd2c73a0","name":"Youtube","type":"@blotato/n8n-nodes-preview-blotato.blotato","position":[3424,896],"typeVersion":2,"credentials":{}},{"parameters":{"resource":"post","operation":"create"},"id":"47b6bf84-1ffb-4009-87aa-75db84589f86","name":"Tiktok","type":"@blotato/n8n-nodes-preview-blotato.blotato","position":[3056,720],"typeVersion":2,"credentials":{}},{"parameters":{"mode":"chooseBranch","numberInputs":9},"id":"dca3bf5d-b84e-4a07-bd86-2258c151a31e","name":"Merge","type":"n8n-nodes-base.merge","position":[3712,800],"typeVersion":3.2},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"id","value":"="},"sheetName":{"__rl":true,"mode":"id","value":"="},"columns":{"value":{"STATUS":"Published","IMAGE NAME":"={{ $('Telegram Trigger: Receive Video Idea').item.json.message.photo[2].file_unique_id }}"},"schema":[{"id":"IMAGE NAME","type":"string","display":true,"removed":false,"required":false,"displayName":"IMAGE NAME","defaultMatch":false,"canBeUsedToMatch":true},{"id":"IMAGE URL","type":"string","display":true,"removed":true,"required":false,"displayName":"IMAGE URL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"IMAGE DESCRIPTION","type":"string","display":true,"removed":true,"required":false,"displayName":"IMAGE DESCRIPTION","defaultMatch":false,"canBeUsedToMatch":true},{"id":"CAPTION","type":"string","display":true,"removed":true,"required":false,"displayName":"CAPTION","defaultMatch":false,"canBeUsedToMatch":true},{"id":"URL VIDEO FINAL","type":"string","display":true,"removed":true,"required":false,"displayName":"URL VIDEO FINAL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"TITRE VIDEO","type":"string","display":true,"removed":true,"required":false,"displayName":"TITRE VIDEO","defaultMatch":false,"canBeUsedToMatch":true},{"id":"CAPTION VIDEO","type":"string","display":true,"removed":true,"required":false,"displayName":"CAPTION VIDEO","defaultMatch":false,"canBeUsedToMatch":true},{"id":"STATUS","type":"string","display":true,"removed":false,"required":false,"displayName":"STATUS","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["IMAGE NAME"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"7df6bfe7-6ed8-4c6f-b419-f1e315a641b0","name":"Update Status to \"DONE\"","type":"n8n-nodes-base.googleSheets","position":[3888,912],"typeVersion":4.5},{"parameters":{"resource":"post","operation":"create"},"id":"a9733757-3562-433c-bd11-aa6a44677469","name":"Linkedin","type":"@blotato/n8n-nodes-preview-blotato.blotato","position":[3248,720],"typeVersion":2,"credentials":{}},{"parameters":{"resource":"post","operation":"create"},"id":"c92d74b9-89a8-4f11-9eb4-7ab0d003446f","name":"Facebook","type":"@blotato/n8n-nodes-preview-blotato.blotato","position":[3424,720],"typeVersion":2,"credentials":{}},{"parameters":{"resource":"post","operation":"create"},"id":"f848bd67-fe00-4ef3-b0bf-ba396fc190a5","name":"Instagram","type":"@blotato/n8n-nodes-preview-blotato.blotato","position":[3056,896],"typeVersion":2,"credentials":{}},{"parameters":{"resource":"post","operation":"create"},"id":"85ab4613-e57a-4aba-917d-9513a75e9522","name":"Threads","type":"@blotato/n8n-nodes-preview-blotato.blotato","position":[3056,1104],"typeVersion":2,"credentials":{}},{"parameters":{"resource":"post","operation":"create"},"id":"264849dd-d53b-4c1b-ba05-e4f2a2ca14d2","name":"Bluesky","type":"@blotato/n8n-nodes-preview-blotato.blotato","position":[3248,1104],"typeVersion":2,"credentials":{}},{"parameters":{"resource":"post","operation":"create"},"id":"441deb98-ef5c-4c1d-8d5f-33b10cdf87c1","name":"Pinterest","type":"@blotato/n8n-nodes-preview-blotato.blotato","position":[3424,1104],"typeVersion":2,"credentials":{}},{"parameters":{"resource":"post","operation":"create"},"id":"e92029a6-72be-4e28-ac0d-fe1d3a4580b0","name":"Twitter (X)","type":"@blotato/n8n-nodes-preview-blotato.blotato","position":[3248,896],"typeVersion":2,"credentials":{}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"id":"7d3b4ac5-e537-415b-b154-d1673b7a2111","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[2256,816],"typeVersion":1.2},{"parameters":{},"id":"f0066656-8bb6-4cbf-b4bd-44a1a4ed4ef4","name":"Think","type":"@n8n/n8n-nodes-langchain.toolThink","position":[2400,816],"typeVersion":1},{"parameters":{"jsonSchemaExample":"{\n  \"title\": \"string\",\n  \"final_prompt\": \"string\"\n}\n"},"id":"6759b5da-eada-46bf-a8fb-886279998ade","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[2544,816],"typeVersion":1.3},{"parameters":{"chatId":"={{ $('Telegram Trigger: Receive Video Idea').item.json.message.chat.id }}","text":"=Url VIDEO : {{ $('Download Video from VEO3').item.json.data.response.resultUrls[0] }}","additionalFields":{}},"id":"68431855-e2b4-41b0-ab15-a3b790b0e3cb","name":"Send Video URL via Telegram","type":"n8n-nodes-base.telegram","position":[2784,608],"webhookId":"ea6e5974-1930-4b67-a51b-16249a9ed8bd","typeVersion":1.2},{"parameters":{"operation":"sendVideo","chatId":"={{ $json.result.chat.id }}","file":"={{ $('Save Caption Video to Google Sheets').item.json['URL VIDEO FINAL'] }}","additionalFields":{}},"id":"8c0eac7b-6ace-40a1-86bd-4f168dac3318","name":"Send Final Video Preview","type":"n8n-nodes-base.telegram","position":[2800,848],"webhookId":"443fd41d-a051-45bf-ad68-173197dba26b","typeVersion":1.2},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"00430a68-e14b-40cc-a1fd-9d2255869388","name":"Telegram Trigger: Receive Video Idea","type":"n8n-nodes-base.telegramTrigger","position":[1568,32],"webhookId":"26dbe6f5-5197-4b2b-9e32-8060f2119686","typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"cc2e0500-57b1-4615-82cb-1c950e5f2ec4","name":"json_master","type":"string","value":"={\n  \"description\": \"Brief narrative description of the scene, focusing on key visual storytelling and product transformation.\",\n  \"style\": \"cinematic | photorealistic | stylized | gritty | elegant\",\n  \"camera\": {\n    \"type\": \"fixed | dolly | Steadicam | crane combo\",\n    \"movement\": \"describe any camera moves like slow push-in, pan, orbit\",\n    \"lens\": \"optional lens type or focal length for cinematic effect\"\n  },\n  \"lighting\": {\n    \"type\": \"natural | dramatic | high-contrast\",\n    \"sources\": \"key lighting sources (sunset, halogen, ambient glow...)\",\n    \"FX\": \"optional VFX elements like fog, reflections, flares\"\n  },\n  \"environment\": {\n    \"location\": \"describe location or room (kitchen, desert, basketball court...)\",\n    \"set_pieces\": [\n      \"list of key background or prop elements\",\n      \"e.g. hardwood floors, chain-link fence, velvet surface\"\n    ],\n    \"mood\": \"describe the ambient atmosphere (moody, clean, epic...)\"\n  },\n  \"elements\": [\n    \"main physical items involved (product box, accessories, vehicles...)\",\n    \"include brand visibility (logos, packaging, texture...)\"\n  ],\n  \"subject\": {\n    \"character\": {\n      \"description\": \"optional – physical description, outfit\",\n      \"pose\": \"optional – position or gesture\",\n      \"lip_sync_line\": \"optional – spoken line if there’s a voiceover\"\n    },\n    \"product\": {\n      \"brand\": \"Brand name\",\n      \"model\": \"Product model or name\",\n      \"action\": \"description of product transformation or assembly\"\n    }\n  },\n  \"motion\": {\n    \"type\": \"e.g. transformation, explosion, vortex\",\n    \"details\": \"step-by-step visual flow of how elements move or evolve\"\n  },\n  \"VFX\": {\n    \"transformation\": \"optional – describe style (neon trails, motion blur...)\",\n    \"impact\": \"optional – e.g. shockwave, glow, distortion\",\n    \"particles\": \"optional – embers, sparks, thread strands...\",\n    \"environment\": \"optional – VFX affecting the scene (ripples, wind...)\"\n  },\n  \"audio\": {\n    \"music\": \"optional – cinematic score, trap beat, ambient tone\",\n    \"sfx\": [\n      \"list of sound effects (zip, pop, woosh...)\"\n    ],\n    \"ambience\": \"optional – background soundscape (traffic, wind...)\",\n    \"voiceover\": {\n      \"delivery\": \"tone and style (confident, whisper, deep...)\",\n      \"line\": \"text spoken if applicable\"\n    }\n  },\n  \"ending\": \"Final shot description – what is seen or felt at the end (freeze frame, logo pulse, glow...)\",\n  \"text\": \"none | overlay | tagline | logo pulse at end only\",\n  \"format\": \"16:9 | 4k | vertical\",\n  \"keywords\": [\n    \"brand\",\n    \"scene style\",\n    \"motion type\",\n    \"camera style\",\n    \"sound mood\",\n    \"target theme\"\n  ]\n}\n"}]},"options":{}},"id":"43e739e1-ce18-4a84-a04d-13b7f1722682","name":"Set Master Prompt","type":"n8n-nodes-base.set","position":[2016,592],"typeVersion":3.4},{"parameters":{"promptType":"define","text":"=Create a UGC-style video prompt using both the reference image and the user description.  \n\n**Inputs**  \n- User description (optional):  \n  `{{ $('Telegram Trigger: Receive Video Idea').item.json.message.caption }}`  \n- Reference image analysis (stay strictly faithful to what’s visible):  \n  `{{ $('Google Sheets: Update Image Description').item.json['IMAGE DESCRIPTION'] }}`  \n\n**Rules**  \n- Keep the style casual, authentic, and realistic. Avoid studio-like or cinematic language.  \n- Default model: `veo3_fast` (unless otherwise specified).  \n- Output only **one JSON object** with the key: `video_prompt`.  \n","hasOutputParser":true,"options":{"systemMessage":"=system_prompt:\n  ## SYSTEM PROMPT: Structured Video Ad Prompt Generator\n  A - Ask:\n    Generate a structured video ad prompt for cinematic generation, strictly based on the master schema provided in: {{ $json.json_master }}.\n    The final result must be a JSON object with exactly two top-level keys: `title` and `final_prompt`.\n\n  G - Guidance:\n    role: Creative Director\n    output_count: 1\n    character_limit: None\n    constraints:\n      - The output must be valid JSON.\n      - The `title` field should contain a short, descriptive and unique title (max 15 words).\n      - The `final_prompt` field must contain a **single-line JSON string** that follows the exact structure of {{ $json.json_master }} with all fields preserved.\n      - Do not include any explanations, markdown, or extra text — only the JSON object.\n      - Escape all inner quotes in the `final_prompt` string so it is valid as a stringified JSON inside another JSON.\n    tool_usage:\n      - Ensure consistent alignment across all fields (camera, lighting, motion, etc.).\n      - Maintain full structure even for optional fields (use \"none\", \"\", or [] as needed).\n\n  N - Notation:\n    format: JSON\n    expected_output:\n      {\n        \"title\": \"A unique short title for the scene\",\n        \"final_prompt\": \"{...stringified JSON of the full prompt...}\"\n      }\n\n"}},"id":"57770b29-b04d-4b7a-9c82-7a0bf144a4a0","name":"AI Agent: Generate Video Script","type":"@n8n/n8n-nodes-langchain.agent","position":[2336,592],"typeVersion":2},{"parameters":{"method":"POST","url":"https://api.kie.ai/api/v1/veo/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"prompt\": {{ $json.prompt }},\n  \"model\": \"{{ $('Google Sheets: Read Video Parameters (CONFIG)').item.json.model }}\",\n  \"aspectRatio\": \"{{ $json.aspectRatio }}\",\n  \"imageUrls\": [\n    \"{{ $('Download Edited Image').item.json.images[0].url }}\"\n  ]\n}","options":{}},"id":"83575a51-c59e-48da-9bd4-0fb2d50b96ec","name":"Generate Video with VEO3","type":"n8n-nodes-base.httpRequest","position":[1616,1104],"typeVersion":4.2},{"parameters":{"amount":20},"id":"61d39978-32c3-4d8f-88f2-5b7e69dea6d1","name":"Wait for VEO3 Rendering","type":"n8n-nodes-base.wait","position":[1824,1104],"webhookId":"f6d814f3-4eb8-4629-a920-134cfa4ea03b","typeVersion":1.1},{"parameters":{"url":"https://api.kie.ai/api/v1/veo/record-info","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"taskId","value":"={{ $('Generate Video with VEO3').item.json.data.taskId }}"}]},"options":{}},"id":"ac57bd19-04e1-4be5-af6a-23a80c2027cb","name":"Download Video from VEO3","type":"n8n-nodes-base.httpRequest","position":[2032,1104],"typeVersion":4.2},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=You are rewriting a TikTok video script, caption, and overlay —\nnot inventing a new one. You must follow this format and obey\nthese rules strictly.\n---\n### CONTEXT:\nHere is the content idea to use:{{ $('Telegram Trigger: Receive Video Idea').item.json.message.caption }}\n\nand the Title is : {{ $('AI Agent: Generate Video Script').item.json.output.title }}\n\n\nWrite the caption text using the topic.\n\n---\n- MUST be under 200 characters (yes \"Characters\" not wordcount)\nthis is an absolute MUST, no more than 200 characters!!! \n\n### FINAL OUTPUT FORMAT (no markdown formatting):\n\nDO NOT return any explanations. Only return the Caption Text\n"}]},"options":{}},"id":"975ef429-4a2c-493e-804a-6071c4ef4429","name":"Rewrite Caption with GPT-4o","type":"@n8n/n8n-nodes-langchain.openAi","position":[2192,1104],"typeVersion":1.8},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"id","value":"="},"sheetName":{"__rl":true,"mode":"id","value":"="},"columns":{"value":{"STATUS":"CREATE","IMAGE NAME":"={{ $('Telegram Trigger: Receive Video Idea').item.json.message.photo[2].file_unique_id }}","TITRE VIDEO":"={{ $('AI Agent: Generate Video Script').item.json.output.title }}","CAPTION VIDEO":"={{ $json.message.content }}","URL VIDEO FINAL":"={{ $('Download Video from VEO3').item.json.data.response.resultUrls[0] }}"},"schema":[{"id":"IMAGE NAME","type":"string","display":true,"removed":false,"required":false,"displayName":"IMAGE NAME","defaultMatch":false,"canBeUsedToMatch":true},{"id":"IMAGE URL","type":"string","display":true,"removed":true,"required":false,"displayName":"IMAGE URL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"IMAGE DESCRIPTION","type":"string","display":true,"removed":true,"required":false,"displayName":"IMAGE DESCRIPTION","defaultMatch":false,"canBeUsedToMatch":true},{"id":"CAPTION","type":"string","display":true,"removed":true,"required":false,"displayName":"CAPTION","defaultMatch":false,"canBeUsedToMatch":true},{"id":"URL VIDEO FINAL","type":"string","display":true,"required":false,"displayName":"URL VIDEO FINAL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"TITRE VIDEO","type":"string","display":true,"required":false,"displayName":"TITRE VIDEO","defaultMatch":false,"canBeUsedToMatch":true},{"id":"CAPTION VIDEO","type":"string","display":true,"removed":false,"required":false,"displayName":"CAPTION VIDEO","defaultMatch":false,"canBeUsedToMatch":true},{"id":"STATUS","type":"string","display":true,"required":false,"displayName":"STATUS","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["IMAGE NAME"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"04932706-25e6-45c2-8c3f-12771983735a","name":"Save Caption Video to Google Sheets","type":"n8n-nodes-base.googleSheets","position":[2496,1104],"typeVersion":4.6},{"parameters":{"jsCode":"const structuredPrompt = $input.first().json.output.final_prompt;\nreturn {\n  json: {\n    prompt: JSON.stringify(structuredPrompt), // this escapes it correctly!\n    model: \"veo3_fast\",\n    aspectRatio: \"16:9\"\n  }\n};\n"},"id":"a35a9585-44ad-4cf6-b1c5-a99712204f71","name":"Format Prompt","type":"n8n-nodes-base.code","position":[1616,800],"typeVersion":2},{"parameters":{"content":"# 📑 STEP 3 — Generate Video Ad Script","height":460,"width":1180},"id":"33d44c52-dccf-4a3a-9534-e46a7eaf050b","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1504,480],"typeVersion":1},{"parameters":{"content":"# 📑 STEP 4 — Generate Video with VEO3","height":320,"width":1180},"id":"0c429e7a-ecf2-4f02-b478-8537a50d1119","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1504,992],"typeVersion":1},{"parameters":{"content":"# 📑 STEP 1 — Collect Idea & Image","height":592,"width":1184},"id":"3964c129-4f83-48ff-9c4d-ddedd28264e3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1504,-160],"typeVersion":1},{"parameters":{"content":"# 📑 STEP 2 — Create Image with NanoBanana\n","height":592,"width":1328},"id":"0f7c7faf-8ce3-4c2a-b7cc-4adcfb18042a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[2736,-160],"typeVersion":1},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[2].file_id }}","additionalFields":{}},"id":"7cc5561e-b856-4188-9a6f-5586b603b49d","name":"Telegram: Get Image File","type":"n8n-nodes-base.telegram","position":[2000,-96],"webhookId":"06ceb31d-dcd9-4a9a-bbbe-a7bf7ae0ad4a","typeVersion":1.2},{"parameters":{"name":"={{ $('Telegram Trigger: Receive Video Idea').item.json.message.photo[2].file_unique_id }}","driveId":{"__rl":true,"mode":"id","value":"="},"folderId":{"__rl":true,"mode":"id","value":"="},"options":{}},"id":"f0b248c2-0b81-4ee4-912a-ed967b6c5967","name":"Google Drive: Upload Image","type":"n8n-nodes-base.googleDrive","position":[2016,96],"typeVersion":3},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"id","value":"="},"sheetName":{"__rl":true,"mode":"id","value":"="},"columns":{"value":{"STATUS":"EN COURS","CAPTION":"={{ $('Telegram Trigger: Receive Video Idea').item.json.message.caption }}","IMAGE URL":"={{ $json.webContentLink }}","IMAGE NAME":"={{ $('Telegram Trigger: Receive Video Idea').item.json.message.photo[2].file_unique_id }}"},"schema":[{"id":"IMAGE NAME","type":"string","display":true,"removed":false,"required":false,"displayName":"IMAGE NAME","defaultMatch":false,"canBeUsedToMatch":true},{"id":"IMAGE URL","type":"string","display":true,"removed":false,"required":false,"displayName":"IMAGE URL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"IMAGE DESCRIPTION","type":"string","display":true,"removed":true,"required":false,"displayName":"IMAGE DESCRIPTION","defaultMatch":false,"canBeUsedToMatch":true},{"id":"CAPTION","type":"string","display":true,"removed":false,"required":false,"displayName":"CAPTION","defaultMatch":false,"canBeUsedToMatch":true},{"id":"STATUS","type":"string","display":true,"removed":false,"required":false,"displayName":"STATUS","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["IMAGE NAME"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"dc6dd265-f19b-4409-9c96-91f5713c1ab8","name":"Google Sheets: Log Image & Caption","type":"n8n-nodes-base.googleSheets","position":[2016,272],"typeVersion":4.7},{"parameters":{"assignments":{"assignments":[{"id":"af62651a-3fc8-419d-908b-6514f6f4bcb3","name":"YOUR_BOT_TOKEN","type":"string","value":""}]},"options":{}},"id":"3e0fbafa-0b60-4ada-b73c-779e02b4a348","name":"Set: Bot Token (Placeholder)","type":"n8n-nodes-base.set","position":[2256,32],"typeVersion":3.4},{"parameters":{"url":"=https://api.telegram.org/bot{{ $json.YOUR_BOT_TOKEN }}/getFile?file_id={{ $('Telegram Trigger: Receive Video Idea').item.json.message.photo[3].file_id }}","options":{}},"id":"198db184-5995-43b1-bb86-524fe4bbd3f6","name":"Telegram API: Get File URL","type":"n8n-nodes-base.httpRequest","position":[2448,32],"typeVersion":4.2},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"chatgpt-4o-latest","cachedResultName":"CHATGPT-4O-LATEST"},"text":"=You are an image analysis assistant.\n\nYour task is to analyze the given image and output results **only in YAML format**. Do not add explanations, comments, or extra text outside YAML.\n\nRules:\n\n- If the image depicts a **product**, return:\n    \n    ```yaml\n    brand_name: (brand if visible or inferable)\n    color_scheme:\n      - hex: (hex code of each prominent color)\n        name: (descriptive name of the color)\n    font_style: (serif/sans-serif, bold/thin, etc.)\n    visual_description: (1–2 sentences summarizing what is seen, ignoring the background)\n    \n    ```\n    \n- If the image depicts a **character**, return:\n    \n    ```yaml\n    character_name: (name if visible or inferable, else \"unknown\")\n    color_scheme:\n      - hex: (hex code of each prominent color on the character)\n        name: (descriptive name of the color)\n    outfit_style: (clothing style, accessories, or notable features)\n    visual_description: (1–2 sentences summarizing what the character looks like, ignoring the background)\n    \n    ```\n    \n- If the image depicts **both**, return **both sections** in YAML.\n\nOnly output valid YAML. No explanations.","imageUrls":"=https://api.telegram.org/file/bot{{ $('Set: Bot Token (Placeholder)').item.json.YOUR_BOT_TOKEN }}/{{ $json.result.file_path }}","options":{}},"id":"3be0b7a2-98f9-49f2-b180-e62e74ead34c","name":"OpenAI Vision: Analyze Reference Image","type":"@n8n/n8n-nodes-langchain.openAi","position":[2864,32],"typeVersion":1.8},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"id","value":"="},"sheetName":{"__rl":true,"mode":"id","value":"="},"columns":{"value":{"IMAGE NAME":"={{ $('Telegram Trigger: Receive Video Idea').item.json.message.photo[2].file_unique_id }}","IMAGE DESCRIPTION":"={{ $json.content }}"},"schema":[{"id":"IMAGE NAME","type":"string","display":true,"removed":false,"required":false,"displayName":"IMAGE NAME","defaultMatch":false,"canBeUsedToMatch":true},{"id":"IMAGE URL","type":"string","display":true,"removed":true,"required":false,"displayName":"IMAGE URL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"IMAGE DESCRIPTION","type":"string","display":true,"removed":false,"required":false,"displayName":"IMAGE DESCRIPTION","defaultMatch":false,"canBeUsedToMatch":true},{"id":"CAPTION","type":"string","display":true,"removed":true,"required":false,"displayName":"CAPTION","defaultMatch":false,"canBeUsedToMatch":true},{"id":"STATUS","type":"string","display":true,"removed":true,"required":false,"displayName":"STATUS","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["IMAGE NAME"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"1972503a-99d4-4d5e-876f-439c67b96136","name":"Google Sheets: Update Image Description","type":"n8n-nodes-base.googleSheets","position":[3104,32],"typeVersion":4.7},{"parameters":{"jsonSchemaExample":"{\n\t\"image_prompt\": \"string\"\n}"},"id":"63925705-001b-488d-8784-5d1cc04c1061","name":"LLM: Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[3488,272],"typeVersion":1.3},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"id":"c7e800ee-b41a-4f90-b182-4ded155e8761","name":"LLM: OpenAI Chat","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[3280,272],"typeVersion":1.2},{"parameters":{"promptType":"define","text":"=Your task is to create an image prompt following the system guidelines.  \nEnsure that the reference image is represented as **accurately as possible**, including all text elements.  \n\nUse the following inputs:  \n\n- **User’s description:**  \n{{ $json.CAPTION }}\n\n- **Reference image description:**  \n{{ $json['IMAGE DESCRIPTION'] }}\n","hasOutputParser":true,"options":{"systemMessage":"=ROLE: UGC Image Prompt Builder  \n\nGOAL:  \nGenerate one concise, natural, and realistic image prompt (≤120 words) from a given product or reference image. The prompt must simulate authentic UGC (user-generated content) photography.  \n\nRULES:  \n- Always output **one JSON object only** with the key:  \n  - `image_prompt`: (string with full description)  \n- Do **not** add commentary, metadata, or extra keys. JSON only.  \n\nSTYLE GUIDELINES:  \n- Tone: casual, unstaged, lifelike, handheld snapshot.  \n- Camera cues: include at least 2–3 (e.g., phone snapshot, handheld framing, off-center composition, natural indoor light, soft shadows, slight motion blur, auto exposure, unpolished look, mild grain).  \n- Realism: embrace imperfections (wrinkles, stray hairs, skin texture, clutter, smudges).  \n- Packaging/Text: preserve exactly as visible. Never invent claims, numbers, or badges.  \n- Diversity: if people appear but are unspecified, vary gender/ethnicity naturally; default age range = 21–38.  \n- Setting: default to real-world everyday spaces (home, street, store, gym, office).  \n\nSAFETY:  \n- No copyrighted character names.  \n- No dialogue or scripts. Only describe scenes.  \n\nOUTPUT CONTRACT:  \n- JSON only, no prose outside.  \n- Max 120 words in `image_prompt`.  \n- Must cover: subject, action, mood, setting, style/camera, colors, and text accuracy.  \n\nCHECKLIST BEFORE OUTPUT:  \n- Natural handheld tone?  \n- At least 2 camera cues included?  \n- Product text preserved exactly?  \n- Only JSON returned?  \n\n---  \n\n### Example  \n\nGood Example :  \n```json\n{ \"image_prompt\": \"a young adult casually holding a skincare tube near a bathroom mirror; action: dabs small amount on the back of the hand; mood: easy morning; setting: small apartment bathroom with towel on rack and toothbrush cup; style/camera: phone snapshot, handheld framing, off-center composition, natural window light, slight motion blur, mild grain; colors: soft whites and mint label; text accuracy: keep every word on the tube exactly as visible, no added claims\" }\n"}},"id":"10513537-91b4-4bc5-b4fd-0c459363a7ae","name":"Generate Image Prompt","type":"@n8n/n8n-nodes-langchain.agent","position":[3328,32],"typeVersion":2.2},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/nano-banana/edit","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n\t\"prompt\": \"{{ $json.output.image_prompt.replace(/\\\"/g, '\\\\\\\"').replace(/\\n/g, '\\\\n') }}\",\n\"image_urls\": [\"{{ $('Google Drive: Upload Image').item.json.webContentLink }}\"]\n\n}\n\n","options":{}},"id":"982e4bec-672d-4acf-8de3-ea0a6e616565","name":"NanoBanana: Create Image","type":"n8n-nodes-base.httpRequest","position":[3664,32],"typeVersion":4.2},{"parameters":{"amount":20},"id":"5c9c5e34-bcd1-403b-932b-448eb918194c","name":"Wait for Image Edit","type":"n8n-nodes-base.wait","position":[3872,32],"webhookId":"df52d997-45c4-431f-bdf6-89dd25027b5b","typeVersion":1.1},{"parameters":{"url":"={{ $json.response_url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"d6d7a02a-bc1b-46fd-b847-4783ff4e9a6f","name":"Download Edited Image","type":"n8n-nodes-base.httpRequest","position":[3872,256],"typeVersion":4.2},{"parameters":{"documentId":{"__rl":true,"mode":"id","value":"="},"sheetName":{"__rl":true,"mode":"id","value":"="},"options":{}},"id":"01637996-2dcf-4bba-87d8-e1b56ece4249","name":"Google Sheets: Read Video Parameters (CONFIG)","type":"n8n-nodes-base.googleSheets","position":[1808,592],"typeVersion":4.6},{"parameters":{"chatId":"={{ $('Telegram Trigger: Receive Video Idea').item.json.message.chat.id }}","text":"Published","additionalFields":{}},"id":"95f0d3a7-8ba0-4381-8c84-2b78775d75cb","name":"Telegram: Send notification","type":"n8n-nodes-base.telegram","position":[3888,1120],"webhookId":"2f4a4bc1-99de-4e93-8523-dd8c6499b893","typeVersion":1.2},{"parameters":{"content":"# 🎬 Generate AI viral videos with NanoBanana & VEO3, shared on socials via Blotato (By Dr. Firas)\n\n\n# 🎥 Full Tutorial :\n[![AI Voice Agent Preview](https://www.dr-firas.com/nanobanana.png)](https://youtu.be/nlwpbXQqNQ4)\n\n---\n\n# 📘 Documentation  \nAccess detailed setup instructions, API config, platform connection guides, and workflow customization tips:\n\n📎 [Open the full documentation on Notion](https://automatisation.notion.site/NonoBanan-2643d6550fd98041aef5dcbe8ab0f7a1?source=copy_link)\n\n---\n\n# ⚙️ Requirements\n\n1. ✅ **Create a [Blotato](https://blotato.com/?ref=firas) account** (Pro plan required for API access)  \n2. 🔑 **Generate your Blotato API Key** via: `Settings > API > Generate API Key`  \n3. 📦 **Enable “Verified Community Nodes”** in the n8n admin settings  \n4. 🧩 **Install the Blotato** verified community node in n8n  \n5. 🛠 **Create a Blotato API credential** inside your n8n credentials tab  \n6. 📄 **Duplicate this [Google Sheet template](https://docs.google.com/spreadsheets/d/1FutmZHblwnk36fp59fnePjONzuJBdndqZOCuRoGWSmY/edit?usp=sharing)**  \n7. ☁️ **Make sure your Google Drive folder is PUBLIC** (anyone with the link can access)  \n8. 📌 **Complete the 3 brown sticky note steps** inside the workflow editor\n\n","height":1476,"width":700,"color":6},"id":"461f1ae3-c12e-4d0a-8820-94fae5a94834","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[784,-160],"typeVersion":1}],"connections":{"Merge":{"main":[[{"node":"Update Status to \"DONE\"","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent: Generate Video Script","type":"ai_tool","index":0}]]},"Tiktok":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Bluesky":{"main":[[{"node":"Merge","type":"main","index":7}]]},"Threads":{"main":[[{"node":"Merge","type":"main","index":6}]]},"Youtube":{"main":[[{"node":"Merge","type":"main","index":5}]]},"Facebook":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Linkedin":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Instagram":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Pinterest":{"main":[[{"node":"Merge","type":"main","index":8}]]},"Twitter (X)":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Format Prompt":{"main":[[{"node":"Generate Video with VEO3","type":"main","index":0}]]},"LLM: OpenAI Chat":{"ai_languageModel":[[{"node":"Generate Image Prompt","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent: Generate Video Script","type":"ai_languageModel","index":0}]]},"Set Master Prompt":{"main":[[{"node":"AI Agent: Generate Video Script","type":"main","index":0}]]},"Wait for Image Edit":{"main":[[{"node":"Download Edited Image","type":"main","index":0}]]},"Download Edited Image":{"main":[[{"node":"Google Sheets: Read Video Parameters (CONFIG)","type":"main","index":0}]]},"Generate Image Prompt":{"main":[[{"node":"NanoBanana: Create Image","type":"main","index":0}]]},"Update Status to \"DONE\"":{"main":[[{"node":"Telegram: Send notification","type":"main","index":0}]]},"Upload Video to BLOTATO":{"main":[[{"node":"Tiktok","type":"main","index":0},{"node":"Linkedin","type":"main","index":0},{"node":"Facebook","type":"main","index":0},{"node":"Instagram","type":"main","index":0},{"node":"Twitter (X)","type":"main","index":0},{"node":"Youtube","type":"main","index":0},{"node":"Threads","type":"main","index":0},{"node":"Bluesky","type":"main","index":0},{"node":"Pinterest","type":"main","index":0}]]},"Wait for VEO3 Rendering":{"main":[[{"node":"Download Video from VEO3","type":"main","index":0}]]},"Download Video from VEO3":{"main":[[{"node":"Rewrite Caption with GPT-4o","type":"main","index":0}]]},"Generate Video with VEO3":{"main":[[{"node":"Wait for VEO3 Rendering","type":"main","index":0}]]},"NanoBanana: Create Image":{"main":[[{"node":"Wait for Image Edit","type":"main","index":0}]]},"Send Final Video Preview":{"main":[[{"node":"Upload Video to BLOTATO","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent: Generate Video Script","type":"ai_outputParser","index":0}]]},"Telegram: Get Image File":{"main":[[{"node":"Google Drive: Upload Image","type":"main","index":0}]]},"Google Drive: Upload Image":{"main":[[{"node":"Google Sheets: Log Image & Caption","type":"main","index":0}]]},"Telegram API: Get File URL":{"main":[[{"node":"OpenAI Vision: Analyze Reference Image","type":"main","index":0}]]},"Rewrite Caption with GPT-4o":{"main":[[{"node":"Save Caption Video to Google Sheets","type":"main","index":0}]]},"Send Video URL via Telegram":{"main":[[{"node":"Send Final Video Preview","type":"main","index":0}]]},"Set: Bot Token (Placeholder)":{"main":[[{"node":"Telegram API: Get File URL","type":"main","index":0}]]},"LLM: Structured Output Parser":{"ai_outputParser":[[{"node":"Generate Image Prompt","type":"ai_outputParser","index":0}]]},"AI Agent: Generate Video Script":{"main":[[{"node":"Format Prompt","type":"main","index":0}]]},"Google Sheets: Log Image & Caption":{"main":[[{"node":"Set: Bot Token (Placeholder)","type":"main","index":0}]]},"Save Caption Video to Google Sheets":{"main":[[{"node":"Send Video URL via Telegram","type":"main","index":0}]]},"Telegram Trigger: Receive Video Idea":{"main":[[{"node":"Set: Bot Token (Placeholder)","type":"main","index":0},{"node":"Telegram: Get Image File","type":"main","index":0}]]},"OpenAI Vision: Analyze Reference Image":{"main":[[{"node":"Google Sheets: Update Image Description","type":"main","index":0}]]},"Google Sheets: Update Image Description":{"main":[[{"node":"Generate Image Prompt","type":"main","index":0}]]},"Google Sheets: Read Video Parameters (CONFIG)":{"main":[[{"node":"Set Master Prompt","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"dfdf6538-3b28-4e4b-a5f0-16b7fef5f729","triggerCount":0,"shared":[{"updatedAt":"2025-11-07T21:58:21.360Z","createdAt":"2025-11-07T21:58:21.360Z","role":"workflow:owner","workflowId":"CONgE2QcuBU5YlVu","projectId":"jFzgn8YND5hEbIq7"}],"tags":[]}